<?php

namespace {{invokerPackage}}\Api;

use Exception;
use Psr\Http\Client\ClientExceptionInterface;
use {{invokerPackage}}\Core\OAuthProvider;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;

/**
 * AbstractApi
 *
 * Abstract class for all API classes with automatic token refresh
 *
 * @package {{invokerPackage}}\Api
 */
abstract class AbstractApi
{
    public function __construct(
        private readonly OAuthProvider $oauthProvider,
        private readonly ClientInterface $httpClient,
        private readonly RequestFactoryInterface $requestFactory,
        private readonly string $baseUri
    ) {
    }

    /**
     * @throws Exception
     */
    protected function getAuthorizationHeader(): string
    {
        return $this->oauthProvider->getAuthorization();
    }

    /**
     * @throws Exception
     */
    protected function createAuthenticatedRequest(
        string $method,
        string $uri,
        array $headers = []
    ): RequestInterface {
        if (preg_match('#^https?://#i', $uri)) {
            $fullUri = $uri;
        } else {
            $fullUri = $this->baseUri . '/' . ltrim($uri, '/');
        }

        $headers['Authorization'] = $this->getAuthorizationHeader();

        $request = $this->requestFactory->createRequest($method, $fullUri);

        foreach ($headers as $name => $value) {
            $request = $request->withHeader($name, $value);
        }

        return $request;
    }

    /**
     * @throws ClientExceptionInterface
     */
    protected function sendAuthenticatedRequest(
        string $method,
        string $uri,
        array $headers = []
    ): ResponseInterface {
        $request = $this->createAuthenticatedRequest($method, $uri, $headers);

        return $this->httpClient->sendRequest($request);
    }

    /**
     * @throws Exception
     */
    public function refreshToken(): void
    {
        $this->oauthProvider->ensureValidToken();
    }
}
