<?php

namespace {{modelPackage}};

/**
 * Interface abstracting model access.
 *
{{> partial_internal_header }} */
interface Model
{
    /**
     * The original name of the model.
     */
    public function getModelName(): string;
}
