final class {{classname}} implements JsonSerializable
{
    public const DISCRIMINATOR = {{#discriminator}}'{{discriminatorName}}'{{/discriminator}}{{^discriminator}}null{{/discriminator}};

    public function __construct(
    {{#vars}}
        {{#isContainer}}
        {{#isMap}}
        /**{{#mapValueType}}
         * @var array<string,{{mapValueType}}>{{/mapValueType}}
         {{^mapValueType}}* @var string[]{{/mapValueType}}
         */
        {{/isMap}}
        {{^isMap}}
        /**
         * @var {{containerType}}
         */
        {{/isMap}}
        public readonly {{#isNullable}}?{{/isNullable}}array ${{name}}{{^-last}},{{/-last}}
        {{/isContainer}}
        {{^isContainer}}
        public readonly {{#isNullable}}?{{/isNullable}}{{{dataType}}} ${{name}}{{#defaultValue}} = {{defaultValue}}{{/defaultValue}}{{^-last}},{{/-last}}
        {{/isContainer}}
    {{/vars}}
    ) {
    }

    private static array $openAPINullables = [
        {{#vars}}'{{name}}' => {{#isNullable}}true{{/isNullable}}{{^isNullable}}false{{/isNullable}}{{^-last}},
        {{/-last}}{{/vars}}
    ];

    public function jsonSerialize(): array
    {
        return [
            {{#vars}}
            '{{name}}' => $this->{{name}},
            {{/vars}}
        ];
    }

    public function __toString(): string
    {
        return json_encode($this->jsonSerialize(), JSON_PRETTY_PRINT);
    }   
    
}
