final class {{classname}} implements JsonSerializable
{
    {{#vars}}
    public readonly {{{dataType}}} ${{name}};
    {{/vars}}

    public function __construct(
        {{#vars}}
        {{{dataType}}} ${{name}}{{^required}} = null{{/required}},
        {{/vars}}
    ) {
        {{#vars}}
        $this->{{name}} = ${{name}};
        {{/vars}}
    }

    {{#vars}}
    public function {{getter}}(): {{{dataType}}}{{^required}}|null{{/required}}
    {
        return $this->{{name}};
    }
    {{/vars}}

    public function jsonSerialize(): mixed
    {
        return [
            {{#vars}}
            '{{name}}' => $this->{{name}},
            {{/vars}}
        ];
    }

    public function __toString(): string
    {
        return json_encode($this->jsonSerialize(), JSON_PRETTY_PRINT);
    }
}
