# {{projectName}}

{{sdkLongDescription}}

> [!CAUTION]
> This project is currently in **Beta**, meaning features and APIs may evolve over time.
>
> Please report bugs or request new features by creating a GitHub issue.

<hr/>

[![Issues](https://img.shields.io/github/issues/{{composerPackageName}}.svg?style=for-the-badge&labelColor=f4f2f3&color=ffd9d9&label=Issues)](https://github.com/{{composerPackageName}}/issues)
[![Pull Requests](https://img.shields.io/github/issues-pr/{{composerPackageName}}.svg?style=for-the-badge&labelColor=f4f2f3&color=ffd9d9&label=Pull%20requests)](https://github.com/{{composerPackageName}}/pulls)
[![License](https://img.shields.io/static/v1?label=License&message=MIT&style=for-the-badge&labelColor=f4f2f3&color=ffd9d9)](https://github.com/{{composerPackageName}}/blob/master/LICENSE)

<hr/>

[![codecov](https://codecov.io/gh/{{composerPackageName}}/graph/badge.svg?token=TOF5FTUFGV)](https://codecov.io/gh/{{composerPackageName}})
[![Packagist Version](https://img.shields.io/packagist/v/{{composerPackageName}}?include_prereleases&label=packagist)](https://packagist.org/packages/{{composerPackageName}})
[![Packagist Downloads](https://img.shields.io/packagist/dt/{{composerPackageName}})](https://packagist.org/packages/{{composerPackageName}})

<hr/>

## Installation

Install the SDK via Composer:

```bash
composer require {{composerPackageName}}
```

Then include Composer's autoloader in your PHP application:

```php
require __DIR__ . '/vendor/autoload.php';
```

## Authentication

You will need an [Upsun API token](https://docs.upsun.com/administration/cli/api-tokens.html) to use this SDK.
Store it securely, preferably in an environment variable.

```php
use Upsun\UpsunConfig;
use Upsun\UpsunClient;

$config = new UpsunConfig(apiToken: getenv('UPSUN_API_TOKEN'));
$client = new UpsunClient($config);
```

## Usage

### Example: List organizations

```php
$organizations = $client->organizations->list();
```

### Example: List projects in an organization

```php
$projects = $client->organizations->listProjects('<organizationId>');
```

### Example: Get a project

```php
$project = $client->projects->get('<projectId>');
```

### Example: Create a project in a specific organization
```php
$project = $client->projects->create(
    '<organizationId>',
    'eu-5.platform.sh',
    'Project title',
    'main',
);
```

### Example: Update a project

```php
$response = $client->projects->update(
    projectId: '<projectId>',
    title: 'new Title',
    description: 'Description'
);
```

### Example: Delete a project

```php
$client->projects->delete('<projectId>');
```

---

## Development

Clone the repository and install dependencies:

```bash
git clone git@github.com:{{composerPackageName}}.git
composer install
```

## Architecture of this SDK

The SDK is built as follows:

* From the [JSON specs of our API](https://proxy.upsun.com/docs/openapispec-platformsh.json)
* Using [``@openapitools/openapi-generator-cli``](https://www.npmjs.com/package/%40openapitools/openapi-generator-cli)
* Which generates:
  * PHP **Models** (in `src/Model/`)
  * PHP **APIs** (in `src/Api/`)
* Higher-level PHP **Tasks** (in `src/Tasks/`)

![Architecture of the SDK](./assets/images/sdk-schema.png)

### Regenerating API & Model classes

API and Model classes are generated using [openapi-generator-cli](https://openapi-generator.tech)
from the [Upsun OpenAPI spec](https://proxy.upsun.com/docs/openapispec-platformsh.json).

```bash
composer run spec:install
composer run spec:full
```

## Contributing

Contributions are welcome!<br>
Please open a [pull request](https://github.com/{{composerPackageName}}/compare) or an [issue](https://github.com/{{composerPackageName}}/issues/new)
for any improvements, bug fixes, or new features.

## Full SDK Docs

To see the full SDK docs, for all API and Model classes, please see the [following link](./docs/index.md)

## Tests

To run the tests, use:

```bash
composer install
composer run test
```

## License

This project is licensed under the {{ licenseName }} License. See the [LICENSE](./LICENSE) file for details.
