<?php

namespace Upsun\Api;

use DateTime;
use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Upsun\Core\OAuthProvider;
use Upsun\Model\BlackfireProfileGraph200Response;
use Upsun\Model\BlackfireProfileProfile200Response;
use Upsun\Model\BlackfireProfilesList200Response;
use Upsun\Model\BlackfireProfilesRecommendations200Response;
use Upsun\Model\BlackfireProfileSubprofiles200Response;
use Upsun\Model\BlackfireProfileTimeline200Response;
use Upsun\Model\FilterSelect;

/**
 * Low level BlackfireProfilingApi (auto-generated)
 *
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class BlackfireProfilingApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private APIConfiguration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?APIConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            AbstractApi::BASE_PATH,
            $streamFactory
        );

        $this->config = $config ?? (new APIConfiguration())->setHost(AbstractApi::BASE_PATH);

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Get profile call graph
     *
     * Returns the call graph data for a Blackfire profile, showing function calls and their performance metrics.
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $uuid (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Blackfire-Profiling/operation/blackfire_profile_graph
     */
    public function blackfireProfileGraph(
        string $projectId,
        string $environmentId,
        string $uuid
    ): BlackfireProfileGraph200Response {
        return $this->blackfireProfileGraphWithHttpInfo(
            $projectId,
            $environmentId,
            $uuid
        );
    }

    /**
     * Get profile call graph with HTTP Info
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $uuid (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function blackfireProfileGraphWithHttpInfo(
        string $projectId,
        string $environmentId,
        string $uuid
    ): BlackfireProfileGraph200Response {
        $request = $this->blackfireProfileGraphRequest(
            $projectId,
            $environmentId,
            $uuid
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\BlackfireProfileGraph200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/observability/profiles/{uuid}/graph'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'blackfireProfileGraph'
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $uuid (required)
     *
     * @throws InvalidArgumentException
     */
    private function blackfireProfileGraphRequest(
        string $projectId,
        string $environmentId,
        string $uuid
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling blackfireProfileGraph'
            );
        }

        if (!preg_match("/[a-z0-9]+/", $projectId)) {
            throw new InvalidArgumentException(
                "invalid value for \"projectId\" when calling BlackfireProfilingApi.blackfireProfileGraph,
                must conform to the pattern /[a-z0-9]+/."
            );
        }

        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling blackfireProfileGraph'
            );
        }

        if (!preg_match("/.+/", $environmentId)) {
            throw new InvalidArgumentException(
                "invalid value for \"environmentId\" when calling BlackfireProfilingApi.blackfireProfileGraph,
                must conform to the pattern /.+/."
            );
        }

        // verify the required parameter 'uuid' is set
        if (empty($uuid)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $uuid
                when calling blackfireProfileGraph'
            );
        }

        if (!preg_match("/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/", $uuid)) {
            throw new InvalidArgumentException(
                "invalid value for \"uuid\" when calling BlackfireProfilingApi.blackfireProfileGraph,
                must conform to the pattern /[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/."
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/observability/profiles/{uuid}/graph';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }
        // path params

        if ($uuid !== null) {
            $resourcePath = str_replace(
                '{' . 'uuid' . '}',
                ObjectSerializer::toPathValue($uuid),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Get profile details
     *
     * Returns full profile data including metrics, metadata, and recommendations.
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $uuid (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Blackfire-Profiling/operation/blackfire_profile_profile
     */
    public function blackfireProfileProfile(
        string $projectId,
        string $environmentId,
        string $uuid
    ): BlackfireProfileProfile200Response {
        return $this->blackfireProfileProfileWithHttpInfo(
            $projectId,
            $environmentId,
            $uuid
        );
    }

    /**
     * Get profile details with HTTP Info
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $uuid (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function blackfireProfileProfileWithHttpInfo(
        string $projectId,
        string $environmentId,
        string $uuid
    ): BlackfireProfileProfile200Response {
        $request = $this->blackfireProfileProfileRequest(
            $projectId,
            $environmentId,
            $uuid
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\BlackfireProfileProfile200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/observability/profiles/{uuid}/profile'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'blackfireProfileProfile'
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $uuid (required)
     *
     * @throws InvalidArgumentException
     */
    private function blackfireProfileProfileRequest(
        string $projectId,
        string $environmentId,
        string $uuid
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling blackfireProfileProfile'
            );
        }

        if (!preg_match("/[a-z0-9]+/", $projectId)) {
            throw new InvalidArgumentException(
                "invalid value for \"projectId\" when calling BlackfireProfilingApi.blackfireProfileProfile,
                must conform to the pattern /[a-z0-9]+/."
            );
        }

        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling blackfireProfileProfile'
            );
        }

        if (!preg_match("/.+/", $environmentId)) {
            throw new InvalidArgumentException(
                "invalid value for \"environmentId\" when calling BlackfireProfilingApi.blackfireProfileProfile,
                must conform to the pattern /.+/."
            );
        }

        // verify the required parameter 'uuid' is set
        if (empty($uuid)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $uuid
                when calling blackfireProfileProfile'
            );
        }

        if (!preg_match("/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/", $uuid)) {
            throw new InvalidArgumentException(
                "invalid value for \"uuid\" when calling BlackfireProfilingApi.blackfireProfileProfile,
                must conform to the pattern /[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/."
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/observability/profiles/{uuid}/profile';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }
        // path params

        if ($uuid !== null) {
            $resourcePath = str_replace(
                '{' . 'uuid' . '}',
                ObjectSerializer::toPathValue($uuid),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Get profile subprofiles
     *
     * Returns subprofiles (child profiles) associated with a Blackfire profile.
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $uuid (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Blackfire-Profiling/operation/blackfire_profile_subprofiles
     */
    public function blackfireProfileSubprofiles(
        string $projectId,
        string $environmentId,
        string $uuid
    ): BlackfireProfileSubprofiles200Response {
        return $this->blackfireProfileSubprofilesWithHttpInfo(
            $projectId,
            $environmentId,
            $uuid
        );
    }

    /**
     * Get profile subprofiles with HTTP Info
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $uuid (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function blackfireProfileSubprofilesWithHttpInfo(
        string $projectId,
        string $environmentId,
        string $uuid
    ): BlackfireProfileSubprofiles200Response {
        $request = $this->blackfireProfileSubprofilesRequest(
            $projectId,
            $environmentId,
            $uuid
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\BlackfireProfileSubprofiles200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/observability/profiles/{uuid}/subprofiles'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'blackfireProfileSubprofiles'
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $uuid (required)
     *
     * @throws InvalidArgumentException
     */
    private function blackfireProfileSubprofilesRequest(
        string $projectId,
        string $environmentId,
        string $uuid
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling blackfireProfileSubprofiles'
            );
        }

        if (!preg_match("/[a-z0-9]+/", $projectId)) {
            throw new InvalidArgumentException(
                "invalid value for \"projectId\" when calling BlackfireProfilingApi.blackfireProfileSubprofiles,
                must conform to the pattern /[a-z0-9]+/."
            );
        }

        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling blackfireProfileSubprofiles'
            );
        }

        if (!preg_match("/.+/", $environmentId)) {
            throw new InvalidArgumentException(
                "invalid value for \"environmentId\" when calling BlackfireProfilingApi.blackfireProfileSubprofiles,
                must conform to the pattern /.+/."
            );
        }

        // verify the required parameter 'uuid' is set
        if (empty($uuid)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $uuid
                when calling blackfireProfileSubprofiles'
            );
        }

        if (!preg_match("/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/", $uuid)) {
            throw new InvalidArgumentException(
                "invalid value for \"uuid\" when calling BlackfireProfilingApi.blackfireProfileSubprofiles,
                must conform to the pattern /[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/."
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/observability/profiles/{uuid}/subprofiles';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }
        // path params

        if ($uuid !== null) {
            $resourcePath = str_replace(
                '{' . 'uuid' . '}',
                ObjectSerializer::toPathValue($uuid),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Get profile timeline data
     *
     * Returns timeline visualization data for a Blackfire profile, showing the execution flow over time.
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $uuid (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Blackfire-Profiling/operation/blackfire_profile_timeline
     */
    public function blackfireProfileTimeline(
        string $projectId,
        string $environmentId,
        string $uuid
    ): BlackfireProfileTimeline200Response {
        return $this->blackfireProfileTimelineWithHttpInfo(
            $projectId,
            $environmentId,
            $uuid
        );
    }

    /**
     * Get profile timeline data with HTTP Info
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $uuid (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function blackfireProfileTimelineWithHttpInfo(
        string $projectId,
        string $environmentId,
        string $uuid
    ): BlackfireProfileTimeline200Response {
        $request = $this->blackfireProfileTimelineRequest(
            $projectId,
            $environmentId,
            $uuid
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\BlackfireProfileTimeline200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/observability/profiles/{uuid}/timeline'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'blackfireProfileTimeline'
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $uuid (required)
     *
     * @throws InvalidArgumentException
     */
    private function blackfireProfileTimelineRequest(
        string $projectId,
        string $environmentId,
        string $uuid
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling blackfireProfileTimeline'
            );
        }

        if (!preg_match("/[a-z0-9]+/", $projectId)) {
            throw new InvalidArgumentException(
                "invalid value for \"projectId\" when calling BlackfireProfilingApi.blackfireProfileTimeline,
                must conform to the pattern /[a-z0-9]+/."
            );
        }

        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling blackfireProfileTimeline'
            );
        }

        if (!preg_match("/.+/", $environmentId)) {
            throw new InvalidArgumentException(
                "invalid value for \"environmentId\" when calling BlackfireProfilingApi.blackfireProfileTimeline,
                must conform to the pattern /.+/."
            );
        }

        // verify the required parameter 'uuid' is set
        if (empty($uuid)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $uuid
                when calling blackfireProfileTimeline'
            );
        }

        if (!preg_match("/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/", $uuid)) {
            throw new InvalidArgumentException(
                "invalid value for \"uuid\" when calling BlackfireProfilingApi.blackfireProfileTimeline,
                must conform to the pattern /[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/."
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/observability/profiles/{uuid}/timeline';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }
        // path params

        if ($uuid !== null) {
            $resourcePath = str_replace(
                '{' . 'uuid' . '}',
                ObjectSerializer::toPathValue($uuid),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * List profiling results
     *
     * Returns a paginated list of profiles for the environment, optionally filtered by transaction name. Proxied from
     * the Blackfire API.
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string|null $transaction (optional)
     * @param  int|null $page (optional)
     * @param  int|null $limit (optional)
     * @param  string|null $url (optional)
     * @param  bool|null $isAuto (optional)
     * @param  string|null $isPublic (optional)
     * @param  string|null $sortBy (optional)
     * @param  string|null $sortOrder (optional)
     * @param  DateTime|null $startDate (optional)
     * @param  DateTime|null $endDate (optional)
     * @param  int|null $statusCode (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Blackfire-Profiling/operation/blackfire_profiles_list
     */
    public function blackfireProfilesList(
        string $projectId,
        string $environmentId,
        ?string $transaction = null,
        ?int $page = null,
        ?int $limit = null,
        ?string $url = null,
        ?bool $isAuto = null,
        ?string $isPublic = null,
        ?string $sortBy = null,
        ?string $sortOrder = null,
        ?DateTime $startDate = null,
        ?DateTime $endDate = null,
        ?int $statusCode = null,
        ?FilterSelect $owner = null,
        ?FilterSelect $languages = null,
        ?FilterSelect $frameworks = null,
        ?int $itemsPerPage = null
    ): BlackfireProfilesList200Response {
        return $this->blackfireProfilesListWithHttpInfo(
            $projectId,
            $environmentId,
            $transaction,
            $page,
            $limit,
            $url,
            $isAuto,
            $isPublic,
            $sortBy,
            $sortOrder,
            $startDate,
            $endDate,
            $statusCode,
            $owner,
            $languages,
            $frameworks,
            $itemsPerPage
        );
    }

    /**
     * List profiling results with HTTP Info
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string|null $transaction (optional)
     * @param  int|null $page (optional)
     * @param  int|null $limit (optional)
     * @param  string|null $url (optional)
     * @param  bool|null $isAuto (optional)
     * @param  string|null $isPublic (optional)
     * @param  string|null $sortBy (optional)
     * @param  string|null $sortOrder (optional)
     * @param  DateTime|null $startDate (optional)
     * @param  DateTime|null $endDate (optional)
     * @param  int|null $statusCode (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function blackfireProfilesListWithHttpInfo(
        string $projectId,
        string $environmentId,
        ?string $transaction = null,
        ?int $page = null,
        ?int $limit = null,
        ?string $url = null,
        ?bool $isAuto = null,
        ?string $isPublic = null,
        ?string $sortBy = null,
        ?string $sortOrder = null,
        ?DateTime $startDate = null,
        ?DateTime $endDate = null,
        ?int $statusCode = null,
        ?FilterSelect $owner = null,
        ?FilterSelect $languages = null,
        ?FilterSelect $frameworks = null,
        ?int $itemsPerPage = null
    ): BlackfireProfilesList200Response {
        $request = $this->blackfireProfilesListRequest(
            $projectId,
            $environmentId,
            $transaction,
            $page,
            $limit,
            $url,
            $isAuto,
            $isPublic,
            $sortBy,
            $sortOrder,
            $startDate,
            $endDate,
            $statusCode,
            $owner,
            $languages,
            $frameworks,
            $itemsPerPage
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\BlackfireProfilesList200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/observability/profiles'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'blackfireProfilesList'
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string|null $transaction (optional)
     * @param  int|null $page (optional)
     * @param  int|null $limit (optional)
     * @param  string|null $url (optional)
     * @param  bool|null $isAuto (optional)
     * @param  string|null $isPublic (optional)
     * @param  string|null $sortBy (optional)
     * @param  string|null $sortOrder (optional)
     * @param  DateTime|null $startDate (optional)
     * @param  DateTime|null $endDate (optional)
     * @param  int|null $statusCode (optional)
     *
     * @throws InvalidArgumentException
     */
    private function blackfireProfilesListRequest(
        string $projectId,
        string $environmentId,
        ?string $transaction = null,
        ?int $page = null,
        ?int $limit = null,
        ?string $url = null,
        ?bool $isAuto = null,
        ?string $isPublic = null,
        ?string $sortBy = null,
        ?string $sortOrder = null,
        ?DateTime $startDate = null,
        ?DateTime $endDate = null,
        ?int $statusCode = null,
        ?FilterSelect $owner = null,
        ?FilterSelect $languages = null,
        ?FilterSelect $frameworks = null,
        ?int $itemsPerPage = null
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling blackfireProfilesList'
            );
        }

        if (!preg_match("/[a-z0-9]+/", $projectId)) {
            throw new InvalidArgumentException(
                "invalid value for \"projectId\" when calling BlackfireProfilingApi.blackfireProfilesList,
                must conform to the pattern /[a-z0-9]+/."
            );
        }

        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling blackfireProfilesList'
            );
        }

        if (!preg_match("/.+/", $environmentId)) {
            throw new InvalidArgumentException(
                "invalid value for \"environmentId\" when calling BlackfireProfilingApi.blackfireProfilesList,
                must conform to the pattern /.+/."
            );
        }

        if ($page !== null && $page < 1) {
            throw new InvalidArgumentException(
                'invalid value for "$page" when calling BlackfireProfilingApi.blackfireProfilesList,
                must be bigger than or equal to 1.'
            );
        }

        if ($limit !== null && $limit > 100) {
            throw new InvalidArgumentException(
                'invalid value for "$limit" when calling BlackfireProfilingApi.blackfireProfilesList,
                must be smaller than or equal to 100.'
            );
        }

        if ($limit !== null && $limit < 1) {
            throw new InvalidArgumentException(
                'invalid value for "$limit" when calling BlackfireProfilingApi.blackfireProfilesList,
                must be bigger than or equal to 1.'
            );
        }

        if ($itemsPerPage !== null && $itemsPerPage > 100) {
            throw new InvalidArgumentException(
                'invalid value for "$itemsPerPage" when calling BlackfireProfilingApi.blackfireProfilesList,
                must be smaller than or equal to 100.'
            );
        }

        if ($itemsPerPage !== null && $itemsPerPage < 1) {
            throw new InvalidArgumentException(
                'invalid value for "$itemsPerPage" when calling BlackfireProfilingApi.blackfireProfilesList,
                must be bigger than or equal to 1.'
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/observability/profiles';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($transaction !== null) {
            if ('form' === 'form' && is_array($transaction)) {
                foreach ($transaction as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['transaction'] = $transaction instanceof DateTime
                    ? $transaction->format(DATE_ATOM)
                    : ($transaction);
            }
        }

        // query params
        if ($page !== null) {
            if ('form' === 'form' && is_array($page)) {
                foreach ($page as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page'] = $page instanceof DateTime
                    ? $page->format(DATE_ATOM)
                    : ($page);
            }
        }

        // query params
        if ($limit !== null) {
            if ('form' === 'form' && is_array($limit)) {
                foreach ($limit as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['limit'] = $limit instanceof DateTime
                    ? $limit->format(DATE_ATOM)
                    : ($limit);
            }
        }

        // query params
        if ($url !== null) {
            if ('form' === 'form' && is_array($url)) {
                foreach ($url as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['url'] = $url instanceof DateTime
                    ? $url->format(DATE_ATOM)
                    : ($url);
            }
        }

        // query params
        if ($isAuto !== null) {
            if ('form' === 'form' && is_array($isAuto)) {
                foreach ($isAuto as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['is_auto'] = $isAuto instanceof DateTime
                    ? $isAuto->format(DATE_ATOM)
                    : ($isAuto);
            }
        }

        // query params
        if ($isPublic !== null) {
            if ('form' === 'form' && is_array($isPublic)) {
                foreach ($isPublic as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['is_public'] = $isPublic instanceof DateTime
                    ? $isPublic->format(DATE_ATOM)
                    : ($isPublic);
            }
        }

        // query params
        if ($sortBy !== null) {
            if ('form' === 'form' && is_array($sortBy)) {
                foreach ($sortBy as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['sort_by'] = $sortBy instanceof DateTime
                    ? $sortBy->format(DATE_ATOM)
                    : ($sortBy);
            }
        }

        // query params
        if ($sortOrder !== null) {
            if ('form' === 'form' && is_array($sortOrder)) {
                foreach ($sortOrder as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['sort_order'] = $sortOrder instanceof DateTime
                    ? $sortOrder->format(DATE_ATOM)
                    : ($sortOrder);
            }
        }

        // query params
        if ($startDate !== null) {
            if ('form' === 'form' && is_array($startDate)) {
                foreach ($startDate as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['start_date'] = $startDate instanceof DateTime
                    ? $startDate->format(DATE_ATOM)
                    : ($startDate);
            }
        }

        // query params
        if ($endDate !== null) {
            if ('form' === 'form' && is_array($endDate)) {
                foreach ($endDate as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['end_date'] = $endDate instanceof DateTime
                    ? $endDate->format(DATE_ATOM)
                    : ($endDate);
            }
        }

        // query params
        if ($statusCode !== null) {
            if ('form' === 'form' && is_array($statusCode)) {
                foreach ($statusCode as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['status_code'] = $statusCode instanceof DateTime
                    ? $statusCode->format(DATE_ATOM)
                    : ($statusCode);
            }
        }

        // query params
        if ($owner !== null) {
            if ('form' === 'form' && is_array($owner)) {
                foreach ($owner as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['owner'] = $owner instanceof DateTime
                    ? $owner->format(DATE_ATOM)
                    : ($owner->getEq());
            }
        }

        // query params
        if ($languages !== null) {
            if ('form' === 'form' && is_array($languages)) {
                foreach ($languages as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['languages'] = $languages instanceof DateTime
                    ? $languages->format(DATE_ATOM)
                    : ($languages->getEq());
            }
        }

        // query params
        if ($frameworks !== null) {
            if ('form' === 'form' && is_array($frameworks)) {
                foreach ($frameworks as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['frameworks'] = $frameworks instanceof DateTime
                    ? $frameworks->format(DATE_ATOM)
                    : ($frameworks->getEq());
            }
        }

        // query params
        if ($itemsPerPage !== null) {
            if ('form' === 'form' && is_array($itemsPerPage)) {
                foreach ($itemsPerPage as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['items_per_page'] = $itemsPerPage instanceof DateTime
                    ? $itemsPerPage->format(DATE_ATOM)
                    : ($itemsPerPage);
            }
        }

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Get recommendation statistics
     *
     * Returns recommendation statistics for the environment, optionally filtered by transaction. Proxied from the
     * Blackfire API. Each recommendation includes the constraint details, occurrence count, and links to the latest
     * profile and documentation.
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  int|null $from (optional)
     * @param  int|null $to (optional)
     * @param  string|null $transaction (optional)
     * @param  int|null $limit (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Blackfire-Profiling/operation/blackfire_profiles_recommendations
     */
    public function blackfireProfilesRecommendations(
        string $projectId,
        string $environmentId,
        ?int $from = null,
        ?int $to = null,
        ?string $transaction = null,
        ?int $limit = null
    ): BlackfireProfilesRecommendations200Response {
        return $this->blackfireProfilesRecommendationsWithHttpInfo(
            $projectId,
            $environmentId,
            $from,
            $to,
            $transaction,
            $limit
        );
    }

    /**
     * Get recommendation statistics with HTTP Info
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  int|null $from (optional)
     * @param  int|null $to (optional)
     * @param  string|null $transaction (optional)
     * @param  int|null $limit (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function blackfireProfilesRecommendationsWithHttpInfo(
        string $projectId,
        string $environmentId,
        ?int $from = null,
        ?int $to = null,
        ?string $transaction = null,
        ?int $limit = null
    ): BlackfireProfilesRecommendations200Response {
        $request = $this->blackfireProfilesRecommendationsRequest(
            $projectId,
            $environmentId,
            $from,
            $to,
            $transaction,
            $limit
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\BlackfireProfilesRecommendations200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/observability/profiles/recommendations'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'blackfireProfilesRecommendations'
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  int|null $from (optional)
     * @param  int|null $to (optional)
     * @param  string|null $transaction (optional)
     * @param  int|null $limit (optional)
     *
     * @throws InvalidArgumentException
     */
    private function blackfireProfilesRecommendationsRequest(
        string $projectId,
        string $environmentId,
        ?int $from = null,
        ?int $to = null,
        ?string $transaction = null,
        ?int $limit = null
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling blackfireProfilesRecommendations'
            );
        }

        if (!preg_match("/[a-z0-9]+/", $projectId)) {
            throw new InvalidArgumentException(
                "invalid value for \"projectId\" when calling BlackfireProfilingApi.blackfireProfilesRecommendations,
                must conform to the pattern /[a-z0-9]+/."
            );
        }

        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling blackfireProfilesRecommendations'
            );
        }

        if (!preg_match("/.+/", $environmentId)) {
            throw new InvalidArgumentException(
                "invalid value for \"environmentId\" when calling BlackfireProfilingApi.blackfireProfilesRecommendations,
                must conform to the pattern /.+/."
            );
        }

        if ($limit !== null && $limit > 200) {
            throw new InvalidArgumentException(
                'invalid value for "$limit" when calling BlackfireProfilingApi.blackfireProfilesRecommendations,
                must be smaller than or equal to 200.'
            );
        }

        if ($limit !== null && $limit < 10) {
            throw new InvalidArgumentException(
                'invalid value for "$limit" when calling BlackfireProfilingApi.blackfireProfilesRecommendations,
                must be bigger than or equal to 10.'
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/observability/profiles/recommendations';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($from !== null) {
            if ('form' === 'form' && is_array($from)) {
                foreach ($from as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['from'] = $from instanceof DateTime
                    ? $from->format(DATE_ATOM)
                    : ($from);
            }
        }

        // query params
        if ($to !== null) {
            if ('form' === 'form' && is_array($to)) {
                foreach ($to as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['to'] = $to instanceof DateTime
                    ? $to->format(DATE_ATOM)
                    : ($to);
            }
        }

        // query params
        if ($transaction !== null) {
            if ('form' === 'form' && is_array($transaction)) {
                foreach ($transaction as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['transaction'] = $transaction instanceof DateTime
                    ? $transaction->format(DATE_ATOM)
                    : ($transaction);
            }
        }

        // query params
        if ($limit !== null) {
            if ('form' === 'form' && is_array($limit)) {
                foreach ($limit as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['limit'] = $limit instanceof DateTime
                    ? $limit->format(DATE_ATOM)
                    : ($limit);
            }
        }

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
