<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Upsun\Core\OAuthProvider;
use Upsun\Model\AcceptedResponse;
use Upsun\Model\Deployment;
use Upsun\Model\UpdateProjectsEnvironmentsDeploymentsNextRequest;

/**
 * Low level DeploymentApi (auto-generated)
 *
 * @author    Upsun Advocacy Team
 * @license   MIT
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class DeploymentApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private APIConfiguration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?APIConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            'https://api.upsun.com',
            $streamFactory
        );

        $this->config = $config ?? (new APIConfiguration())->setHost('https://api.upsun.com');

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Get a single environment deployment
     *
     * Retrieve a single deployment configuration with an id of `current`. This may be subject to change in the future.
     * Only `current` can be queried.
     *
     *
     * @throws ApiException on non-2xx response
     * @throws ClientExceptionInterface
     * @return Deployment
     *
     * @see https://docs.upsun.com/api/#tag/Deployment/operation/get-projects-environments-deployments
     */
    public function getProjectsEnvironmentsDeployments(
        string $projectId,
        string $environmentId,
        string $deploymentId
    ): Deployment {
        return $this->getProjectsEnvironmentsDeploymentsWithHttpInfo(
            $projectId,
            $environmentId,
            $deploymentId
        );
    }

    /**
     * Get a single environment deployment with HTTP Info
     *
     *
     * @throws ApiException|ClientExceptionInterface
     * @return Deployment
     */
    private function getProjectsEnvironmentsDeploymentsWithHttpInfo(
        string $projectId,
        string $environmentId,
        string $deploymentId
    ): Deployment {
        $request = $this->getProjectsEnvironmentsDeploymentsRequest(
            $projectId,
            $environmentId,
            $deploymentId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                Deployment::class,
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/deployments/{deploymentId}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'getProjectsEnvironmentsDeployments'
     *
     * @throws InvalidArgumentException
     */
    private function getProjectsEnvironmentsDeploymentsRequest(
        string $projectId,
        string $environmentId,
        string $deploymentId
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling getProjectsEnvironmentsDeployments'
            );
        }

        // verify the required parameter 'environmentId' is set
        if (
            $environmentId === null
            || (is_array($environmentId)
            && count($environmentId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId 
                when calling getProjectsEnvironmentsDeployments'
            );
        }

        // verify the required parameter 'deploymentId' is set
        if (
            $deploymentId === null
            || (is_array($deploymentId)
            && count($deploymentId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $deploymentId 
                when calling getProjectsEnvironmentsDeployments'
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/deployments/{deploymentId}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }

        // path params
        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }

        // path params
        if ($deploymentId !== null) {
            $resourcePath = str_replace(
                '{' . 'deploymentId' . '}',
                ObjectSerializer::toPathValue($deploymentId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Get an environment's deployment information
     *
     * Retrieve the read-only configuration of an environment's deployment. The returned information is everything
     * required to recreate a project's current deployment. More specifically, the objects returned by this endpoint
     * contain the configuration derived from the repository's YAML configuration file: `.upsun/config.yaml`.
     * Additionally, any values deriving from environment variables, the domains attached to a project, project access
     * settings, etc. are included here. This endpoint currently returns a list containing a single deployment
     * configuration with an `id` of `current`. This may be subject to change in the future.
     *
     *
     * @throws ApiException on non-2xx response
     * @throws ClientExceptionInterface
     * @return Deployment[]
     *
     * @see https://docs.upsun.com/api/#tag/Deployment/operation/list-projects-environments-deployments
     */
    public function listProjectsEnvironmentsDeployments(
        string $projectId,
        string $environmentId
    ): array {
        return $this->listProjectsEnvironmentsDeploymentsWithHttpInfo(
            $projectId,
            $environmentId
        );
    }

    /**
     * Get an environment's deployment information with HTTP Info
     *
     *
     * @throws ApiException|ClientExceptionInterface
     * @return Deployment[]
     */
    private function listProjectsEnvironmentsDeploymentsWithHttpInfo(
        string $projectId,
        string $environmentId
    ): array {
        $request = $this->listProjectsEnvironmentsDeploymentsRequest(
            $projectId,
            $environmentId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Deployment[]',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/deployments'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'listProjectsEnvironmentsDeployments'
     *
     * @throws InvalidArgumentException
     */
    private function listProjectsEnvironmentsDeploymentsRequest(
        string $projectId,
        string $environmentId
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling listProjectsEnvironmentsDeployments'
            );
        }

        // verify the required parameter 'environmentId' is set
        if (
            $environmentId === null
            || (is_array($environmentId)
            && count($environmentId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId 
                when calling listProjectsEnvironmentsDeployments'
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/deployments';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }

        // path params
        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Update the next deployment
     *
     * Update resources for either webapps, services, or workers in the next deployment.
     *
     *
     * @throws ApiException on non-2xx response
     * @throws ClientExceptionInterface
     * @return AcceptedResponse
     *
     * @see https://docs.upsun.com/api/#tag/Deployment/operation/update-projects-environments-deployments-next
     */
    public function updateProjectsEnvironmentsDeploymentsNext(
        string $projectId,
        string $environmentId,
        UpdateProjectsEnvironmentsDeploymentsNextRequest $updateProjectsEnvironmentsDeploymentsNextRequest
    ): AcceptedResponse {
        return $this->updateProjectsEnvironmentsDeploymentsNextWithHttpInfo(
            $projectId,
            $environmentId,
            $updateProjectsEnvironmentsDeploymentsNextRequest
        );
    }

    /**
     * Update the next deployment with HTTP Info
     *
     *
     * @throws ApiException|ClientExceptionInterface
     * @return AcceptedResponse
     */
    private function updateProjectsEnvironmentsDeploymentsNextWithHttpInfo(
        string $projectId,
        string $environmentId,
        UpdateProjectsEnvironmentsDeploymentsNextRequest $updateProjectsEnvironmentsDeploymentsNextRequest
    ): AcceptedResponse {
        $request = $this->updateProjectsEnvironmentsDeploymentsNextRequest(
            $projectId,
            $environmentId,
            $updateProjectsEnvironmentsDeploymentsNextRequest
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                AcceptedResponse::class,
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/deployments/next'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'updateProjectsEnvironmentsDeploymentsNext'
     *
     * @throws InvalidArgumentException
     */
    private function updateProjectsEnvironmentsDeploymentsNextRequest(
        string $projectId,
        string $environmentId,
        UpdateProjectsEnvironmentsDeploymentsNextRequest $updateProjectsEnvironmentsDeploymentsNextRequest
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling updateProjectsEnvironmentsDeploymentsNext'
            );
        }

        // verify the required parameter 'environmentId' is set
        if (
            $environmentId === null
            || (is_array($environmentId)
            && count($environmentId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId 
                when calling updateProjectsEnvironmentsDeploymentsNext'
            );
        }

        // verify the required parameter 'updateProjectsEnvironmentsDeploymentsNextRequest' is set
        if (
            $updateProjectsEnvironmentsDeploymentsNextRequest === null
            || (is_array($updateProjectsEnvironmentsDeploymentsNextRequest)
            && count($updateProjectsEnvironmentsDeploymentsNextRequest) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $updateProjectsEnvironmentsDeploymentsNextRequest 
                when calling updateProjectsEnvironmentsDeploymentsNext'
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/deployments/next';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }

        // path params
        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($updateProjectsEnvironmentsDeploymentsNextRequest)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(
                    ObjectSerializer::sanitizeForSerialization($updateProjectsEnvironmentsDeploymentsNextRequest)
                );
            } else {
                $httpBody = $updateProjectsEnvironmentsDeploymentsNextRequest;
            }
        } elseif ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('PATCH', $uri, $headers, $httpBody);
    }
}
