<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Upsun\Core\OAuthProvider;

/**
 * Low level EntrypointApi (auto-generated)
 *
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class EntrypointApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private ApiConfiguration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?ApiConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            AbstractApi::BASE_PATH,
            $streamFactory
        );

        $this->config = $config ?? (new ApiConfiguration())->setHost(AbstractApi::BASE_PATH);

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Get observability entrypoint
     *
     * Returns API entrypoint with hypermedia links to all observability endpoints (resources, logs, HTTP traffic,
     * continuous profiling, server metrics) following HATEOAS principles. Includes data retention policies per metric
     * type (retention_period, max_range, recommended_default_range in minutes), environment metadata (project_id,
     * environment_id, environment_type, vendor), and per-service resource links. Use _links for API navigation.
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Entrypoint/operation/observability_entrypoint
     */
    public function observabilityEntrypoint(
        string $projectId,
        string $environmentId
    ): mixed {
        return $this->observabilityEntrypointWithHttpInfo(
            $projectId,
            $environmentId
        );
    }

    /**
     * Get observability entrypoint with HTTP Info
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function observabilityEntrypointWithHttpInfo(
        string $projectId,
        string $environmentId
    ): mixed {
        $request = $this->observabilityEntrypointRequest(
            $projectId,
            $environmentId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ObservabilityEntrypoint200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/observability'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'observabilityEntrypoint'
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     *
     * @throws InvalidArgumentException
     */
    private function observabilityEntrypointRequest(
        string $projectId,
        string $environmentId
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling observabilityEntrypoint'
            );
        }

        if (!preg_match("/[a-z0-9]+/", $projectId)) {
            throw new InvalidArgumentException(
                "invalid value for \"projectId\" when calling EntrypointApi.observabilityEntrypoint,
                must conform to the pattern /[a-z0-9]+/."
            );
        }

        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling observabilityEntrypoint'
            );
        }

        if (!preg_match("/.+/", $environmentId)) {
            throw new InvalidArgumentException(
                "invalid value for \"environmentId\" when calling EntrypointApi.observabilityEntrypoint,
                must conform to the pattern /.+/."
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/observability';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
