<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Upsun\Core\OAuthProvider;
use Upsun\Model\AcceptedResponse;
use Upsun\Model\Activity;

/**
 * Low level EnvironmentActivityApi (auto-generated)
 *
 * @license   MIT
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class EnvironmentActivityApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private APIConfiguration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?APIConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            AbstractApi::BASE_PATH,
            $streamFactory
        );

        $this->config = $config ?? (new APIConfiguration())->setHost(AbstractApi::BASE_PATH);

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Cancel an environment activity
     *
     * Cancel a single activity as specified by an `id` returned by the Get environment activities list
     * (https://docs.upsun.com/api/#tag/Environment-Activity/paths//projects/{projectId}/environments/{environmentId}/activities/get)
     * endpoint. Please note that not all activities are cancelable.
     *
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Environment-Activity/operation/action-projects-environments-activities-cancel
     */
    public function actionProjectsEnvironmentsActivitiesCancel(
        string $projectId,
        string $environmentId,
        string $activityId
    ): AcceptedResponse {
        return $this->actionProjectsEnvironmentsActivitiesCancelWithHttpInfo(
            $projectId,
            $environmentId,
            $activityId
        );
    }

    /**
     * Cancel an environment activity with HTTP Info
     *
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function actionProjectsEnvironmentsActivitiesCancelWithHttpInfo(
        string $projectId,
        string $environmentId,
        string $activityId
    ): AcceptedResponse {
        $request = $this->actionProjectsEnvironmentsActivitiesCancelRequest(
            $projectId,
            $environmentId,
            $activityId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\AcceptedResponse',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/activities/{activityId}/cancel'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'actionProjectsEnvironmentsActivitiesCancel'
     *
     *
     * @throws InvalidArgumentException
     */
    private function actionProjectsEnvironmentsActivitiesCancelRequest(
        string $projectId,
        string $environmentId,
        string $activityId
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling actionProjectsEnvironmentsActivitiesCancel'
            );
        }
        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling actionProjectsEnvironmentsActivitiesCancel'
            );
        }
        // verify the required parameter 'activityId' is set
        if (empty($activityId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $activityId
                when calling actionProjectsEnvironmentsActivitiesCancel'
            );
        }        $resourcePath = '/projects/{projectId}/environments/{environmentId}/activities/{activityId}/cancel';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }
        // path params

        if ($activityId !== null) {
            $resourcePath = str_replace(
                '{' . 'activityId' . '}',
                ObjectSerializer::toPathValue($activityId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }

    /**
     * Get an environment activity log entry
     *
     * Retrieve a single environment activity entry as specified by an `id` returned by the Get environment activities
     * list
     * (https://docs.upsun.com/api/#tag/Environment-Activity/paths//projects/{projectId}/environments/{environmentId}/activities/get)
     * endpoint. See the documentation on that endpoint for details about the information this endpoint can return.
     *
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Environment-Activity/operation/get-projects-environments-activities
     */
    public function getProjectsEnvironmentsActivities(
        string $projectId,
        string $environmentId,
        string $activityId
    ): Activity {
        return $this->getProjectsEnvironmentsActivitiesWithHttpInfo(
            $projectId,
            $environmentId,
            $activityId
        );
    }

    /**
     * Get an environment activity log entry with HTTP Info
     *
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function getProjectsEnvironmentsActivitiesWithHttpInfo(
        string $projectId,
        string $environmentId,
        string $activityId
    ): Activity {
        $request = $this->getProjectsEnvironmentsActivitiesRequest(
            $projectId,
            $environmentId,
            $activityId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Activity',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/activities/{activityId}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'getProjectsEnvironmentsActivities'
     *
     *
     * @throws InvalidArgumentException
     */
    private function getProjectsEnvironmentsActivitiesRequest(
        string $projectId,
        string $environmentId,
        string $activityId
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling getProjectsEnvironmentsActivities'
            );
        }
        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling getProjectsEnvironmentsActivities'
            );
        }
        // verify the required parameter 'activityId' is set
        if (empty($activityId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $activityId
                when calling getProjectsEnvironmentsActivities'
            );
        }        $resourcePath = '/projects/{projectId}/environments/{environmentId}/activities/{activityId}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }
        // path params

        if ($activityId !== null) {
            $resourcePath = str_replace(
                '{' . 'activityId' . '}',
                ObjectSerializer::toPathValue($activityId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Get environment activity log
     *
     * Retrieve an environment's activity log. This returns a list of object with records of actions such as: - Commits
     * being pushed to the repository - A new environment being branched out from the specified environment - A snapshot
     * being created of the specified environment The object includes a timestamp of when the action occurred
     * (`created_at`), when the action concluded (`updated_at`), the current `state` of the action, the action's
     * completion percentage (`completion_percent`), and other related information in the `payload`. The contents of the
     * `payload` varies based on the `type` of the activity. For example: - An `environment.branch` action's `payload`
     * can contain objects representing the `parent` environment and the branching action's `outcome`. - An
     * `environment.push` action's `payload` can contain objects representing the `environment`, the specific `commits`
     * included in the push, and the `user` who pushed.
     *
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     *
     * @return \Upsun\Model\Activity[]
     * @see https://docs.upsun.com/api/#tag/Environment-Activity/operation/list-projects-environments-activities
     */
    public function listProjectsEnvironmentsActivities(
        string $projectId,
        string $environmentId
    ): array {
        return $this->listProjectsEnvironmentsActivitiesWithHttpInfo(
            $projectId,
            $environmentId
        );
    }

    /**
     * Get environment activity log with HTTP Info
     *
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     *
     * @return \Upsun\Model\Activity[]
    */
    private function listProjectsEnvironmentsActivitiesWithHttpInfo(
        string $projectId,
        string $environmentId
    ): array {
        $request = $this->listProjectsEnvironmentsActivitiesRequest(
            $projectId,
            $environmentId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Activity[]',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/activities'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'listProjectsEnvironmentsActivities'
     *
     *
     * @throws InvalidArgumentException
     */
    private function listProjectsEnvironmentsActivitiesRequest(
        string $projectId,
        string $environmentId
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling listProjectsEnvironmentsActivities'
            );
        }
        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling listProjectsEnvironmentsActivities'
            );
        }        $resourcePath = '/projects/{projectId}/environments/{environmentId}/activities';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
