<?php

namespace Upsun\Api;

use Closure;
use DateTime;
use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Upsun\Model\Invoice;
use Upsun\Model\ListOrgInvoices200Response;

/**
 * Low level InvoicesApi (auto-generated)
 *
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class InvoicesApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private ApiConfiguration $config;

    public function __construct(
        Closure $tokenProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?ApiConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $tokenProvider,
            $httpClient,
            $requestFactory,
            AbstractApi::BASE_PATH,
            $streamFactory
        );

        $this->config = $config ?? (new ApiConfiguration())->setHost(AbstractApi::BASE_PATH);

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Get invoice
     *
     * Retrieves an invoice for the specified organization.
     *
     * @param  string $invoiceId
     *         The ID of the invoice. (required)
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Invoices/operation/get-org-invoice
     */
    public function getOrgInvoice(
        string $invoiceId,
        string $organizationId
    ): Invoice {
        return $this->getOrgInvoiceWithHttpInfo(
            $invoiceId,
            $organizationId
        );
    }

    /**
     * Get invoice with HTTP Info
     *
     * @param  string $invoiceId
     *         The ID of the invoice. (required)
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function getOrgInvoiceWithHttpInfo(
        string $invoiceId,
        string $organizationId
    ): Invoice {
        $request = $this->getOrgInvoiceRequest(
            $invoiceId,
            $organizationId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Invoice',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/invoices/{invoice_id}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'getOrgInvoice'
     *
     * @param  string $invoiceId
     *         The ID of the invoice. (required)
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     *
     * @throws InvalidArgumentException
     */
    private function getOrgInvoiceRequest(
        string $invoiceId,
        string $organizationId
    ): RequestInterface {
        // verify the required parameter 'invoiceId' is set
        if (empty($invoiceId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $invoiceId
                when calling getOrgInvoice'
            );
        }
        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling getOrgInvoice'
            );
        }

        $resourcePath = '/organizations/{organization_id}/invoices/{invoice_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($invoiceId !== null) {
            $resourcePath = str_replace(
                '{' . 'invoice_id' . '}',
                ObjectSerializer::toPathValue($invoiceId),
                $resourcePath
            );
        }
        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * List invoices
     *
     * Retrieves a list of invoices for the specified organization.
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string|null $filterStatus
     *         The status of the invoice. (optional)
     * @param  string|null $filterType
     *         The invoice type. Use invoice for standard invoices, credit_memo for
     *         refund/credit invoices. (optional)
     * @param  string|null $filterOrderId
     *         The order id of Invoice. (optional)
     * @param  int|null $page
     *         Page to be displayed. Defaults to 1. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Invoices/operation/list-org-invoices
     */
    public function listOrgInvoices(
        string $organizationId,
        ?string $filterStatus = null,
        ?string $filterType = null,
        ?string $filterOrderId = null,
        ?int $page = null
    ): ListOrgInvoices200Response {
        return $this->listOrgInvoicesWithHttpInfo(
            $organizationId,
            $filterStatus,
            $filterType,
            $filterOrderId,
            $page
        );
    }

    /**
     * List invoices with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string|null $filterStatus
     *         The status of the invoice. (optional)
     * @param  string|null $filterType
     *         The invoice type. Use invoice for standard invoices, credit_memo for
     *         refund/credit invoices. (optional)
     * @param  string|null $filterOrderId
     *         The order id of Invoice. (optional)
     * @param  int|null $page
     *         Page to be displayed. Defaults to 1. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function listOrgInvoicesWithHttpInfo(
        string $organizationId,
        ?string $filterStatus = null,
        ?string $filterType = null,
        ?string $filterOrderId = null,
        ?int $page = null
    ): ListOrgInvoices200Response {
        $request = $this->listOrgInvoicesRequest(
            $organizationId,
            $filterStatus,
            $filterType,
            $filterOrderId,
            $page
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ListOrgInvoices200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/invoices'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'listOrgInvoices'
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string|null $filterStatus
     *         The status of the invoice. (optional)
     * @param  string|null $filterType
     *         The invoice type. Use invoice for standard invoices, credit_memo for
     *         refund/credit invoices. (optional)
     * @param  string|null $filterOrderId
     *         The order id of Invoice. (optional)
     * @param  int|null $page
     *         Page to be displayed. Defaults to 1. (optional)
     *
     * @throws InvalidArgumentException
     */
    private function listOrgInvoicesRequest(
        string $organizationId,
        ?string $filterStatus = null,
        ?string $filterType = null,
        ?string $filterOrderId = null,
        ?int $page = null
    ): RequestInterface {
        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling listOrgInvoices'
            );
        }

        $resourcePath = '/organizations/{organization_id}/invoices';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterStatus !== null) {
            if ('form' === 'form' && is_array($filterStatus)) {
                foreach ($filterStatus as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[status]'] = $filterStatus instanceof DateTime
                    ? $filterStatus->format(DATE_ATOM)
                    : ($filterStatus);
            }
        }

        // query params
        if ($filterType !== null) {
            if ('form' === 'form' && is_array($filterType)) {
                foreach ($filterType as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[type]'] = $filterType instanceof DateTime
                    ? $filterType->format(DATE_ATOM)
                    : ($filterType);
            }
        }

        // query params
        if ($filterOrderId !== null) {
            if ('form' === 'form' && is_array($filterOrderId)) {
                foreach ($filterOrderId as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[order_id]'] = $filterOrderId instanceof DateTime
                    ? $filterOrderId->format(DATE_ATOM)
                    : ($filterOrderId);
            }
        }

        // query params
        if ($page !== null) {
            if ('form' === 'form' && is_array($page)) {
                foreach ($page as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page'] = $page instanceof DateTime
                    ? $page->format(DATE_ATOM)
                    : ($page);
            }
        }

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
