<?php

namespace Upsun\Api;

use DateTime;
use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Upsun\Core\TokenProvider;
use Upsun\Model\CreateAuthorizationCredentials200Response;
use Upsun\Model\ListOrgOrders200Response;
use Upsun\Model\Order;

/**
 * Low level OrdersApi (auto-generated)
 *
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class OrdersApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private ApiConfiguration $config;

    public function __construct(
        TokenProvider $tokenProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?ApiConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $tokenProvider,
            $httpClient,
            $requestFactory,
            AbstractApi::BASE_PATH,
            $streamFactory
        );

        $this->config = $config ?? (new ApiConfiguration())->setHost(AbstractApi::BASE_PATH);

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Create confirmation credentials for for 3D-Secure
     *
     * Creates confirmation credentials for payments that require online authorization
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string $orderId
     *         The ID of the order. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Orders/operation/create-authorization-credentials
     */
    public function createAuthorizationCredentials(
        string $organizationId,
        string $orderId
    ): CreateAuthorizationCredentials200Response {
        return $this->createAuthorizationCredentialsWithHttpInfo(
            $organizationId,
            $orderId
        );
    }

    /**
     * Create confirmation credentials for for 3D-Secure with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string $orderId
     *         The ID of the order. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function createAuthorizationCredentialsWithHttpInfo(
        string $organizationId,
        string $orderId
    ): CreateAuthorizationCredentials200Response {
        $request = $this->createAuthorizationCredentialsRequest(
            $organizationId,
            $orderId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\CreateAuthorizationCredentials200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/orders/{order_id}/authorize'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'createAuthorizationCredentials'
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string $orderId
     *         The ID of the order. (required)
     *
     * @throws InvalidArgumentException
     */
    private function createAuthorizationCredentialsRequest(
        string $organizationId,
        string $orderId
    ): RequestInterface {
        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling createAuthorizationCredentials'
            );
        }
        // verify the required parameter 'orderId' is set
        if (empty($orderId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $orderId
                when calling createAuthorizationCredentials'
            );
        }

        $resourcePath = '/organizations/{organization_id}/orders/{order_id}/authorize';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }
        // path params

        if ($orderId !== null) {
            $resourcePath = str_replace(
                '{' . 'order_id' . '}',
                ObjectSerializer::toPathValue($orderId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }

    /**
     * Download an invoice.
     *
     *
     * @param  string $token (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Orders/operation/download-invoice
     */
    public function downloadInvoice(
        string $token
    ): string {
        return $this->downloadInvoiceWithHttpInfo(
            $token
        );
    }

    /**
     * Download an invoice. with HTTP Info
     *
     * @param  string $token (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function downloadInvoiceWithHttpInfo(
        string $token
    ): string {
        $request = $this->downloadInvoiceRequest(
            $token
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                'string',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/orders/download'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'downloadInvoice'
     *
     * @param  string $token (required)
     *
     * @throws InvalidArgumentException
     */
    private function downloadInvoiceRequest(
        string $token
    ): RequestInterface {
        // verify the required parameter 'token' is set
        if (empty($token)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $token
                when calling downloadInvoice'
            );
        }

        $resourcePath = '/orders/download';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($token !== null) {
            if ('form' === 'form' && is_array($token)) {
                foreach ($token as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['token'] = $token instanceof DateTime
                    ? $token->format(DATE_ATOM)
                    : ($token);
            }
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/pdf'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Get order
     *
     * Retrieves an order for the specified organization.
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string $orderId
     *         The ID of the order. (required)
     * @param  string|null $mode
     *         The output mode. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Orders/operation/get-org-order
     */
    public function getOrgOrder(
        string $organizationId,
        string $orderId,
        ?string $mode = null
    ): Order {
        return $this->getOrgOrderWithHttpInfo(
            $organizationId,
            $orderId,
            $mode
        );
    }

    /**
     * Get order with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string $orderId
     *         The ID of the order. (required)
     * @param  string|null $mode
     *         The output mode. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function getOrgOrderWithHttpInfo(
        string $organizationId,
        string $orderId,
        ?string $mode = null
    ): Order {
        $request = $this->getOrgOrderRequest(
            $organizationId,
            $orderId,
            $mode
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Order',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/orders/{order_id}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'getOrgOrder'
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string $orderId
     *         The ID of the order. (required)
     * @param  string|null $mode
     *         The output mode. (optional)
     *
     * @throws InvalidArgumentException
     */
    private function getOrgOrderRequest(
        string $organizationId,
        string $orderId,
        ?string $mode = null
    ): RequestInterface {
        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling getOrgOrder'
            );
        }
        // verify the required parameter 'orderId' is set
        if (empty($orderId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $orderId
                when calling getOrgOrder'
            );
        }

        $resourcePath = '/organizations/{organization_id}/orders/{order_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($mode !== null) {
            if ('form' === 'form' && is_array($mode)) {
                foreach ($mode as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['mode'] = $mode instanceof DateTime
                    ? $mode->format(DATE_ATOM)
                    : ($mode);
            }
        }

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }
        // path params

        if ($orderId !== null) {
            $resourcePath = str_replace(
                '{' . 'order_id' . '}',
                ObjectSerializer::toPathValue($orderId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * List orders
     *
     * Retrieves orders for the specified organization.
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string|null $filterStatus
     *         The status of the order. (optional)
     * @param  int|null $filterTotal
     *         The total of the order. (optional)
     * @param  int|null $page
     *         Page to be displayed. Defaults to 1. (optional)
     * @param  string|null $mode
     *         The output mode. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Orders/operation/list-org-orders
     */
    public function listOrgOrders(
        string $organizationId,
        ?string $filterStatus = null,
        ?int $filterTotal = null,
        ?int $page = null,
        ?string $mode = null
    ): ListOrgOrders200Response {
        return $this->listOrgOrdersWithHttpInfo(
            $organizationId,
            $filterStatus,
            $filterTotal,
            $page,
            $mode
        );
    }

    /**
     * List orders with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string|null $filterStatus
     *         The status of the order. (optional)
     * @param  int|null $filterTotal
     *         The total of the order. (optional)
     * @param  int|null $page
     *         Page to be displayed. Defaults to 1. (optional)
     * @param  string|null $mode
     *         The output mode. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function listOrgOrdersWithHttpInfo(
        string $organizationId,
        ?string $filterStatus = null,
        ?int $filterTotal = null,
        ?int $page = null,
        ?string $mode = null
    ): ListOrgOrders200Response {
        $request = $this->listOrgOrdersRequest(
            $organizationId,
            $filterStatus,
            $filterTotal,
            $page,
            $mode
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ListOrgOrders200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/orders'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'listOrgOrders'
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string|null $filterStatus
     *         The status of the order. (optional)
     * @param  int|null $filterTotal
     *         The total of the order. (optional)
     * @param  int|null $page
     *         Page to be displayed. Defaults to 1. (optional)
     * @param  string|null $mode
     *         The output mode. (optional)
     *
     * @throws InvalidArgumentException
     */
    private function listOrgOrdersRequest(
        string $organizationId,
        ?string $filterStatus = null,
        ?int $filterTotal = null,
        ?int $page = null,
        ?string $mode = null
    ): RequestInterface {
        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling listOrgOrders'
            );
        }

        $resourcePath = '/organizations/{organization_id}/orders';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterStatus !== null) {
            if ('form' === 'form' && is_array($filterStatus)) {
                foreach ($filterStatus as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[status]'] = $filterStatus instanceof DateTime
                    ? $filterStatus->format(DATE_ATOM)
                    : ($filterStatus);
            }
        }

        // query params
        if ($filterTotal !== null) {
            if ('form' === 'form' && is_array($filterTotal)) {
                foreach ($filterTotal as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[total]'] = $filterTotal instanceof DateTime
                    ? $filterTotal->format(DATE_ATOM)
                    : ($filterTotal);
            }
        }

        // query params
        if ($page !== null) {
            if ('form' === 'form' && is_array($page)) {
                foreach ($page as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page'] = $page instanceof DateTime
                    ? $page->format(DATE_ATOM)
                    : ($page);
            }
        }

        // query params
        if ($mode !== null) {
            if ('form' === 'form' && is_array($mode)) {
                foreach ($mode as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['mode'] = $mode instanceof DateTime
                    ? $mode->format(DATE_ATOM)
                    : ($mode);
            }
        }

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
