<?php

namespace Upsun\Api;

use Upsun\Model\CreateAuthorizationCredentials200Response;
use Upsun\Model\Order;
use Upsun\Model\ListOrgOrders200Response;
use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use Upsun\ApiException;
use Upsun\Configuration;
use Upsun\HeaderSelector;
use Upsun\ObjectSerializer;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use InvalidArgumentException;
use Upsun\Core\OAuthProvider;

/**
 * Low level OrdersApi (auto-generated)
 *
 * @author    Upsun SDK Team
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @internal  This file was generated by OpenAPI Generator. Do not edit manually.
 * @generated
 */
final class OrdersApi extends AbstractApi
{
    private readonly HeaderSelector $headerSelector;

    private Configuration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?Configuration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?HeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            'https://api.upsun.com',
            $streamFactory
        );

        $this->config = $config ?? (new Configuration())->setHost('https://api.upsun.com');

        $this->headerSelector = $selector ?? new HeaderSelector();
    }

    public function getConfig(): Configuration
    {
        return $this->config;
    }


    /**
     * Create confirmation credentials for for 3D-Secure
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     * @see
     * curl -X POST "https://api.upsun.com/organizations/{organization_id}/orders/{order_id}/authorize" \
     *      -H "Authorization: Bearer ACCESS_TOKEN" \
     *      -H "Accept: application/json, application/problem+json"
     */
    public function createAuthorizationCredentials(
        string $organizationId,
        string $orderId
    ): CreateAuthorizationCredentials200Response {
        return $this->createAuthorizationCredentialsWithHttpInfo(
            $organizationId,
            $orderId
        );
    }

    /**
     * Create confirmation credentials for for 3D-Secure
     *
     * @throws InvalidArgumentException|Exception
     */
    private function createAuthorizationCredentialsWithHttpInfo(
        string $organizationId,
        string $orderId
    ): CreateAuthorizationCredentials200Response {
        $request = $this->createAuthorizationCredentialsRequest(
            $organizationId,
            $orderId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                CreateAuthorizationCredentials200Response::class,
                $request,
                $response
            );
        } catch (ApiException $apiException) {
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'createAuthorizationCredentials'
     *
     * @throws InvalidArgumentException
     */
    private function createAuthorizationCredentialsRequest(
        string $organizationId,
        string $orderId
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling createAuthorizationCredentials'
            );
        }

        // verify the required parameter 'orderId' is set
        if (
            $orderId === null
            || (is_array($orderId)
            && count($orderId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $orderId 
                when calling createAuthorizationCredentials'
            );
        }

        $resourcePath = '/organizations/{organization_id}/orders/{order_id}/authorize';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        // path params
        if ($orderId !== null) {
            $resourcePath = str_replace(
                '{' . 'order_id' . '}',
                ObjectSerializer::toPathValue($orderId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }

    /**
     * Download an invoice.
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     * @see
     * curl -X GET "https://api.upsun.com/orders/download?token=&#39;token_example&#39;" \
     *      -H "Authorization: Bearer ACCESS_TOKEN" \
     *      -H "Accept: application/pdf"
     */
    public function downloadInvoice(
        string $token
    ): string {
        return $this->downloadInvoiceWithHttpInfo(
            $token
        );
    }

    /**
     * Download an invoice.
     *
     * @throws InvalidArgumentException|Exception
     */
    private function downloadInvoiceWithHttpInfo(
        string $token
    ): string {
        $request = $this->downloadInvoiceRequest(
            $token
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );
        } catch (ApiException $apiException) {
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'downloadInvoice'
     *
     * @throws InvalidArgumentException
     */
    private function downloadInvoiceRequest(
        string $token
    ): RequestInterface {

        // verify the required parameter 'token' is set
        if (
            $token === null
            || (is_array($token)
            && count($token) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $token 
                when calling downloadInvoice'
            );
        }

        $resourcePath = '/orders/download';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($token !== null) {
            if ('form' === 'form' && is_array($token)) {
                foreach ($token as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['token'] = $token;
            }
        }





        $headers = $this->headerSelector->selectHeaders(
            ['application/pdf'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Get order
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     * @see
     * curl -X GET "https://api.upsun.com/organizations/{organization_id}/orders/{order_id}?mode=&#39;mode_example&#39;" \
     *      -H "Authorization: Bearer ACCESS_TOKEN" \
     *      -H "Accept: application/json, application/problem+json"
     */
    public function getOrgOrder(
        string $organizationId,
        string $orderId,
        ?string $mode = null
    ): Order {
        return $this->getOrgOrderWithHttpInfo(
            $organizationId,
            $orderId,
            $mode
        );
    }

    /**
     * Get order
     *
     * @throws InvalidArgumentException|Exception
     */
    private function getOrgOrderWithHttpInfo(
        string $organizationId,
        string $orderId,
        ?string $mode = null
    ): Order {
        $request = $this->getOrgOrderRequest(
            $organizationId,
            $orderId,
            $mode
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                Order::class,
                $request,
                $response
            );
        } catch (ApiException $apiException) {
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'getOrgOrder'
     *
     * @throws InvalidArgumentException
     */
    private function getOrgOrderRequest(
        string $organizationId,
        string $orderId,
        ?string $mode = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling getOrgOrder'
            );
        }

        // verify the required parameter 'orderId' is set
        if (
            $orderId === null
            || (is_array($orderId)
            && count($orderId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $orderId 
                when calling getOrgOrder'
            );
        }

        $resourcePath = '/organizations/{organization_id}/orders/{order_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($mode !== null) {
            if ('form' === 'form' && is_array($mode)) {
                foreach ($mode as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['mode'] = $mode;
            }
        }



        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        // path params
        if ($orderId !== null) {
            $resourcePath = str_replace(
                '{' . 'order_id' . '}',
                ObjectSerializer::toPathValue($orderId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * List orders
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return Order[]
     * @see
     * curl -X GET "https://api.upsun.com/organizations/{organization_id}/orders?filterStatus=&#39;filterStatus_example&#39;filterTotal=56page=56mode=&#39;mode_example&#39;" \
     *      -H "Authorization: Bearer ACCESS_TOKEN" \
     *      -H "Accept: application/json, application/problem+json"
     */
    public function listOrgOrders(
        string $organizationId,
        ?string $filterStatus = null,
        ?int $filterTotal = null,
        ?int $page = null,
        ?string $mode = null
    ): array {
        return $this->listOrgOrdersWithHttpInfo(
            $organizationId,
            $filterStatus,
            $filterTotal,
            $page,
            $mode
        );
    }

    /**
     * List orders
     *
     * @throws InvalidArgumentException|Exception
     */
    private function listOrgOrdersWithHttpInfo(
        string $organizationId,
        ?string $filterStatus = null,
        ?int $filterTotal = null,
        ?int $page = null,
        ?string $mode = null
    ): array {
        $request = $this->listOrgOrdersRequest(
            $organizationId,
            $filterStatus,
            $filterTotal,
            $page,
            $mode
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                ListOrgOrders200Response::class,
                $request,
                $response
            );
        } catch (ApiException $apiException) {
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'listOrgOrders'
     *
     * @throws InvalidArgumentException
     */
    private function listOrgOrdersRequest(
        string $organizationId,
        ?string $filterStatus = null,
        ?int $filterTotal = null,
        ?int $page = null,
        ?string $mode = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling listOrgOrders'
            );
        }




        $resourcePath = '/organizations/{organization_id}/orders';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterStatus !== null) {
            if ('form' === 'form' && is_array($filterStatus)) {
                foreach ($filterStatus as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[status]'] = $filterStatus;
            }
        }



        // query params
        if ($filterTotal !== null) {
            if ('form' === 'form' && is_array($filterTotal)) {
                foreach ($filterTotal as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[total]'] = $filterTotal;
            }
        }



        // query params
        if ($page !== null) {
            if ('form' === 'form' && is_array($page)) {
                foreach ($page as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page'] = $page;
            }
        }



        // query params
        if ($mode !== null) {
            if ('form' === 'form' && is_array($mode)) {
                foreach ($mode as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['mode'] = $mode;
            }
        }



        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
