<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use Psr\Http\Client\ClientExceptionInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use InvalidArgumentException;
use Upsun\Core\OAuthProvider;

/**
 * Low level OrdersApi (auto-generated)
 *
 * @author    Upsun Advocacy Team
 * @license   MIT
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually. */
final class OrdersApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;
    private APIConfiguration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?APIConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            'https://api.upsun.com',
            $streamFactory
        );

        $this->config = $config ?? (new APIConfiguration())->setHost('https://api.upsun.com');

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Create confirmation credentials for for 3D-Secure
     *
     * Creates confirmation credentials for payments that require online authorization
     *
     * @return \Upsun\Model\CreateAuthorizationCredentials200Response
     *
     * @throws ApiException on non-2xx response
     * @throws ClientExceptionInterface
     *
     * @see https://docs.upsun.com/api/#tag/Orders/operation/create-authorization-credentials
     */
    public function createAuthorizationCredentials(
        string $organizationId,
        string $orderId
    ): \Upsun\Model\CreateAuthorizationCredentials200Response {
        return $this->createAuthorizationCredentialsWithHttpInfo(
            $organizationId,
            $orderId
        );
    }

    /**
     * Create confirmation credentials for for 3D-Secure with HTTP Info
     *
     * @return \Upsun\Model\CreateAuthorizationCredentials200Response
     *
     * @throws ApiException|ClientExceptionInterface
     */
    private function createAuthorizationCredentialsWithHttpInfo(
        string $organizationId,
        string $orderId
    ): \Upsun\Model\CreateAuthorizationCredentials200Response {
        $request = $this->createAuthorizationCredentialsRequest(
            $organizationId,
            $orderId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\CreateAuthorizationCredentials200Response',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/organizations/{organization_id}/orders/{order_id}/authorize'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'createAuthorizationCredentials'
     *
     * @throws InvalidArgumentException
     */
    private function createAuthorizationCredentialsRequest(
        string $organizationId,
        string $orderId
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling createAuthorizationCredentials'
            );
        }

        // verify the required parameter 'orderId' is set
        if (
            $orderId === null
            || (is_array($orderId)
            && count($orderId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $orderId 
                when calling createAuthorizationCredentials'
            );
        }
        $resourcePath = '/organizations/{organization_id}/orders/{order_id}/authorize';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }
        // path params
        if ($orderId !== null) {
            $resourcePath = str_replace(
                '{' . 'order_id' . '}',
                ObjectSerializer::toPathValue($orderId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }
    /**
     * Download an invoice.
     *
     *
     * @throws ApiException on non-2xx response
     * @throws ClientExceptionInterface
     *
     * @see https://docs.upsun.com/api/#tag/Orders/operation/download-invoice
     */
    public function downloadInvoice(
        string $token
    ): string {
        return $this->downloadInvoiceWithHttpInfo(
            $token
        );
    }

    /**
     * Download an invoice. with HTTP Info
     *
     * @throws ApiException|ClientExceptionInterface
     */
    private function downloadInvoiceWithHttpInfo(
        string $token
    ): string {
        $request = $this->downloadInvoiceRequest(
            $token
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                'string',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/orders/download'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'downloadInvoice'
     *
     * @throws InvalidArgumentException
     */
    private function downloadInvoiceRequest(
        string $token
    ): RequestInterface {

        // verify the required parameter 'token' is set
        if (
            $token === null
            || (is_array($token)
            && count($token) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $token 
                when calling downloadInvoice'
            );
        }
        $resourcePath = '/orders/download';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($token !== null) {
            if ('form' === 'form' && is_array($token)) {
                foreach ($token as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['token'] = $token instanceof \DateTime
                    ? $token->format(DATE_ATOM)
                    : ($token);
            }
        }





        $headers = $this->headerSelector->selectHeaders(
            ['application/pdf'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
    /**
     * Get order
     *
     * Retrieves an order for the specified organization.
     *
     * @return \Upsun\Model\Order
     *
     * @throws ApiException on non-2xx response
     * @throws ClientExceptionInterface
     *
     * @see https://docs.upsun.com/api/#tag/Orders/operation/get-org-order
     */
    public function getOrgOrder(
        string $organizationId,
        string $orderId,
        ?string $mode = null
    ): \Upsun\Model\Order {
        return $this->getOrgOrderWithHttpInfo(
            $organizationId,
            $orderId,
            $mode
        );
    }

    /**
     * Get order with HTTP Info
     *
     * @return \Upsun\Model\Order
     *
     * @throws ApiException|ClientExceptionInterface
     */
    private function getOrgOrderWithHttpInfo(
        string $organizationId,
        string $orderId,
        ?string $mode = null
    ): \Upsun\Model\Order {
        $request = $this->getOrgOrderRequest(
            $organizationId,
            $orderId,
            $mode
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Order',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/organizations/{organization_id}/orders/{order_id}'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'getOrgOrder'
     *
     * @throws InvalidArgumentException
     */
    private function getOrgOrderRequest(
        string $organizationId,
        string $orderId,
        ?string $mode = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling getOrgOrder'
            );
        }

        // verify the required parameter 'orderId' is set
        if (
            $orderId === null
            || (is_array($orderId)
            && count($orderId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $orderId 
                when calling getOrgOrder'
            );
        }

        $resourcePath = '/organizations/{organization_id}/orders/{order_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($mode !== null) {
            if ('form' === 'form' && is_array($mode)) {
                foreach ($mode as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['mode'] = $mode instanceof \DateTime
                    ? $mode->format(DATE_ATOM)
                    : ($mode);
            }
        }



        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }
        // path params
        if ($orderId !== null) {
            $resourcePath = str_replace(
                '{' . 'order_id' . '}',
                ObjectSerializer::toPathValue($orderId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
    /**
     * List orders
     *
     * Retrieves orders for the specified organization.
     *
     * @return \Upsun\Model\ListOrgOrders200Response
     *
     * @throws ApiException on non-2xx response
     * @throws ClientExceptionInterface
     *
     * @see https://docs.upsun.com/api/#tag/Orders/operation/list-org-orders
     */
    public function listOrgOrders(
        string $organizationId,
        ?string $filterStatus = null,
        ?int $filterTotal = null,
        ?int $page = null,
        ?string $mode = null
    ): \Upsun\Model\ListOrgOrders200Response {
        return $this->listOrgOrdersWithHttpInfo(
            $organizationId,
            $filterStatus,
            $filterTotal,
            $page,
            $mode
        );
    }

    /**
     * List orders with HTTP Info
     *
     * @return \Upsun\Model\ListOrgOrders200Response
     *
     * @throws ApiException|ClientExceptionInterface
     */
    private function listOrgOrdersWithHttpInfo(
        string $organizationId,
        ?string $filterStatus = null,
        ?int $filterTotal = null,
        ?int $page = null,
        ?string $mode = null
    ): \Upsun\Model\ListOrgOrders200Response {
        $request = $this->listOrgOrdersRequest(
            $organizationId,
            $filterStatus,
            $filterTotal,
            $page,
            $mode
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ListOrgOrders200Response',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/organizations/{organization_id}/orders'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'listOrgOrders'
     *
     * @throws InvalidArgumentException
     */
    private function listOrgOrdersRequest(
        string $organizationId,
        ?string $filterStatus = null,
        ?int $filterTotal = null,
        ?int $page = null,
        ?string $mode = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling listOrgOrders'
            );
        }




        $resourcePath = '/organizations/{organization_id}/orders';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterStatus !== null) {
            if ('form' === 'form' && is_array($filterStatus)) {
                foreach ($filterStatus as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[status]'] = $filterStatus instanceof \DateTime
                    ? $filterStatus->format(DATE_ATOM)
                    : ($filterStatus);
            }
        }



        // query params
        if ($filterTotal !== null) {
            if ('form' === 'form' && is_array($filterTotal)) {
                foreach ($filterTotal as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[total]'] = $filterTotal instanceof \DateTime
                    ? $filterTotal->format(DATE_ATOM)
                    : ($filterTotal);
            }
        }



        // query params
        if ($page !== null) {
            if ('form' === 'form' && is_array($page)) {
                foreach ($page as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page'] = $page instanceof \DateTime
                    ? $page->format(DATE_ATOM)
                    : ($page);
            }
        }



        // query params
        if ($mode !== null) {
            if ('form' === 'form' && is_array($mode)) {
                foreach ($mode as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['mode'] = $mode instanceof \DateTime
                    ? $mode->format(DATE_ATOM)
                    : ($mode);
            }
        }



        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
