<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use Upsun\ApiException;
use Upsun\Configuration;
use Upsun\HeaderSelector;
use Upsun\ObjectSerializer;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use InvalidArgumentException;
use Upsun\Core\OAuthProvider;

/**
 * Low level OrganizationsApi (auto-generated)
 *
 * @author    Upsun SDK Team
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @internal  This file was generated by OpenAPI Generator. Do not edit manually.
 * @generated
 */
final class OrganizationsApi extends AbstractApi
{
    private readonly HeaderSelector $headerSelector;
    private Configuration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?Configuration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?HeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            'https://api.upsun.com',
            $streamFactory
        );

        $this->config = $config ?? (new Configuration())->setHost('https://api.upsun.com');

        $this->headerSelector = $selector ?? new HeaderSelector();
    }

    public function getConfig(): Configuration
    {
        return $this->config;
    }


    /**
     * Create organization
     *
     * Creates a new organization.
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return \Upsun\Model\Organization
     *
     * @see https://docs.upsun.com/api/#tag/Organizations/operation/create-org
     */
    public function createOrg(
        \Upsun\Model\CreateOrgRequest $createOrgRequest
    ): \Upsun\Model\Organization {
        return $this->createOrgWithHttpInfo(
            $createOrgRequest
        );
    }

    /**
     * Create organization with HTTP Info
     *
     * @return \Upsun\Model\Organization
     *
     * @throws InvalidArgumentException|Exception
     */
    private function createOrgWithHttpInfo(
        \Upsun\Model\CreateOrgRequest $createOrgRequest
    ): \Upsun\Model\Organization {
        $request = $this->createOrgRequest(
            $createOrgRequest
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Organization',
                $request,
                $response
            );
        } catch (ApiException $e) {
            $e->enrichWithErrorObject();
            throw $e;
        }
    }

    /**
     * Create request for operation 'createOrg'
     *
     * @throws InvalidArgumentException
     */
    private function createOrgRequest(
        \Upsun\Model\CreateOrgRequest $createOrgRequest
    ): RequestInterface {

        // verify the required parameter 'createOrgRequest' is set
        if (
            $createOrgRequest === null
            || (is_array($createOrgRequest)
            && count($createOrgRequest) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $createOrgRequest 
                when calling createOrg'
            );
        }
        $resourcePath = '/organizations';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;



        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($createOrgRequest)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(
                    ObjectSerializer::sanitizeForSerialization($createOrgRequest)
                );
            } else {
                $httpBody = $createOrgRequest;
            }
        } elseif ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }
    /**
     * Delete organization
     *
     * Deletes the specified organization.
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @see https://docs.upsun.com/api/#tag/Organizations/operation/delete-org
     */
    public function deleteOrg(
        string $organizationId
    ): void {
        $this->deleteOrgWithHttpInfo(
            $organizationId
        );
    }

    /**
     * Delete organization with HTTP Info
     *
     * @throws InvalidArgumentException|Exception
     */
    private function deleteOrgWithHttpInfo(
        string $organizationId
    ): void {
        $request = $this->deleteOrgRequest(
            $organizationId
        );

        try {
            $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );
        } catch (ApiException $e) {
            $e->enrichWithErrorObject();
            throw $e;
        }
    }

    /**
     * Create request for operation 'deleteOrg'
     *
     * @throws InvalidArgumentException
     */
    private function deleteOrgRequest(
        string $organizationId
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling deleteOrg'
            );
        }
        $resourcePath = '/organizations/{organization_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('DELETE', $uri, $headers, $httpBody);
    }
    /**
     * Get organization
     *
     * Retrieves the specified organization.
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return \Upsun\Model\Organization
     *
     * @see https://docs.upsun.com/api/#tag/Organizations/operation/get-org
     */
    public function getOrg(
        string $organizationId
    ): \Upsun\Model\Organization {
        return $this->getOrgWithHttpInfo(
            $organizationId
        );
    }

    /**
     * Get organization with HTTP Info
     *
     * @return \Upsun\Model\Organization
     *
     * @throws InvalidArgumentException|Exception
     */
    private function getOrgWithHttpInfo(
        string $organizationId
    ): \Upsun\Model\Organization {
        $request = $this->getOrgRequest(
            $organizationId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Organization',
                $request,
                $response
            );
        } catch (ApiException $e) {
            $e->enrichWithErrorObject();
            throw $e;
        }
    }

    /**
     * Create request for operation 'getOrg'
     *
     * @throws InvalidArgumentException
     */
    private function getOrgRequest(
        string $organizationId
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling getOrg'
            );
        }
        $resourcePath = '/organizations/{organization_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
    /**
     * List organizations
     *
     * Non-admin users will only see organizations they are members of.
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return \Upsun\Model\ListOrgs200Response
     *
     * @see https://docs.upsun.com/api/#tag/Organizations/operation/list-orgs
     */
    public function listOrgs(
        ?\Upsun\Model\StringFilter $filterId = null,
        ?\Upsun\Model\StringFilter $filterType = null,
        ?\Upsun\Model\StringFilter $filterOwnerId = null,
        ?\Upsun\Model\StringFilter $filterName = null,
        ?\Upsun\Model\StringFilter $filterLabel = null,
        ?\Upsun\Model\StringFilter $filterVendor = null,
        ?\Upsun\Model\ArrayFilter $filterCapabilities = null,
        ?\Upsun\Model\StringFilter $filterStatus = null,
        ?\Upsun\Model\DateTimeFilter $filterUpdatedAt = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): \Upsun\Model\ListOrgs200Response {
        return $this->listOrgsWithHttpInfo(
            $filterId,
            $filterType,
            $filterOwnerId,
            $filterName,
            $filterLabel,
            $filterVendor,
            $filterCapabilities,
            $filterStatus,
            $filterUpdatedAt,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );
    }

    /**
     * List organizations with HTTP Info
     *
     * @return \Upsun\Model\ListOrgs200Response
     *
     * @throws InvalidArgumentException|Exception
     */
    private function listOrgsWithHttpInfo(
        ?\Upsun\Model\StringFilter $filterId = null,
        ?\Upsun\Model\StringFilter $filterType = null,
        ?\Upsun\Model\StringFilter $filterOwnerId = null,
        ?\Upsun\Model\StringFilter $filterName = null,
        ?\Upsun\Model\StringFilter $filterLabel = null,
        ?\Upsun\Model\StringFilter $filterVendor = null,
        ?\Upsun\Model\ArrayFilter $filterCapabilities = null,
        ?\Upsun\Model\StringFilter $filterStatus = null,
        ?\Upsun\Model\DateTimeFilter $filterUpdatedAt = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): \Upsun\Model\ListOrgs200Response {
        $request = $this->listOrgsRequest(
            $filterId,
            $filterType,
            $filterOwnerId,
            $filterName,
            $filterLabel,
            $filterVendor,
            $filterCapabilities,
            $filterStatus,
            $filterUpdatedAt,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ListOrgs200Response',
                $request,
                $response
            );
        } catch (ApiException $e) {
            $e->enrichWithErrorObject();
            throw $e;
        }
    }

    /**
     * Create request for operation 'listOrgs'
     *
     * @throws InvalidArgumentException
     */
    private function listOrgsRequest(
        ?\Upsun\Model\StringFilter $filterId = null,
        ?\Upsun\Model\StringFilter $filterType = null,
        ?\Upsun\Model\StringFilter $filterOwnerId = null,
        ?\Upsun\Model\StringFilter $filterName = null,
        ?\Upsun\Model\StringFilter $filterLabel = null,
        ?\Upsun\Model\StringFilter $filterVendor = null,
        ?\Upsun\Model\ArrayFilter $filterCapabilities = null,
        ?\Upsun\Model\StringFilter $filterStatus = null,
        ?\Upsun\Model\DateTimeFilter $filterUpdatedAt = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): RequestInterface {












        if ($pageSize !== null && $pageSize > 100) {
            throw new \InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationsApi.listOrgs, 
                must be smaller than or equal to 100.'
            );
        }
        if ($pageSize !== null && $pageSize < 1) {
            throw new \InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationsApi.listOrgs,
                must be bigger than or equal to 1.'
            );
        }



        $resourcePath = '/organizations';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterId !== null) {
            if ('form' === 'deepObject' && is_array($filterId)) {
                foreach ($filterId as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[id]'] = $filterId instanceof \DateTime
                    ? $filterId->format(DATE_ATOM)
                    : ($filterId->getEq());
            }
        }



        // query params
        if ($filterType !== null) {
            if ('form' === 'deepObject' && is_array($filterType)) {
                foreach ($filterType as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[type]'] = $filterType instanceof \DateTime
                    ? $filterType->format(DATE_ATOM)
                    : ($filterType->getEq());
            }
        }



        // query params
        if ($filterOwnerId !== null) {
            if ('form' === 'deepObject' && is_array($filterOwnerId)) {
                foreach ($filterOwnerId as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[owner_id]'] = $filterOwnerId instanceof \DateTime
                    ? $filterOwnerId->format(DATE_ATOM)
                    : ($filterOwnerId->getEq());
            }
        }



        // query params
        if ($filterName !== null) {
            if ('form' === 'deepObject' && is_array($filterName)) {
                foreach ($filterName as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[name]'] = $filterName instanceof \DateTime
                    ? $filterName->format(DATE_ATOM)
                    : ($filterName->getEq());
            }
        }



        // query params
        if ($filterLabel !== null) {
            if ('form' === 'deepObject' && is_array($filterLabel)) {
                foreach ($filterLabel as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[label]'] = $filterLabel instanceof \DateTime
                    ? $filterLabel->format(DATE_ATOM)
                    : ($filterLabel->getEq());
            }
        }



        // query params
        if ($filterVendor !== null) {
            if ('form' === 'deepObject' && is_array($filterVendor)) {
                foreach ($filterVendor as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[vendor]'] = $filterVendor instanceof \DateTime
                    ? $filterVendor->format(DATE_ATOM)
                    : ($filterVendor->getEq());
            }
        }



        // query params
        if ($filterCapabilities !== null) {
            if ('form' === 'deepObject' && is_array($filterCapabilities)) {
                foreach ($filterCapabilities as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[capabilities]'] = $filterCapabilities instanceof \DateTime
                    ? $filterCapabilities->format(DATE_ATOM)
                    : ($filterCapabilities->getEq());
            }
        }



        // query params
        if ($filterStatus !== null) {
            if ('form' === 'deepObject' && is_array($filterStatus)) {
                foreach ($filterStatus as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[status]'] = $filterStatus instanceof \DateTime
                    ? $filterStatus->format(DATE_ATOM)
                    : ($filterStatus->getEq());
            }
        }



        // query params
        if ($filterUpdatedAt !== null) {
            if ('form' === 'deepObject' && is_array($filterUpdatedAt)) {
                foreach ($filterUpdatedAt as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[updated_at]'] = $filterUpdatedAt instanceof \DateTime
                    ? $filterUpdatedAt->format(DATE_ATOM)
                    : ($filterUpdatedAt->getEq());
            }
        }



        // query params
        if ($pageSize !== null) {
            if ('form' === 'form' && is_array($pageSize)) {
                foreach ($pageSize as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[size]'] = $pageSize instanceof \DateTime
                    ? $pageSize->format(DATE_ATOM)
                    : ($pageSize);
            }
        }



        // query params
        if ($pageBefore !== null) {
            if ('form' === 'form' && is_array($pageBefore)) {
                foreach ($pageBefore as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[before]'] = $pageBefore instanceof \DateTime
                    ? $pageBefore->format(DATE_ATOM)
                    : ($pageBefore);
            }
        }



        // query params
        if ($pageAfter !== null) {
            if ('form' === 'form' && is_array($pageAfter)) {
                foreach ($pageAfter as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[after]'] = $pageAfter instanceof \DateTime
                    ? $pageAfter->format(DATE_ATOM)
                    : ($pageAfter);
            }
        }



        // query params
        if ($sort !== null) {
            if ('form' === 'form' && is_array($sort)) {
                foreach ($sort as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['sort'] = $sort instanceof \DateTime
                    ? $sort->format(DATE_ATOM)
                    : ($sort);
            }
        }





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
    /**
     * User organizations
     *
     * Retrieves organizations that the specified user is a member of.
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return \Upsun\Model\ListUserOrgs200Response
     *
     * @see https://docs.upsun.com/api/#tag/Organizations/operation/list-user-orgs
     */
    public function listUserOrgs(
        string $userId,
        ?\Upsun\Model\StringFilter $filterId = null,
        ?\Upsun\Model\StringFilter $filterType = null,
        ?\Upsun\Model\StringFilter $filterVendor = null,
        ?\Upsun\Model\StringFilter $filterStatus = null,
        ?\Upsun\Model\DateTimeFilter $filterUpdatedAt = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): \Upsun\Model\ListUserOrgs200Response {
        return $this->listUserOrgsWithHttpInfo(
            $userId,
            $filterId,
            $filterType,
            $filterVendor,
            $filterStatus,
            $filterUpdatedAt,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );
    }

    /**
     * User organizations with HTTP Info
     *
     * @return \Upsun\Model\ListUserOrgs200Response
     *
     * @throws InvalidArgumentException|Exception
     */
    private function listUserOrgsWithHttpInfo(
        string $userId,
        ?\Upsun\Model\StringFilter $filterId = null,
        ?\Upsun\Model\StringFilter $filterType = null,
        ?\Upsun\Model\StringFilter $filterVendor = null,
        ?\Upsun\Model\StringFilter $filterStatus = null,
        ?\Upsun\Model\DateTimeFilter $filterUpdatedAt = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): \Upsun\Model\ListUserOrgs200Response {
        $request = $this->listUserOrgsRequest(
            $userId,
            $filterId,
            $filterType,
            $filterVendor,
            $filterStatus,
            $filterUpdatedAt,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ListUserOrgs200Response',
                $request,
                $response
            );
        } catch (ApiException $e) {
            $e->enrichWithErrorObject();
            throw $e;
        }
    }

    /**
     * Create request for operation 'listUserOrgs'
     *
     * @throws InvalidArgumentException
     */
    private function listUserOrgsRequest(
        string $userId,
        ?\Upsun\Model\StringFilter $filterId = null,
        ?\Upsun\Model\StringFilter $filterType = null,
        ?\Upsun\Model\StringFilter $filterVendor = null,
        ?\Upsun\Model\StringFilter $filterStatus = null,
        ?\Upsun\Model\DateTimeFilter $filterUpdatedAt = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): RequestInterface {

        // verify the required parameter 'userId' is set
        if (
            $userId === null
            || (is_array($userId)
            && count($userId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $userId 
                when calling listUserOrgs'
            );
        }








        if ($pageSize !== null && $pageSize > 100) {
            throw new \InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationsApi.listUserOrgs, 
                must be smaller than or equal to 100.'
            );
        }
        if ($pageSize !== null && $pageSize < 1) {
            throw new \InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationsApi.listUserOrgs,
                must be bigger than or equal to 1.'
            );
        }



        $resourcePath = '/users/{user_id}/organizations';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterId !== null) {
            if ('form' === 'deepObject' && is_array($filterId)) {
                foreach ($filterId as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[id]'] = $filterId instanceof \DateTime
                    ? $filterId->format(DATE_ATOM)
                    : ($filterId->getEq());
            }
        }



        // query params
        if ($filterType !== null) {
            if ('form' === 'deepObject' && is_array($filterType)) {
                foreach ($filterType as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[type]'] = $filterType instanceof \DateTime
                    ? $filterType->format(DATE_ATOM)
                    : ($filterType->getEq());
            }
        }



        // query params
        if ($filterVendor !== null) {
            if ('form' === 'deepObject' && is_array($filterVendor)) {
                foreach ($filterVendor as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[vendor]'] = $filterVendor instanceof \DateTime
                    ? $filterVendor->format(DATE_ATOM)
                    : ($filterVendor->getEq());
            }
        }



        // query params
        if ($filterStatus !== null) {
            if ('form' === 'deepObject' && is_array($filterStatus)) {
                foreach ($filterStatus as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[status]'] = $filterStatus instanceof \DateTime
                    ? $filterStatus->format(DATE_ATOM)
                    : ($filterStatus->getEq());
            }
        }



        // query params
        if ($filterUpdatedAt !== null) {
            if ('form' === 'deepObject' && is_array($filterUpdatedAt)) {
                foreach ($filterUpdatedAt as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[updated_at]'] = $filterUpdatedAt instanceof \DateTime
                    ? $filterUpdatedAt->format(DATE_ATOM)
                    : ($filterUpdatedAt->getEq());
            }
        }



        // query params
        if ($pageSize !== null) {
            if ('form' === 'form' && is_array($pageSize)) {
                foreach ($pageSize as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[size]'] = $pageSize instanceof \DateTime
                    ? $pageSize->format(DATE_ATOM)
                    : ($pageSize);
            }
        }



        // query params
        if ($pageBefore !== null) {
            if ('form' === 'form' && is_array($pageBefore)) {
                foreach ($pageBefore as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[before]'] = $pageBefore instanceof \DateTime
                    ? $pageBefore->format(DATE_ATOM)
                    : ($pageBefore);
            }
        }



        // query params
        if ($pageAfter !== null) {
            if ('form' === 'form' && is_array($pageAfter)) {
                foreach ($pageAfter as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[after]'] = $pageAfter instanceof \DateTime
                    ? $pageAfter->format(DATE_ATOM)
                    : ($pageAfter);
            }
        }



        // query params
        if ($sort !== null) {
            if ('form' === 'form' && is_array($sort)) {
                foreach ($sort as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['sort'] = $sort instanceof \DateTime
                    ? $sort->format(DATE_ATOM)
                    : ($sort);
            }
        }



        // path params
        if ($userId !== null) {
            $resourcePath = str_replace(
                '{' . 'user_id' . '}',
                ObjectSerializer::toPathValue($userId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
    /**
     * Update organization
     *
     * Updates the specified organization.
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return \Upsun\Model\Organization
     *
     * @see https://docs.upsun.com/api/#tag/Organizations/operation/update-org
     */
    public function updateOrg(
        string $organizationId,
        ?\Upsun\Model\UpdateOrgRequest $updateOrgRequest = null
    ): \Upsun\Model\Organization {
        return $this->updateOrgWithHttpInfo(
            $organizationId,
            $updateOrgRequest
        );
    }

    /**
     * Update organization with HTTP Info
     *
     * @return \Upsun\Model\Organization
     *
     * @throws InvalidArgumentException|Exception
     */
    private function updateOrgWithHttpInfo(
        string $organizationId,
        ?\Upsun\Model\UpdateOrgRequest $updateOrgRequest = null
    ): \Upsun\Model\Organization {
        $request = $this->updateOrgRequest(
            $organizationId,
            $updateOrgRequest
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Organization',
                $request,
                $response
            );
        } catch (ApiException $e) {
            $e->enrichWithErrorObject();
            throw $e;
        }
    }

    /**
     * Create request for operation 'updateOrg'
     *
     * @throws InvalidArgumentException
     */
    private function updateOrgRequest(
        string $organizationId,
        ?\Upsun\Model\UpdateOrgRequest $updateOrgRequest = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling updateOrg'
            );
        }

        $resourcePath = '/organizations/{organization_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($updateOrgRequest)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(
                    ObjectSerializer::sanitizeForSerialization($updateOrgRequest)
                );
            } else {
                $httpBody = $updateOrgRequest;
            }
        } elseif ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('PATCH', $uri, $headers, $httpBody);
    }
}
