<?php

namespace Upsun\Api;

use DateTime;
use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Upsun\Core\OAuthProvider;

/**
 * Low level OrganizationProjectsApi (auto-generated)
 *
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class OrganizationProjectsApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private APIConfiguration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?APIConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            AbstractApi::BASE_PATH,
            $streamFactory
        );

        $this->config = $config ?? (new APIConfiguration())->setHost(AbstractApi::BASE_PATH);

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Create project
     *
     * Creates a new project in the specified organization.
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Projects/operation/create-org-project
     */
    public function createOrgProject(
        string $organizationId,
        \Upsun\Model\CreateOrgProjectRequest $createOrgProjectRequest
    ): \Upsun\Model\OrganizationProject {
        return $this->createOrgProjectWithHttpInfo(
            $organizationId,
            $createOrgProjectRequest
        );
    }

    /**
     * Create project with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function createOrgProjectWithHttpInfo(
        string $organizationId,
        \Upsun\Model\CreateOrgProjectRequest $createOrgProjectRequest
    ): \Upsun\Model\OrganizationProject {
        $request = $this->createOrgProjectRequest(
            $organizationId,
            $createOrgProjectRequest
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\OrganizationProject',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/projects'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'createOrgProject'
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     *
     * @throws InvalidArgumentException
     */
    private function createOrgProjectRequest(
        string $organizationId,
        \Upsun\Model\CreateOrgProjectRequest $createOrgProjectRequest
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling createOrgProject'
            );
        }
        // verify the required parameter 'createOrgProjectRequest' is set
        if (empty($createOrgProjectRequest)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $createOrgProjectRequest
                when calling createOrgProject'
            );
        }

        $resourcePath = '/organizations/{organization_id}/projects';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($createOrgProjectRequest)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(
                    ObjectSerializer::sanitizeForSerialization($createOrgProjectRequest)
                );
            } else {
                $httpBody = $createOrgProjectRequest;
            }
        } elseif ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }

    /**
     * Delete project
     *
     * Deletes the specified project.
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $projectId
     *         The ID of the project. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Projects/operation/delete-org-project
     */
    public function deleteOrgProject(
        string $organizationId,
        string $projectId
    ): void {
        $this->deleteOrgProjectWithHttpInfo(
            $organizationId,
            $projectId
        );
    }

    /**
     * Delete project with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $projectId
     *         The ID of the project. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function deleteOrgProjectWithHttpInfo(
        string $organizationId,
        string $projectId
    ): void {
        $request = $this->deleteOrgProjectRequest(
            $organizationId,
            $projectId
        );

        try {
            $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/projects/{project_id}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'deleteOrgProject'
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $projectId
     *         The ID of the project. (required)
     *
     * @throws InvalidArgumentException
     */
    private function deleteOrgProjectRequest(
        string $organizationId,
        string $projectId
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling deleteOrgProject'
            );
        }
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling deleteOrgProject'
            );
        }

        $resourcePath = '/organizations/{organization_id}/projects/{project_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }
        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'project_id' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('DELETE', $uri, $headers, $httpBody);
    }

    /**
     * Get project
     *
     * Retrieves the specified project.
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $projectId
     *         The ID of the project. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Projects/operation/get-org-project
     */
    public function getOrgProject(
        string $organizationId,
        string $projectId
    ): \Upsun\Model\OrganizationProject {
        return $this->getOrgProjectWithHttpInfo(
            $organizationId,
            $projectId
        );
    }

    /**
     * Get project with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $projectId
     *         The ID of the project. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function getOrgProjectWithHttpInfo(
        string $organizationId,
        string $projectId
    ): \Upsun\Model\OrganizationProject {
        $request = $this->getOrgProjectRequest(
            $organizationId,
            $projectId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\OrganizationProject',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/projects/{project_id}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'getOrgProject'
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $projectId
     *         The ID of the project. (required)
     *
     * @throws InvalidArgumentException
     */
    private function getOrgProjectRequest(
        string $organizationId,
        string $projectId
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling getOrgProject'
            );
        }
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling getOrgProject'
            );
        }

        $resourcePath = '/organizations/{organization_id}/projects/{project_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }
        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'project_id' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * List projects
     *
     * Retrieves a list of projects for the specified organization.
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  \Upsun\Model\StringFilter|null $filterId (optional)
     * @param  \Upsun\Model\StringFilter|null $filterTitle
     *         Allows filtering by project `title` using one or more operators. (optional)
     * @param  \Upsun\Model\StringFilter|null $filterStatus
     *         Allows filtering by project `status` using one or more operators. (optional)
     * @param  \Upsun\Model\DateTimeFilter|null $filterUpdatedAt
     *         Allows filtering by `updated_at` using one or more operators. (optional)
     * @param  \Upsun\Model\DateTimeFilter|null $filterCreatedAt
     *         Allows filtering by `created_at` using one or more operators. (optional)
     * @param  int|null $pageSize
     *         Determines the number of items to show. (optional)
     * @param  string|null $pageBefore
     *         Pagination cursor. This is automatically generated as necessary and provided in
     *         HAL links (_links); it should not be constructed externally. (optional)
     * @param  string|null $pageAfter
     *         Pagination cursor. This is automatically generated as necessary and provided in
     *         HAL links (_links); it should not be constructed externally. (optional)
     * @param  string|null $sort (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Projects/operation/list-org-projects
     */
    public function listOrgProjects(
        string $organizationId,
        ?\Upsun\Model\StringFilter $filterId = null,
        ?\Upsun\Model\StringFilter $filterTitle = null,
        ?\Upsun\Model\StringFilter $filterStatus = null,
        ?\Upsun\Model\DateTimeFilter $filterUpdatedAt = null,
        ?\Upsun\Model\DateTimeFilter $filterCreatedAt = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): \Upsun\Model\ListOrgProjects200Response {
        return $this->listOrgProjectsWithHttpInfo(
            $organizationId,
            $filterId,
            $filterTitle,
            $filterStatus,
            $filterUpdatedAt,
            $filterCreatedAt,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );
    }

    /**
     * List projects with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  \Upsun\Model\StringFilter|null $filterId (optional)
     * @param  \Upsun\Model\StringFilter|null $filterTitle
     *         Allows filtering by project `title` using one or more operators. (optional)
     * @param  \Upsun\Model\StringFilter|null $filterStatus
     *         Allows filtering by project `status` using one or more operators. (optional)
     * @param  \Upsun\Model\DateTimeFilter|null $filterUpdatedAt
     *         Allows filtering by `updated_at` using one or more operators. (optional)
     * @param  \Upsun\Model\DateTimeFilter|null $filterCreatedAt
     *         Allows filtering by `created_at` using one or more operators. (optional)
     * @param  int|null $pageSize
     *         Determines the number of items to show. (optional)
     * @param  string|null $pageBefore
     *         Pagination cursor. This is automatically generated as necessary and provided in
     *         HAL links (_links); it should not be constructed externally. (optional)
     * @param  string|null $pageAfter
     *         Pagination cursor. This is automatically generated as necessary and provided in
     *         HAL links (_links); it should not be constructed externally. (optional)
     * @param  string|null $sort (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function listOrgProjectsWithHttpInfo(
        string $organizationId,
        ?\Upsun\Model\StringFilter $filterId = null,
        ?\Upsun\Model\StringFilter $filterTitle = null,
        ?\Upsun\Model\StringFilter $filterStatus = null,
        ?\Upsun\Model\DateTimeFilter $filterUpdatedAt = null,
        ?\Upsun\Model\DateTimeFilter $filterCreatedAt = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): \Upsun\Model\ListOrgProjects200Response {
        $request = $this->listOrgProjectsRequest(
            $organizationId,
            $filterId,
            $filterTitle,
            $filterStatus,
            $filterUpdatedAt,
            $filterCreatedAt,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ListOrgProjects200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/projects'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'listOrgProjects'
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  \Upsun\Model\StringFilter|null $filterId (optional)
     * @param  \Upsun\Model\StringFilter|null $filterTitle
     *         Allows filtering by project `title` using one or more operators. (optional)
     * @param  \Upsun\Model\StringFilter|null $filterStatus
     *         Allows filtering by project `status` using one or more operators. (optional)
     * @param  \Upsun\Model\DateTimeFilter|null $filterUpdatedAt
     *         Allows filtering by `updated_at` using one or more operators. (optional)
     * @param  \Upsun\Model\DateTimeFilter|null $filterCreatedAt
     *         Allows filtering by `created_at` using one or more operators. (optional)
     * @param  int|null $pageSize
     *         Determines the number of items to show. (optional)
     * @param  string|null $pageBefore
     *         Pagination cursor. This is automatically generated as necessary and provided in
     *         HAL links (_links); it should not be constructed externally. (optional)
     * @param  string|null $pageAfter
     *         Pagination cursor. This is automatically generated as necessary and provided in
     *         HAL links (_links); it should not be constructed externally. (optional)
     * @param  string|null $sort (optional)
     *
     * @throws InvalidArgumentException
     */
    private function listOrgProjectsRequest(
        string $organizationId,
        ?\Upsun\Model\StringFilter $filterId = null,
        ?\Upsun\Model\StringFilter $filterTitle = null,
        ?\Upsun\Model\StringFilter $filterStatus = null,
        ?\Upsun\Model\DateTimeFilter $filterUpdatedAt = null,
        ?\Upsun\Model\DateTimeFilter $filterCreatedAt = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling listOrgProjects'
            );
        }

        if ($pageSize !== null && $pageSize > 100) {
            throw new InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationProjectsApi.listOrgProjects,
                must be smaller than or equal to 100.'
            );
        }

        if ($pageSize !== null && $pageSize < 1) {
            throw new InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationProjectsApi.listOrgProjects,
                must be bigger than or equal to 1.'
            );
        }



        $resourcePath = '/organizations/{organization_id}/projects';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterId !== null) {
            if ('form' === 'deepObject' && is_array($filterId)) {
                foreach ($filterId as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[id]'] = $filterId instanceof DateTime
                    ? $filterId->format(DATE_ATOM)
                    : ($filterId->getEq());
            }
        }



        // query params
        if ($filterTitle !== null) {
            if ('form' === 'deepObject' && is_array($filterTitle)) {
                foreach ($filterTitle as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[title]'] = $filterTitle instanceof DateTime
                    ? $filterTitle->format(DATE_ATOM)
                    : ($filterTitle->getEq());
            }
        }



        // query params
        if ($filterStatus !== null) {
            if ('form' === 'deepObject' && is_array($filterStatus)) {
                foreach ($filterStatus as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[status]'] = $filterStatus instanceof DateTime
                    ? $filterStatus->format(DATE_ATOM)
                    : ($filterStatus->getEq());
            }
        }



        // query params
        if ($filterUpdatedAt !== null) {
            if ('form' === 'deepObject' && is_array($filterUpdatedAt)) {
                foreach ($filterUpdatedAt as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[updated_at]'] = $filterUpdatedAt instanceof DateTime
                    ? $filterUpdatedAt->format(DATE_ATOM)
                    : ($filterUpdatedAt->getEq());
            }
        }



        // query params
        if ($filterCreatedAt !== null) {
            if ('form' === 'deepObject' && is_array($filterCreatedAt)) {
                foreach ($filterCreatedAt as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[created_at]'] = $filterCreatedAt instanceof DateTime
                    ? $filterCreatedAt->format(DATE_ATOM)
                    : ($filterCreatedAt->getEq());
            }
        }



        // query params
        if ($pageSize !== null) {
            if ('form' === 'form' && is_array($pageSize)) {
                foreach ($pageSize as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[size]'] = $pageSize instanceof DateTime
                    ? $pageSize->format(DATE_ATOM)
                    : ($pageSize);
            }
        }



        // query params
        if ($pageBefore !== null) {
            if ('form' === 'form' && is_array($pageBefore)) {
                foreach ($pageBefore as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[before]'] = $pageBefore instanceof DateTime
                    ? $pageBefore->format(DATE_ATOM)
                    : ($pageBefore);
            }
        }



        // query params
        if ($pageAfter !== null) {
            if ('form' === 'form' && is_array($pageAfter)) {
                foreach ($pageAfter as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[after]'] = $pageAfter instanceof DateTime
                    ? $pageAfter->format(DATE_ATOM)
                    : ($pageAfter);
            }
        }



        // query params
        if ($sort !== null) {
            if ('form' === 'form' && is_array($sort)) {
                foreach ($sort as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['sort'] = $sort instanceof DateTime
                    ? $sort->format(DATE_ATOM)
                    : ($sort);
            }
        }



        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Query project carbon emissions metrics
     *
     * Queries the carbon emission data for the specified project using the supplied parameters.
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $projectId
     *         The ID of the project. (required)
     * @param  \Upsun\Model\DateTimeFilter|null $from
     *         The start of the time frame for the query. Inclusive. (optional)
     * @param  \Upsun\Model\DateTimeFilter|null $to
     *         The end of the time frame for the query. Exclusive. (optional)
     * @param  string|null $interval
     *         The interval by which the query groups the results. of the time frame for the
     *         query. Exclusive. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Projects/operation/query-project-carbon
     */
    public function queryProjectCarbon(
        string $organizationId,
        string $projectId,
        ?\Upsun\Model\DateTimeFilter $from = null,
        ?\Upsun\Model\DateTimeFilter $to = null,
        ?string $interval = null
    ): \Upsun\Model\ProjectCarbon {
        return $this->queryProjectCarbonWithHttpInfo(
            $organizationId,
            $projectId,
            $from,
            $to,
            $interval
        );
    }

    /**
     * Query project carbon emissions metrics with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $projectId
     *         The ID of the project. (required)
     * @param  \Upsun\Model\DateTimeFilter|null $from
     *         The start of the time frame for the query. Inclusive. (optional)
     * @param  \Upsun\Model\DateTimeFilter|null $to
     *         The end of the time frame for the query. Exclusive. (optional)
     * @param  string|null $interval
     *         The interval by which the query groups the results. of the time frame for the
     *         query. Exclusive. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function queryProjectCarbonWithHttpInfo(
        string $organizationId,
        string $projectId,
        ?\Upsun\Model\DateTimeFilter $from = null,
        ?\Upsun\Model\DateTimeFilter $to = null,
        ?string $interval = null
    ): \Upsun\Model\ProjectCarbon {
        $request = $this->queryProjectCarbonRequest(
            $organizationId,
            $projectId,
            $from,
            $to,
            $interval
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ProjectCarbon',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/projects/{project_id}/metrics/carbon'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'queryProjectCarbon'
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $projectId
     *         The ID of the project. (required)
     * @param  \Upsun\Model\DateTimeFilter|null $from
     *         The start of the time frame for the query. Inclusive. (optional)
     * @param  \Upsun\Model\DateTimeFilter|null $to
     *         The end of the time frame for the query. Exclusive. (optional)
     * @param  string|null $interval
     *         The interval by which the query groups the results. of the time frame for the
     *         query. Exclusive. (optional)
     *
     * @throws InvalidArgumentException
     */
    private function queryProjectCarbonRequest(
        string $organizationId,
        string $projectId,
        ?\Upsun\Model\DateTimeFilter $from = null,
        ?\Upsun\Model\DateTimeFilter $to = null,
        ?string $interval = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling queryProjectCarbon'
            );
        }
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling queryProjectCarbon'
            );
        }

        $resourcePath = '/organizations/{organization_id}/projects/{project_id}/metrics/carbon';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($from !== null) {
            if ('form' === 'form' && is_array($from)) {
                foreach ($from as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['from'] = $from instanceof DateTime
                    ? $from->format(DATE_ATOM)
                    : ($from->getEq());
            }
        }



        // query params
        if ($to !== null) {
            if ('form' === 'form' && is_array($to)) {
                foreach ($to as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['to'] = $to instanceof DateTime
                    ? $to->format(DATE_ATOM)
                    : ($to->getEq());
            }
        }



        // query params
        if ($interval !== null) {
            if ('form' === 'form' && is_array($interval)) {
                foreach ($interval as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['interval'] = $interval instanceof DateTime
                    ? $interval->format(DATE_ATOM)
                    : ($interval);
            }
        }



        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }
        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'project_id' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Update project
     *
     * Updates the specified project.
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $projectId
     *         The ID of the project. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Projects/operation/update-org-project
     */
    public function updateOrgProject(
        string $organizationId,
        string $projectId,
        ?\Upsun\Model\UpdateOrgProjectRequest $updateOrgProjectRequest = null
    ): \Upsun\Model\OrganizationProject {
        return $this->updateOrgProjectWithHttpInfo(
            $organizationId,
            $projectId,
            $updateOrgProjectRequest
        );
    }

    /**
     * Update project with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $projectId
     *         The ID of the project. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function updateOrgProjectWithHttpInfo(
        string $organizationId,
        string $projectId,
        ?\Upsun\Model\UpdateOrgProjectRequest $updateOrgProjectRequest = null
    ): \Upsun\Model\OrganizationProject {
        $request = $this->updateOrgProjectRequest(
            $organizationId,
            $projectId,
            $updateOrgProjectRequest
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\OrganizationProject',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/projects/{project_id}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'updateOrgProject'
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $projectId
     *         The ID of the project. (required)
     *
     * @throws InvalidArgumentException
     */
    private function updateOrgProjectRequest(
        string $organizationId,
        string $projectId,
        ?\Upsun\Model\UpdateOrgProjectRequest $updateOrgProjectRequest = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling updateOrgProject'
            );
        }
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling updateOrgProject'
            );
        }

        $resourcePath = '/organizations/{organization_id}/projects/{project_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }
        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'project_id' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($updateOrgProjectRequest)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(
                    ObjectSerializer::sanitizeForSerialization($updateOrgProjectRequest)
                );
            } else {
                $httpBody = $updateOrgProjectRequest;
            }
        } elseif ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('PATCH', $uri, $headers, $httpBody);
    }
}
