<?php

namespace Upsun\Api;

use DateTime;
use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Upsun\Core\OAuthProvider;
use Upsun\Model\CreateOrgInviteRequest;
use Upsun\Model\OrganizationInvitation;
use Upsun\Model\StringFilter;

/**
 * Low level OrganizationInvitationsApi (auto-generated)
 *
 * @license   Apache V2
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class OrganizationInvitationsApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private APIConfiguration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?APIConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            AbstractApi::BASE_PATH,
            $streamFactory
        );

        $this->config = $config ?? (new APIConfiguration())->setHost(AbstractApi::BASE_PATH);

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Cancel a pending invitation to an organization
     *
     * Cancels the specified invitation.
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $invitationId
     *         The ID of the invitation. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Invitations/operation/cancel-org-invite
     */
    public function cancelOrgInvite(
        string $organizationId,
        string $invitationId
    ): void {
        $this->cancelOrgInviteWithHttpInfo(
            $organizationId,
            $invitationId
        );
    }

    /**
     * Cancel a pending invitation to an organization with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $invitationId
     *         The ID of the invitation. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function cancelOrgInviteWithHttpInfo(
        string $organizationId,
        string $invitationId
    ): void {
        $request = $this->cancelOrgInviteRequest(
            $organizationId,
            $invitationId
        );

        try {
            $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/invitations/{invitation_id}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'cancelOrgInvite'
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $invitationId
     *         The ID of the invitation. (required)
     *
     * @throws InvalidArgumentException
     */
    private function cancelOrgInviteRequest(
        string $organizationId,
        string $invitationId
    ): RequestInterface {
        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling cancelOrgInvite'
            );
        }
        // verify the required parameter 'invitationId' is set
        if (empty($invitationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $invitationId
                when calling cancelOrgInvite'
            );
        }

        $resourcePath = '/organizations/{organization_id}/invitations/{invitation_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }
        // path params

        if ($invitationId !== null) {
            $resourcePath = str_replace(
                '{' . 'invitation_id' . '}',
                ObjectSerializer::toPathValue($invitationId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('DELETE', $uri, $headers, $httpBody);
    }

    /**
     * Invite user to an organization by email
     *
     * Creates an invitation to an organization for a user with the specified email address.
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Invitations/operation/create-org-invite
     */
    public function createOrgInvite(
        string $organizationId,
        ?CreateOrgInviteRequest $createOrgInviteRequest = null
    ): OrganizationInvitation {
        return $this->createOrgInviteWithHttpInfo(
            $organizationId,
            $createOrgInviteRequest
        );
    }

    /**
     * Invite user to an organization by email with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function createOrgInviteWithHttpInfo(
        string $organizationId,
        ?CreateOrgInviteRequest $createOrgInviteRequest = null
    ): OrganizationInvitation {
        $request = $this->createOrgInviteRequest(
            $organizationId,
            $createOrgInviteRequest
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\OrganizationInvitation',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/invitations'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'createOrgInvite'
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     *
     * @throws InvalidArgumentException
     */
    private function createOrgInviteRequest(
        string $organizationId,
        ?CreateOrgInviteRequest $createOrgInviteRequest = null
    ): RequestInterface {
        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling createOrgInvite'
            );
        }

        $resourcePath = '/organizations/{organization_id}/invitations';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($createOrgInviteRequest)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(
                    ObjectSerializer::sanitizeForSerialization($createOrgInviteRequest)
                );
            } else {
                $httpBody = $createOrgInviteRequest;
            }
        } elseif ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }

    /**
     * List invitations to an organization
     *
     * Returns a list of invitations to an organization.
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  \Upsun\Model\StringFilter|null $filterState (optional)
     * @param  int|null $pageSize (optional)
     * @param  string|null $pageBefore (optional)
     * @param  string|null $pageAfter (optional)
     * @param  string|null $sort (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     *
     * @return \Upsun\Model\OrganizationInvitation[]
     * @see https://docs.upsun.com/api/#tag/Organization-Invitations/operation/list-org-invites
     */
    public function listOrgInvites(
        string $organizationId,
        ?StringFilter $filterState = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): array {
        return $this->listOrgInvitesWithHttpInfo(
            $organizationId,
            $filterState,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );
    }

    /**
     * List invitations to an organization with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  \Upsun\Model\StringFilter|null $filterState (optional)
     * @param  int|null $pageSize (optional)
     * @param  string|null $pageBefore (optional)
     * @param  string|null $pageAfter (optional)
     * @param  string|null $sort (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     *
     * @return \Upsun\Model\OrganizationInvitation[]
    */
    private function listOrgInvitesWithHttpInfo(
        string $organizationId,
        ?StringFilter $filterState = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): array {
        $request = $this->listOrgInvitesRequest(
            $organizationId,
            $filterState,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\OrganizationInvitation[]',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/invitations'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'listOrgInvites'
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  \Upsun\Model\StringFilter|null $filterState (optional)
     * @param  int|null $pageSize (optional)
     * @param  string|null $pageBefore (optional)
     * @param  string|null $pageAfter (optional)
     * @param  string|null $sort (optional)
     *
     * @throws InvalidArgumentException
     */
    private function listOrgInvitesRequest(
        string $organizationId,
        ?StringFilter $filterState = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): RequestInterface {
        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling listOrgInvites'
            );
        }

        if ($pageSize !== null && $pageSize > 100) {
            throw new InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationInvitationsApi.listOrgInvites,
                must be smaller than or equal to 100.'
            );
        }

        if ($pageSize !== null && $pageSize < 1) {
            throw new InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationInvitationsApi.listOrgInvites,
                must be bigger than or equal to 1.'
            );
        }

        $resourcePath = '/organizations/{organization_id}/invitations';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterState !== null) {
            if ('form' === 'deepObject' && is_array($filterState)) {
                foreach ($filterState as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[state]'] = $filterState instanceof DateTime
                    ? $filterState->format(DATE_ATOM)
                    : ($filterState->getEq());
            }
        }

        // query params
        if ($pageSize !== null) {
            if ('form' === 'form' && is_array($pageSize)) {
                foreach ($pageSize as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[size]'] = $pageSize instanceof DateTime
                    ? $pageSize->format(DATE_ATOM)
                    : ($pageSize);
            }
        }

        // query params
        if ($pageBefore !== null) {
            if ('form' === 'form' && is_array($pageBefore)) {
                foreach ($pageBefore as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[before]'] = $pageBefore instanceof DateTime
                    ? $pageBefore->format(DATE_ATOM)
                    : ($pageBefore);
            }
        }

        // query params
        if ($pageAfter !== null) {
            if ('form' === 'form' && is_array($pageAfter)) {
                foreach ($pageAfter as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[after]'] = $pageAfter instanceof DateTime
                    ? $pageAfter->format(DATE_ATOM)
                    : ($pageAfter);
            }
        }

        // query params
        if ($sort !== null) {
            if ('form' === 'form' && is_array($sort)) {
                foreach ($sort as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['sort'] = $sort instanceof DateTime
                    ? $sort->format(DATE_ATOM)
                    : ($sort);
            }
        }

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
