<?php

namespace Upsun\Api;

use Upsun\Model\CreateOrgMemberRequest;
use Upsun\Model\OrganizationMember;
use Upsun\Model\ArrayFilter;
use Upsun\Model\ListOrgMembers200Response;
use Upsun\Model\UpdateOrgMemberRequest;
use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use Upsun\ApiException;
use Upsun\Configuration;
use Upsun\HeaderSelector;
use Upsun\ObjectSerializer;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use InvalidArgumentException;
use Upsun\Core\OAuthProvider;

/**
 * Low level OrganizationMembersApi (auto-generated)
 *
 * @author    Upsun SDK Team
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @internal  This file was generated by OpenAPI Generator. Do not edit manually.
 * @generated
 */
final class OrganizationMembersApi extends AbstractApi
{
    private readonly HeaderSelector $headerSelector;

    private Configuration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?Configuration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?HeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            'https://api.platform.sh',
            $streamFactory
        );

        $this->config = $config ?? (new Configuration())->setHost('https://api.platform.sh');

        $this->headerSelector = $selector ?? new HeaderSelector();
    }

    public function getConfig(): Configuration
    {
        return $this->config;
    }


    /**
     * Create organization member
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     * @see
     * curl -X POST "https://api.platform.sh/organizations/{organization_id}/members" \
     *      -H "Authorization: Bearer ACCESS_TOKEN" \
     *      -H "Content-Type: application/json, application/problem+json" \
     *      -d '{
     *          "user_id": "string",
     *          "permissions": [
     *              "string"
     *          ]
     *      }'
     */
    public function createOrgMember(
        string $organizationId,
        CreateOrgMemberRequest $createOrgMemberRequest
    ): OrganizationMember {
        return $this->createOrgMemberWithHttpInfo(
            $organizationId,
            $createOrgMemberRequest
        );
    }

    /**
     * Create organization member
     *
     * @throws InvalidArgumentException|Exception
     */
    private function createOrgMemberWithHttpInfo(
        string $organizationId,
        CreateOrgMemberRequest $createOrgMemberRequest
    ): OrganizationMember {
        $request = $this->createOrgMemberRequest(
            $organizationId,
            $createOrgMemberRequest
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                OrganizationMember::class,
                $request,
                $response
            );
        } catch (ApiException $apiException) {
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'createOrgMember'
     *
     * @throws InvalidArgumentException
     */
    private function createOrgMemberRequest(
        string $organizationId,
        CreateOrgMemberRequest $createOrgMemberRequest
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling createOrgMember'
            );
        }

        // verify the required parameter 'createOrgMemberRequest' is set
        if (
            $createOrgMemberRequest === null
            || (is_array($createOrgMemberRequest)
            && count($createOrgMemberRequest) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $createOrgMemberRequest 
                when calling createOrgMember'
            );
        }

        $resourcePath = '/organizations/{organization_id}/members';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($createOrgMemberRequest)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(
                    ObjectSerializer::sanitizeForSerialization($createOrgMemberRequest)
                );
            } else {
                $httpBody = $createOrgMemberRequest;
            }
        } elseif ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }

    /**
     * Delete organization member
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     * @see
     * curl -X DELETE "https://api.platform.sh/organizations/{organization_id}/members/{user_id}" \
     *      -H "Authorization: Bearer ACCESS_TOKEN" \
     *      -H "Accept: application/problem+json"
     */
    public function deleteOrgMember(
        string $organizationId,
        string $userId
    ): void {
        $this->deleteOrgMemberWithHttpInfo(
            $organizationId,
            $userId
        );
    }

    /**
     * Delete organization member
     *
     * @throws InvalidArgumentException|Exception
     */
    private function deleteOrgMemberWithHttpInfo(
        string $organizationId,
        string $userId
    ): void {
        $request = $this->deleteOrgMemberRequest(
            $organizationId,
            $userId
        );

        try {
            $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );
        } catch (ApiException $apiException) {
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'deleteOrgMember'
     *
     * @throws InvalidArgumentException
     */
    private function deleteOrgMemberRequest(
        string $organizationId,
        string $userId
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling deleteOrgMember'
            );
        }

        // verify the required parameter 'userId' is set
        if (
            $userId === null
            || (is_array($userId)
            && count($userId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $userId 
                when calling deleteOrgMember'
            );
        }

        $resourcePath = '/organizations/{organization_id}/members/{user_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        // path params
        if ($userId !== null) {
            $resourcePath = str_replace(
                '{' . 'user_id' . '}',
                ObjectSerializer::toPathValue($userId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('DELETE', $uri, $headers, $httpBody);
    }

    /**
     * Get organization member
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     * @see
     * curl -X GET "https://api.platform.sh/organizations/{organization_id}/members/{user_id}" \
     *      -H "Authorization: Bearer ACCESS_TOKEN" \
     *      -H "Accept: application/json, application/problem+json"
     */
    public function getOrgMember(
        string $organizationId,
        string $userId
    ): OrganizationMember {
        return $this->getOrgMemberWithHttpInfo(
            $organizationId,
            $userId
        );
    }

    /**
     * Get organization member
     *
     * @throws InvalidArgumentException|Exception
     */
    private function getOrgMemberWithHttpInfo(
        string $organizationId,
        string $userId
    ): OrganizationMember {
        $request = $this->getOrgMemberRequest(
            $organizationId,
            $userId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                OrganizationMember::class,
                $request,
                $response
            );
        } catch (ApiException $apiException) {
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'getOrgMember'
     *
     * @throws InvalidArgumentException
     */
    private function getOrgMemberRequest(
        string $organizationId,
        string $userId
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling getOrgMember'
            );
        }

        // verify the required parameter 'userId' is set
        if (
            $userId === null
            || (is_array($userId)
            && count($userId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $userId 
                when calling getOrgMember'
            );
        }

        $resourcePath = '/organizations/{organization_id}/members/{user_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        // path params
        if ($userId !== null) {
            $resourcePath = str_replace(
                '{' . 'user_id' . '}',
                ObjectSerializer::toPathValue($userId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * List organization members
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return OrganizationMember[]
     * @see
     * curl -X GET "https://api.platform.sh/organizations/{organization_id}/members?filterPermissions=new \Upsun\Model\\Upsun\Model\ArrayFilter()pageSize=56pageBefore=&#39;pageBefore_example&#39;pageAfter=&#39;pageAfter_example&#39;sort=-updated_at" \
     *      -H "Authorization: Bearer ACCESS_TOKEN" \
     *      -H "Accept: application/json, application/problem+json"
     */
    public function listOrgMembers(
        string $organizationId,
        ?ArrayFilter $filterPermissions = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): array {
        return $this->listOrgMembersWithHttpInfo(
            $organizationId,
            $filterPermissions,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );
    }

    /**
     * List organization members
     *
     * @throws InvalidArgumentException|Exception
     */
    private function listOrgMembersWithHttpInfo(
        string $organizationId,
        ?ArrayFilter $filterPermissions = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): array {
        $request = $this->listOrgMembersRequest(
            $organizationId,
            $filterPermissions,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                ListOrgMembers200Response::class,
                $request,
                $response
            );
        } catch (ApiException $apiException) {
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'listOrgMembers'
     *
     * @throws InvalidArgumentException
     */
    private function listOrgMembersRequest(
        string $organizationId,
        ?ArrayFilter $filterPermissions = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling listOrgMembers'
            );
        }




        if ($pageSize !== null && $pageSize > 100) {
            throw new InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationMembersApi.listOrgMembers, 
                must be smaller than or equal to 100.'
            );
        }

        if ($pageSize !== null && $pageSize < 1) {
            throw new InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationMembersApi.listOrgMembers,
                must be bigger than or equal to 1.'
            );
        }



        $resourcePath = '/organizations/{organization_id}/members';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterPermissions !== null) {
            if ('form' === 'deepObject' && is_array($filterPermissions)) {
                foreach ($filterPermissions as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[permissions]'] = $filterPermissions->getEq();
            }
        }



        // query params
        if ($pageSize !== null) {
            if ('form' === 'form' && is_array($pageSize)) {
                foreach ($pageSize as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[size]'] = $pageSize;
            }
        }



        // query params
        if ($pageBefore !== null) {
            if ('form' === 'form' && is_array($pageBefore)) {
                foreach ($pageBefore as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[before]'] = $pageBefore;
            }
        }



        // query params
        if ($pageAfter !== null) {
            if ('form' === 'form' && is_array($pageAfter)) {
                foreach ($pageAfter as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[after]'] = $pageAfter;
            }
        }



        // query params
        if ($sort !== null) {
            if ('form' === 'form' && is_array($sort)) {
                foreach ($sort as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['sort'] = $sort;
            }
        }



        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Update organization member
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     * @see
     * curl -X PATCH "https://api.platform.sh/organizations/{organization_id}/members/{user_id}" \
     *      -H "Authorization: Bearer ACCESS_TOKEN" \
     *      -H "Content-Type: application/json, application/problem+json" \
     *      -d '{
     *          "permissions": [
     *              "string"
     *          ]
     *      }'
     */
    public function updateOrgMember(
        string $organizationId,
        string $userId,
        ?UpdateOrgMemberRequest $updateOrgMemberRequest = null
    ): OrganizationMember {
        return $this->updateOrgMemberWithHttpInfo(
            $organizationId,
            $userId,
            $updateOrgMemberRequest
        );
    }

    /**
     * Update organization member
     *
     * @throws InvalidArgumentException|Exception
     */
    private function updateOrgMemberWithHttpInfo(
        string $organizationId,
        string $userId,
        ?UpdateOrgMemberRequest $updateOrgMemberRequest = null
    ): OrganizationMember {
        $request = $this->updateOrgMemberRequest(
            $organizationId,
            $userId,
            $updateOrgMemberRequest
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                OrganizationMember::class,
                $request,
                $response
            );
        } catch (ApiException $apiException) {
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'updateOrgMember'
     *
     * @throws InvalidArgumentException
     */
    private function updateOrgMemberRequest(
        string $organizationId,
        string $userId,
        ?UpdateOrgMemberRequest $updateOrgMemberRequest = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling updateOrgMember'
            );
        }

        // verify the required parameter 'userId' is set
        if (
            $userId === null
            || (is_array($userId)
            && count($userId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $userId 
                when calling updateOrgMember'
            );
        }

        $resourcePath = '/organizations/{organization_id}/members/{user_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        // path params
        if ($userId !== null) {
            $resourcePath = str_replace(
                '{' . 'user_id' . '}',
                ObjectSerializer::toPathValue($userId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($updateOrgMemberRequest)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(
                    ObjectSerializer::sanitizeForSerialization($updateOrgMemberRequest)
                );
            } else {
                $httpBody = $updateOrgMemberRequest;
            }
        } elseif ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('PATCH', $uri, $headers, $httpBody);
    }
}
