<?php

namespace Upsun\Api;

use Upsun\Model\OrganizationProject;
use Upsun\Model\StringFilter;
use Upsun\Model\DateTimeFilter;
use Upsun\Model\ListOrgProjects200Response;
use DateTime;
use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use Upsun\ApiException;
use Upsun\Configuration;
use Upsun\HeaderSelector;
use Upsun\ObjectSerializer;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use InvalidArgumentException;
use Upsun\Core\OAuthProvider;

/**
 * Low level OrganizationProjectsApi (auto-generated)
 *
 * @author    Upsun SDK Team
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @internal  This file was generated by OpenAPI Generator. Do not edit manually.
 * @generated
 */
final class OrganizationProjectsApi extends AbstractApi
{
    private readonly HeaderSelector $headerSelector;

    private Configuration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?Configuration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?HeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            'https://api.upsun.com',
            $streamFactory
        );

        $this->config = $config ?? (new Configuration())->setHost('https://api.upsun.com');

        $this->headerSelector = $selector ?? new HeaderSelector();
    }

    public function getConfig(): Configuration
    {
        return $this->config;
    }


    /**
     * Get project
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return OrganizationProject
     *
     * @see https://docs.upsun.com/api/#tag/Organization-Projects/operation/get-org-project
     */
    public function getOrgProject(
        string $organizationId,
        string $projectId
    ): OrganizationProject {
        return $this->getOrgProjectWithHttpInfo(
            $organizationId,
            $projectId
        );
    }

    /**
     * Get project
     *
     * @return OrganizationProject
     *
     * @throws InvalidArgumentException|Exception
     */
    private function getOrgProjectWithHttpInfo(
        string $organizationId,
        string $projectId
    ): OrganizationProject {
        $request = $this->getOrgProjectRequest(
            $organizationId,
            $projectId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                OrganizationProject::class,
                $request,
                $response
            );
        } catch (ApiException $apiException) {
            $apiException->enrichWithErrorObject();
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'getOrgProject'
     *
     * @throws InvalidArgumentException
     */
    private function getOrgProjectRequest(
        string $organizationId,
        string $projectId
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling getOrgProject'
            );
        }

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling getOrgProject'
            );
        }

        $resourcePath = '/organizations/{organization_id}/projects/{project_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'project_id' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * List projects
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return ListOrgProjects200Response
     *
     * @see https://docs.upsun.com/api/#tag/Organization-Projects/operation/list-org-projects
     */
    public function listOrgProjects(
        string $organizationId,
        ?StringFilter $filterId = null,
        ?StringFilter $filterTitle = null,
        ?StringFilter $filterStatus = null,
        ?DateTimeFilter $filterUpdatedAt = null,
        ?DateTimeFilter $filterCreatedAt = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): object {
        return $this->listOrgProjectsWithHttpInfo(
            $organizationId,
            $filterId,
            $filterTitle,
            $filterStatus,
            $filterUpdatedAt,
            $filterCreatedAt,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );
    }

    /**
     * List projects
     *
     * @return ListOrgProjects200Response
     *
     * @throws InvalidArgumentException|Exception
     */
    private function listOrgProjectsWithHttpInfo(
        string $organizationId,
        ?StringFilter $filterId = null,
        ?StringFilter $filterTitle = null,
        ?StringFilter $filterStatus = null,
        ?DateTimeFilter $filterUpdatedAt = null,
        ?DateTimeFilter $filterCreatedAt = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): object {
        $request = $this->listOrgProjectsRequest(
            $organizationId,
            $filterId,
            $filterTitle,
            $filterStatus,
            $filterUpdatedAt,
            $filterCreatedAt,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                ListOrgProjects200Response::class,
                $request,
                $response
            );
        } catch (ApiException $apiException) {
            $apiException->enrichWithErrorObject();
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'listOrgProjects'
     *
     * @throws InvalidArgumentException
     */
    private function listOrgProjectsRequest(
        string $organizationId,
        ?StringFilter $filterId = null,
        ?StringFilter $filterTitle = null,
        ?StringFilter $filterStatus = null,
        ?DateTimeFilter $filterUpdatedAt = null,
        ?DateTimeFilter $filterCreatedAt = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling listOrgProjects'
            );
        }








        if ($pageSize !== null && $pageSize > 100) {
            throw new InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationProjectsApi.listOrgProjects, 
                must be smaller than or equal to 100.'
            );
        }

        if ($pageSize !== null && $pageSize < 1) {
            throw new InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationProjectsApi.listOrgProjects,
                must be bigger than or equal to 1.'
            );
        }



        $resourcePath = '/organizations/{organization_id}/projects';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterId !== null) {
            if ('form' === 'deepObject' && is_array($filterId)) {
                foreach ($filterId as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[id]'] = $filterId instanceof DateTime
                    ? $filterId->format(DATE_ATOM)
                    : ($filterId->getEq());
            }
        }



        // query params
        if ($filterTitle !== null) {
            if ('form' === 'deepObject' && is_array($filterTitle)) {
                foreach ($filterTitle as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[title]'] = $filterTitle instanceof DateTime
                    ? $filterTitle->format(DATE_ATOM)
                    : ($filterTitle->getEq());
            }
        }



        // query params
        if ($filterStatus !== null) {
            if ('form' === 'deepObject' && is_array($filterStatus)) {
                foreach ($filterStatus as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[status]'] = $filterStatus instanceof DateTime
                    ? $filterStatus->format(DATE_ATOM)
                    : ($filterStatus->getEq());
            }
        }



        // query params
        if ($filterUpdatedAt !== null) {
            if ('form' === 'deepObject' && is_array($filterUpdatedAt)) {
                foreach ($filterUpdatedAt as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[updated_at]'] = $filterUpdatedAt instanceof DateTime
                    ? $filterUpdatedAt->format(DATE_ATOM)
                    : ($filterUpdatedAt->getEq());
            }
        }



        // query params
        if ($filterCreatedAt !== null) {
            if ('form' === 'deepObject' && is_array($filterCreatedAt)) {
                foreach ($filterCreatedAt as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[created_at]'] = $filterCreatedAt instanceof DateTime
                    ? $filterCreatedAt->format(DATE_ATOM)
                    : ($filterCreatedAt->getEq());
            }
        }



        // query params
        if ($pageSize !== null) {
            if ('form' === 'form' && is_array($pageSize)) {
                foreach ($pageSize as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[size]'] = $pageSize instanceof DateTime
                    ? $pageSize->format(DATE_ATOM)
                    : ($pageSize);
            }
        }



        // query params
        if ($pageBefore !== null) {
            if ('form' === 'form' && is_array($pageBefore)) {
                foreach ($pageBefore as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[before]'] = $pageBefore instanceof DateTime
                    ? $pageBefore->format(DATE_ATOM)
                    : ($pageBefore);
            }
        }



        // query params
        if ($pageAfter !== null) {
            if ('form' === 'form' && is_array($pageAfter)) {
                foreach ($pageAfter as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[after]'] = $pageAfter instanceof DateTime
                    ? $pageAfter->format(DATE_ATOM)
                    : ($pageAfter);
            }
        }



        // query params
        if ($sort !== null) {
            if ('form' === 'form' && is_array($sort)) {
                foreach ($sort as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['sort'] = $sort instanceof DateTime
                    ? $sort->format(DATE_ATOM)
                    : ($sort);
            }
        }



        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
