<?php

namespace Upsun\Api;

use DateTime;
use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Upsun\Core\OAuthProvider;
use Upsun\Model\ArrayFilter;
use Upsun\Model\CreateOrgMemberRequest;
use Upsun\Model\ListOrgMembers200Response;
use Upsun\Model\OrganizationMember;
use Upsun\Model\UpdateOrgMemberRequest;

/**
 * Low level OrganizationMembersApi (auto-generated)
 *
 * @author    Upsun Advocacy Team
 * @license   MIT
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually. */
final class OrganizationMembersApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private APIConfiguration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?APIConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            'https://api.upsun.com',
            $streamFactory
        );

        $this->config = $config ?? (new APIConfiguration())->setHost('https://api.upsun.com');

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Create organization member
     *
     * Creates a new organization member.
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)

     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Members/operation/create-org-member
     */
    public function createOrgMember(
        string $organizationId,
        CreateOrgMemberRequest $createOrgMemberRequest
    ): OrganizationMember {
        return $this->createOrgMemberWithHttpInfo(
            $organizationId,
            $createOrgMemberRequest
        );
    }

    /**
     * Create organization member with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)

     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function createOrgMemberWithHttpInfo(
        string $organizationId,
        CreateOrgMemberRequest $createOrgMemberRequest
    ): OrganizationMember {
        $request = $this->createOrgMemberRequest(
            $organizationId,
            $createOrgMemberRequest
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                OrganizationMember::class,
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/members'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'createOrgMember'
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)

     *
     * @throws InvalidArgumentException
     */
    private function createOrgMemberRequest(
        string $organizationId,
        CreateOrgMemberRequest $createOrgMemberRequest
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling createOrgMember'
            );
        }

        // verify the required parameter 'createOrgMemberRequest' is set
        if (
            $createOrgMemberRequest === null
            || (is_array($createOrgMemberRequest)
            && count($createOrgMemberRequest) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $createOrgMemberRequest
                when calling createOrgMember'
            );
        }

        $resourcePath = '/organizations/{organization_id}/members';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($createOrgMemberRequest)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(
                    ObjectSerializer::sanitizeForSerialization($createOrgMemberRequest)
                );
            } else {
                $httpBody = $createOrgMemberRequest;
            }
        } elseif ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }

    /**
     * Delete organization member
     *
     * Deletes the specified organization member.
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $userId
     *         The ID of the user. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Members/operation/delete-org-member
     */
    public function deleteOrgMember(
        string $organizationId,
        string $userId
    ): void {
        $this->deleteOrgMemberWithHttpInfo(
            $organizationId,
            $userId
        );
    }

    /**
     * Delete organization member with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $userId
     *         The ID of the user. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function deleteOrgMemberWithHttpInfo(
        string $organizationId,
        string $userId
    ): void {
        $request = $this->deleteOrgMemberRequest(
            $organizationId,
            $userId
        );

        try {
            $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/members/{user_id}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'deleteOrgMember'
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $userId
     *         The ID of the user. (required)
     *
     * @throws InvalidArgumentException
     */
    private function deleteOrgMemberRequest(
        string $organizationId,
        string $userId
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling deleteOrgMember'
            );
        }

        // verify the required parameter 'userId' is set
        if (
            $userId === null
            || (is_array($userId)
            && count($userId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $userId
                when calling deleteOrgMember'
            );
        }

        $resourcePath = '/organizations/{organization_id}/members/{user_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        // path params
        if ($userId !== null) {
            $resourcePath = str_replace(
                '{' . 'user_id' . '}',
                ObjectSerializer::toPathValue($userId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('DELETE', $uri, $headers, $httpBody);
    }

    /**
     * Get organization member
     *
     * Retrieves the specified organization member.
     *
     * @param  string $organizationId
     *         The ID of the organization.<br> Prefix with name= to retrieve the organization by name instead. (required)
     * @param  string $userId
     *         The ID of the user. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Members/operation/get-org-member
     */
    public function getOrgMember(
        string $organizationId,
        string $userId
    ): OrganizationMember {
        return $this->getOrgMemberWithHttpInfo(
            $organizationId,
            $userId
        );
    }

    /**
     * Get organization member with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization.<br> Prefix with name= to retrieve the organization by name instead. (required)
     * @param  string $userId
     *         The ID of the user. (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function getOrgMemberWithHttpInfo(
        string $organizationId,
        string $userId
    ): OrganizationMember {
        $request = $this->getOrgMemberRequest(
            $organizationId,
            $userId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                OrganizationMember::class,
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/members/{user_id}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'getOrgMember'
     *
     * @param  string $organizationId
     *         The ID of the organization.<br> Prefix with name= to retrieve the organization by name instead. (required)
     * @param  string $userId
     *         The ID of the user. (required)
     *
     * @throws InvalidArgumentException
     */
    private function getOrgMemberRequest(
        string $organizationId,
        string $userId
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling getOrgMember'
            );
        }

        // verify the required parameter 'userId' is set
        if (
            $userId === null
            || (is_array($userId)
            && count($userId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $userId
                when calling getOrgMember'
            );
        }

        $resourcePath = '/organizations/{organization_id}/members/{user_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        // path params
        if ($userId !== null) {
            $resourcePath = str_replace(
                '{' . 'user_id' . '}',
                ObjectSerializer::toPathValue($userId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * List organization members
     *
     * Accessible to organization owners and members with the "manage members" permission.
     *
     * @param  string $organizationId
     *         The ID of the organization.<br> Prefix with name= to retrieve the organization by name instead. (required)
     * @param ArrayFilter|null $filterPermissions
     *         Allows filtering by `permissions` using one or more operators. (optional)
     * @param  int|null $pageSize
     *         Determines the number of items to show. (optional)
     * @param  string|null $pageBefore
     *         Pagination cursor. This is automatically generated as necessary and provided in HAL links (_links); it should not be constructed externally. (optional)
     * @param  string|null $pageAfter
     *         Pagination cursor. This is automatically generated as necessary and provided in HAL links (_links); it should not be constructed externally. (optional)
     * @param  string|null $sort
     *         Allows sorting by a single field.<br> Use a dash (\"-\") to sort descending.<br> Supported fields: `created_at`, `updated_at`. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Members/operation/list-org-members
     */
    public function listOrgMembers(
        string $organizationId,
        ?ArrayFilter $filterPermissions = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): ListOrgMembers200Response {
        return $this->listOrgMembersWithHttpInfo(
            $organizationId,
            $filterPermissions,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );
    }

    /**
     * List organization members with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization.<br> Prefix with name= to retrieve the organization by name instead. (required)
     * @param ArrayFilter|null $filterPermissions
     *         Allows filtering by `permissions` using one or more operators. (optional)
     * @param  int|null $pageSize
     *         Determines the number of items to show. (optional)
     * @param  string|null $pageBefore
     *         Pagination cursor. This is automatically generated as necessary and provided in HAL links (_links); it should not be constructed externally. (optional)
     * @param  string|null $pageAfter
     *         Pagination cursor. This is automatically generated as necessary and provided in HAL links (_links); it should not be constructed externally. (optional)
     * @param  string|null $sort
     *         Allows sorting by a single field.<br> Use a dash (\"-\") to sort descending.<br> Supported fields: `created_at`, `updated_at`. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     */
    private function listOrgMembersWithHttpInfo(
        string $organizationId,
        ?ArrayFilter $filterPermissions = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): ListOrgMembers200Response {
        $request = $this->listOrgMembersRequest(
            $organizationId,
            $filterPermissions,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                ListOrgMembers200Response::class,
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/members'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'listOrgMembers'
     *
     * @param  string $organizationId
     *         The ID of the organization.<br> Prefix with name= to retrieve the organization by name instead. (required)
     * @param ArrayFilter|null $filterPermissions
     *         Allows filtering by `permissions` using one or more operators. (optional)
     * @param  int|null $pageSize
     *         Determines the number of items to show. (optional)
     * @param  string|null $pageBefore
     *         Pagination cursor. This is automatically generated as necessary and provided in HAL links (_links); it should not be constructed externally. (optional)
     * @param  string|null $pageAfter
     *         Pagination cursor. This is automatically generated as necessary and provided in HAL links (_links); it should not be constructed externally. (optional)
     * @param  string|null $sort
     *         Allows sorting by a single field.<br> Use a dash (\"-\") to sort descending.<br> Supported fields: `created_at`, `updated_at`. (optional)
     *
     * @throws InvalidArgumentException
     */
    private function listOrgMembersRequest(
        string $organizationId,
        ?ArrayFilter $filterPermissions = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling listOrgMembers'
            );
        }




        if ($pageSize !== null && $pageSize > 100) {
            throw new InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationMembersApi.listOrgMembers,
                must be smaller than or equal to 100.'
            );
        }

        if ($pageSize !== null && $pageSize < 1) {
            throw new InvalidArgumentException(
                'invalid value for "$pageSize" when calling OrganizationMembersApi.listOrgMembers,
                must be bigger than or equal to 1.'
            );
        }



        $resourcePath = '/organizations/{organization_id}/members';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterPermissions !== null) {
            if ('form' === 'deepObject' && is_array($filterPermissions)) {
                foreach ($filterPermissions as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[permissions]'] = $filterPermissions instanceof DateTime
                    ? $filterPermissions->format(DATE_ATOM)
                    : ($filterPermissions->getEq());
            }
        }



        // query params
        if ($pageSize !== null) {
            if ('form' === 'form' && is_array($pageSize)) {
                foreach ($pageSize as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[size]'] = $pageSize instanceof DateTime
                    ? $pageSize->format(DATE_ATOM)
                    : ($pageSize);
            }
        }



        // query params
        if ($pageBefore !== null) {
            if ('form' === 'form' && is_array($pageBefore)) {
                foreach ($pageBefore as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[before]'] = $pageBefore instanceof DateTime
                    ? $pageBefore->format(DATE_ATOM)
                    : ($pageBefore);
            }
        }



        // query params
        if ($pageAfter !== null) {
            if ('form' === 'form' && is_array($pageAfter)) {
                foreach ($pageAfter as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[after]'] = $pageAfter instanceof DateTime
                    ? $pageAfter->format(DATE_ATOM)
                    : ($pageAfter);
            }
        }



        // query params
        if ($sort !== null) {
            if ('form' === 'form' && is_array($sort)) {
                foreach ($sort as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['sort'] = $sort instanceof DateTime
                    ? $sort->format(DATE_ATOM)
                    : ($sort);
            }
        }



        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Update organization member
     *
     * Updates the specified organization member.
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $userId
     *         The ID of the user. (required)

     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Organization-Members/operation/update-org-member
     */
    public function updateOrgMember(
        string $organizationId,
        string $userId,
        ?UpdateOrgMemberRequest $updateOrgMemberRequest = null
    ): OrganizationMember {
        return $this->updateOrgMemberWithHttpInfo(
            $organizationId,
            $userId,
            $updateOrgMemberRequest
        );
    }

    /**
     * Update organization member with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $userId
     *         The ID of the user. (required)

     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function updateOrgMemberWithHttpInfo(
        string $organizationId,
        string $userId,
        ?UpdateOrgMemberRequest $updateOrgMemberRequest = null
    ): OrganizationMember {
        $request = $this->updateOrgMemberRequest(
            $organizationId,
            $userId,
            $updateOrgMemberRequest
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                OrganizationMember::class,
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/members/{user_id}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'updateOrgMember'
     *
     * @param  string $organizationId
     *         The ID of the organization. (required)
     * @param  string $userId
     *         The ID of the user. (required)

     *
     * @throws InvalidArgumentException
     */
    private function updateOrgMemberRequest(
        string $organizationId,
        string $userId,
        ?UpdateOrgMemberRequest $updateOrgMemberRequest = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling updateOrgMember'
            );
        }

        // verify the required parameter 'userId' is set
        if (
            $userId === null
            || (is_array($userId)
            && count($userId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $userId
                when calling updateOrgMember'
            );
        }

        $resourcePath = '/organizations/{organization_id}/members/{user_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        // path params
        if ($userId !== null) {
            $resourcePath = str_replace(
                '{' . 'user_id' . '}',
                ObjectSerializer::toPathValue($userId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($updateOrgMemberRequest)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(
                    ObjectSerializer::sanitizeForSerialization($updateOrgMemberRequest)
                );
            } else {
                $httpBody = $updateOrgMemberRequest;
            }
        } elseif ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('PATCH', $uri, $headers, $httpBody);
    }
}
