<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use Upsun\ApiException;
use Upsun\Configuration;
use Upsun\HeaderSelector;
use Upsun\ObjectSerializer;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use InvalidArgumentException;
use Upsun\Core\OAuthProvider;

/**
 * Low level ProjectInvitationsApi (auto-generated)
 *
 * @author    Upsun SDK Team
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @generated by OpenAPI Generator
 * Do NOT edit this class manually.
 */
final class ProjectInvitationsApi extends AbstractApi
{
    private readonly HeaderSelector $headerSelector;
    private Configuration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?Configuration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?HeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            'https://api.upsun.com',
            $streamFactory
        );

        $this->config = $config ?? (new Configuration())->setHost('https://api.upsun.com');

        $this->headerSelector = $selector ?? new HeaderSelector();
    }

    /**
     * Cancel a pending invitation to a project
     *
     * Cancels the specified invitation.
     *
     * @throws ApiException on non-2xx response
     *
     * @see https://docs.upsun.com/api/#tag/Project-Invitations/operation/cancel-project-invite
     */
    public function cancelProjectInvite(
        string $projectId,
        string $invitationId
    ): void {
        $this->cancelProjectInviteWithHttpInfo(
            $projectId,
            $invitationId
        );
    }

    /**
     * Cancel a pending invitation to a project with HTTP Info
     *
     * @throws ApiException
     */
    private function cancelProjectInviteWithHttpInfo(
        string $projectId,
        string $invitationId
    ): void {
        $request = $this->cancelProjectInviteRequest(
            $projectId,
            $invitationId
        );

        try {
            $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/projects/{project_id}/invitations/{invitation_id}'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'cancelProjectInvite'
     *
     * @throws InvalidArgumentException
     */
    private function cancelProjectInviteRequest(
        string $projectId,
        string $invitationId
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling cancelProjectInvite'
            );
        }

        // verify the required parameter 'invitationId' is set
        if (
            $invitationId === null
            || (is_array($invitationId)
            && count($invitationId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $invitationId 
                when calling cancelProjectInvite'
            );
        }
        $resourcePath = '/projects/{project_id}/invitations/{invitation_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'project_id' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params
        if ($invitationId !== null) {
            $resourcePath = str_replace(
                '{' . 'invitation_id' . '}',
                ObjectSerializer::toPathValue($invitationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('DELETE', $uri, $headers, $httpBody);
    }
    /**
     * Invite user to a project by email
     *
     * Creates an invitation to a project for a user with the specified email address.
     *
     * @throws ApiException on non-2xx response
     *
     * @return \Upsun\Model\ProjectInvitation
     *
     * @see https://docs.upsun.com/api/#tag/Project-Invitations/operation/create-project-invite
     */
    public function createProjectInvite(
        string $projectId,
        ?\Upsun\Model\CreateProjectInviteRequest $createProjectInviteRequest = null
    ): \Upsun\Model\ProjectInvitation {
        return $this->createProjectInviteWithHttpInfo(
            $projectId,
            $createProjectInviteRequest
        );
    }

    /**
     * Invite user to a project by email with HTTP Info
     *
     * @return \Upsun\Model\ProjectInvitation
     *
     * @throws ApiException
     */
    private function createProjectInviteWithHttpInfo(
        string $projectId,
        ?\Upsun\Model\CreateProjectInviteRequest $createProjectInviteRequest = null
    ): \Upsun\Model\ProjectInvitation {
        $request = $this->createProjectInviteRequest(
            $projectId,
            $createProjectInviteRequest
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ProjectInvitation',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/projects/{project_id}/invitations'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'createProjectInvite'
     *
     * @throws InvalidArgumentException
     */
    private function createProjectInviteRequest(
        string $projectId,
        ?\Upsun\Model\CreateProjectInviteRequest $createProjectInviteRequest = null
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling createProjectInvite'
            );
        }

        $resourcePath = '/projects/{project_id}/invitations';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'project_id' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($createProjectInviteRequest)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(
                    ObjectSerializer::sanitizeForSerialization($createProjectInviteRequest)
                );
            } else {
                $httpBody = $createProjectInviteRequest;
            }
        } elseif ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }
    /**
     * List invitations to a project
     *
     * Returns a list of invitations to a project.
     *
     * @throws ApiException on non-2xx response
     *
     * @return \Upsun\Model\ProjectInvitation[]
     *
     * @see https://docs.upsun.com/api/#tag/Project-Invitations/operation/list-project-invites
     */
    public function listProjectInvites(
        string $projectId,
        ?\Upsun\Model\StringFilter $filterState = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): array {
        return $this->listProjectInvitesWithHttpInfo(
            $projectId,
            $filterState,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );
    }

    /**
     * List invitations to a project with HTTP Info
     *
     * @return \Upsun\Model\ProjectInvitation[]
     *
     * @throws ApiException
     */
    private function listProjectInvitesWithHttpInfo(
        string $projectId,
        ?\Upsun\Model\StringFilter $filterState = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): array {
        $request = $this->listProjectInvitesRequest(
            $projectId,
            $filterState,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ProjectInvitation[]',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/projects/{project_id}/invitations'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'listProjectInvites'
     *
     * @throws InvalidArgumentException
     */
    private function listProjectInvitesRequest(
        string $projectId,
        ?\Upsun\Model\StringFilter $filterState = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling listProjectInvites'
            );
        }




        if ($pageSize !== null && $pageSize > 100) {
            throw new \InvalidArgumentException(
                'invalid value for "$pageSize" when calling ProjectInvitationsApi.listProjectInvites, 
                must be smaller than or equal to 100.'
            );
        }
        if ($pageSize !== null && $pageSize < 1) {
            throw new \InvalidArgumentException(
                'invalid value for "$pageSize" when calling ProjectInvitationsApi.listProjectInvites,
                must be bigger than or equal to 1.'
            );
        }



        $resourcePath = '/projects/{project_id}/invitations';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterState !== null) {
            if ('form' === 'deepObject' && is_array($filterState)) {
                foreach ($filterState as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[state]'] = $filterState instanceof \DateTime
                    ? $filterState->format(DATE_ATOM)
                    : ($filterState->getEq());
            }
        }



        // query params
        if ($pageSize !== null) {
            if ('form' === 'form' && is_array($pageSize)) {
                foreach ($pageSize as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[size]'] = $pageSize instanceof \DateTime
                    ? $pageSize->format(DATE_ATOM)
                    : ($pageSize);
            }
        }



        // query params
        if ($pageBefore !== null) {
            if ('form' === 'form' && is_array($pageBefore)) {
                foreach ($pageBefore as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[before]'] = $pageBefore instanceof \DateTime
                    ? $pageBefore->format(DATE_ATOM)
                    : ($pageBefore);
            }
        }



        // query params
        if ($pageAfter !== null) {
            if ('form' === 'form' && is_array($pageAfter)) {
                foreach ($pageAfter as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[after]'] = $pageAfter instanceof \DateTime
                    ? $pageAfter->format(DATE_ATOM)
                    : ($pageAfter);
            }
        }



        // query params
        if ($sort !== null) {
            if ('form' === 'form' && is_array($sort)) {
                foreach ($sort as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['sort'] = $sort instanceof \DateTime
                    ? $sort->format(DATE_ATOM)
                    : ($sort);
            }
        }



        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'project_id' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
