<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Upsun\Core\OAuthProvider;
use Upsun\Model\AcceptedResponse;
use Upsun\Model\Activity;

/**
 * Low level ProjectActivityApi (auto-generated)
 *
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class ProjectActivityApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private ApiConfiguration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?ApiConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            AbstractApi::BASE_PATH,
            $streamFactory
        );

        $this->config = $config ?? (new ApiConfiguration())->setHost(AbstractApi::BASE_PATH);

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Cancel a project activity
     *
     * Cancel a single activity as specified by an `id` returned by the Get project activity log
     * (https://docs.upsun.com/api/#tag/Project-Activity/paths//projects/{projectId}/activities/get) endpoint. Please
     * note that not all activities are cancelable.
     *
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Project-Activity/operation/action-projects-activities-cancel
     */
    public function actionProjectsActivitiesCancel(
        string $projectId,
        string $activityId
    ): AcceptedResponse {
        return $this->actionProjectsActivitiesCancelWithHttpInfo(
            $projectId,
            $activityId
        );
    }

    /**
     * Cancel a project activity with HTTP Info
     *
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function actionProjectsActivitiesCancelWithHttpInfo(
        string $projectId,
        string $activityId
    ): AcceptedResponse {
        $request = $this->actionProjectsActivitiesCancelRequest(
            $projectId,
            $activityId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\AcceptedResponse',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/activities/{activityId}/cancel'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'actionProjectsActivitiesCancel'
     *
     *
     * @throws InvalidArgumentException
     */
    private function actionProjectsActivitiesCancelRequest(
        string $projectId,
        string $activityId
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling actionProjectsActivitiesCancel'
            );
        }
        // verify the required parameter 'activityId' is set
        if (empty($activityId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $activityId
                when calling actionProjectsActivitiesCancel'
            );
        }

        $resourcePath = '/projects/{projectId}/activities/{activityId}/cancel';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($activityId !== null) {
            $resourcePath = str_replace(
                '{' . 'activityId' . '}',
                ObjectSerializer::toPathValue($activityId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }

    /**
     * Get a project activity log entry
     *
     * Retrieve a single activity log entry as specified by an `id` returned by the Get project activity log
     * (https://docs.upsun.com/api/#tag/Project-Activity/paths//projects/{projectId}/activities/get) endpoint. See the
     * documentation on that endpoint for details about the information this endpoint can return.
     *
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Project-Activity/operation/get-projects-activities
     */
    public function getProjectsActivities(
        string $projectId,
        string $activityId
    ): Activity {
        return $this->getProjectsActivitiesWithHttpInfo(
            $projectId,
            $activityId
        );
    }

    /**
     * Get a project activity log entry with HTTP Info
     *
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function getProjectsActivitiesWithHttpInfo(
        string $projectId,
        string $activityId
    ): Activity {
        $request = $this->getProjectsActivitiesRequest(
            $projectId,
            $activityId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Activity',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/activities/{activityId}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'getProjectsActivities'
     *
     *
     * @throws InvalidArgumentException
     */
    private function getProjectsActivitiesRequest(
        string $projectId,
        string $activityId
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling getProjectsActivities'
            );
        }
        // verify the required parameter 'activityId' is set
        if (empty($activityId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $activityId
                when calling getProjectsActivities'
            );
        }

        $resourcePath = '/projects/{projectId}/activities/{activityId}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($activityId !== null) {
            $resourcePath = str_replace(
                '{' . 'activityId' . '}',
                ObjectSerializer::toPathValue($activityId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Get project activity log
     *
     * Retrieve a project's activity log including logging actions in all environments within a project. This returns a
     * list of objects with records of actions such as: - Commits being pushed to the repository - A new environment
     * being branched out from the specified environment - A snapshot being created of the specified environment The
     * object includes a timestamp of when the action occurred (`created_at`), when the action concluded (`updated_at`),
     * the current `state` of the action, the action's completion percentage (`completion_percent`), the `environments`
     * it applies to and when the activity expires (`expires_at`). There are other related information in the `payload`.
     * The contents of the `payload` varies based on the `type` of the activity. For example: - An `environment.branch`
     * action's `payload` can contain objects representing the environment's `parent` environment and the branching
     * action's `outcome`. - An `environment.push` action's `payload` can contain objects representing the
     * `environment`, the specific `commits` included in the push, and the `user` who pushed. Expired activities are
     * removed from the project activity log, except the last 100 expired objects provided they are not of type
     * `environment.cron` or `environment.backup`.
     *
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     *
     * @return \Upsun\Model\Activity[]
     * @see https://docs.upsun.com/api/#tag/Project-Activity/operation/list-projects-activities
     */
    public function listProjectsActivities(
        string $projectId
    ): array {
        return $this->listProjectsActivitiesWithHttpInfo(
            $projectId
        );
    }

    /**
     * Get project activity log with HTTP Info
     *
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     *
     * @return \Upsun\Model\Activity[]
    */
    private function listProjectsActivitiesWithHttpInfo(
        string $projectId
    ): array {
        $request = $this->listProjectsActivitiesRequest(
            $projectId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Activity[]',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/activities'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'listProjectsActivities'
     *
     *
     * @throws InvalidArgumentException
     */
    private function listProjectsActivitiesRequest(
        string $projectId
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling listProjectsActivities'
            );
        }

        $resourcePath = '/projects/{projectId}/activities';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
