<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use Upsun\ApiException;
use Upsun\Configuration;
use Upsun\HeaderSelector;
use Upsun\ObjectSerializer;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use InvalidArgumentException;
use Upsun\Core\OAuthProvider;

/**
 * Low level RecordsApi (auto-generated)
 *
 * @author    Upsun SDK Team
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @internal  This file was generated by OpenAPI Generator. Do not edit manually.
 * @generated
 */
final class RecordsApi extends AbstractApi
{
    private readonly HeaderSelector $headerSelector;
    private Configuration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?Configuration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?HeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            'https://api.upsun.com',
            $streamFactory
        );

        $this->config = $config ?? (new Configuration())->setHost('https://api.upsun.com');

        $this->headerSelector = $selector ?? new HeaderSelector();
    }

    public function getConfig(): Configuration
    {
        return $this->config;
    }


    /**
     * List plan records
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return \Upsun\Model\ListOrgPlanRecords200Response
     *
     * @see
     * curl -X GET "https://api.upsun.com/organizations/{organization_id}/records/plan?filterSubscriptionId=value&filterPlan=value&filterStatus=value&filterStart=value&filterEnd=value&filterStartedAt=value&filterEndedAt=value&page=value" \
     *      -H "Authorization: Bearer ACCESS_TOKEN" \
     *      -H "Accept: application/json, application/problem+json"
     */
    public function listOrgPlanRecords(
        string $organizationId,
        ?string $filterSubscriptionId = null,
        ?string $filterPlan = null,
        ?string $filterStatus = null,
        ?\DateTime $filterStart = null,
        ?\DateTime $filterEnd = null,
        ?\DateTime $filterStartedAt = null,
        ?\DateTime $filterEndedAt = null,
        ?int $page = null
    ): object {
        return $this->listOrgPlanRecordsWithHttpInfo(
            $organizationId,
            $filterSubscriptionId,
            $filterPlan,
            $filterStatus,
            $filterStart,
            $filterEnd,
            $filterStartedAt,
            $filterEndedAt,
            $page
        );
    }

    /**
     * List plan records
     *
     * @return \Upsun\Model\ListOrgPlanRecords200Response
     *
     * @throws InvalidArgumentException|Exception
     */
    private function listOrgPlanRecordsWithHttpInfo(
        string $organizationId,
        ?string $filterSubscriptionId = null,
        ?string $filterPlan = null,
        ?string $filterStatus = null,
        ?\DateTime $filterStart = null,
        ?\DateTime $filterEnd = null,
        ?\DateTime $filterStartedAt = null,
        ?\DateTime $filterEndedAt = null,
        ?int $page = null
    ): object {
        $request = $this->listOrgPlanRecordsRequest(
            $organizationId,
            $filterSubscriptionId,
            $filterPlan,
            $filterStatus,
            $filterStart,
            $filterEnd,
            $filterStartedAt,
            $filterEndedAt,
            $page
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ListOrgPlanRecords200Response',
                $request,
                $response
            );
        } catch (ApiException $e) {
            $e->enrichWithErrorObject();
            throw $e;
        }
    }

    /**
     * Create request for operation 'listOrgPlanRecords'
     *
     * @throws InvalidArgumentException
     */
    private function listOrgPlanRecordsRequest(
        string $organizationId,
        ?string $filterSubscriptionId = null,
        ?string $filterPlan = null,
        ?string $filterStatus = null,
        ?\DateTime $filterStart = null,
        ?\DateTime $filterEnd = null,
        ?\DateTime $filterStartedAt = null,
        ?\DateTime $filterEndedAt = null,
        ?int $page = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling listOrgPlanRecords'
            );
        }








        $resourcePath = '/organizations/{organization_id}/records/plan';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterSubscriptionId !== null) {
            if ('form' === 'form' && is_array($filterSubscriptionId)) {
                foreach ($filterSubscriptionId as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[subscription_id]'] = $filterSubscriptionId instanceof \DateTime
                    ? $filterSubscriptionId->format(DATE_ATOM)
                    : ($filterSubscriptionId);
            }
        }



        // query params
        if ($filterPlan !== null) {
            if ('form' === 'form' && is_array($filterPlan)) {
                foreach ($filterPlan as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[plan]'] = $filterPlan instanceof \DateTime
                    ? $filterPlan->format(DATE_ATOM)
                    : ($filterPlan);
            }
        }



        // query params
        if ($filterStatus !== null) {
            if ('form' === 'form' && is_array($filterStatus)) {
                foreach ($filterStatus as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[status]'] = $filterStatus instanceof \DateTime
                    ? $filterStatus->format(DATE_ATOM)
                    : ($filterStatus);
            }
        }



        // query params
        if ($filterStart !== null) {
            if ('form' === 'form' && is_array($filterStart)) {
                foreach ($filterStart as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[start]'] = $filterStart instanceof \DateTime
                    ? $filterStart->format(DATE_ATOM)
                    : ($filterStart);
            }
        }



        // query params
        if ($filterEnd !== null) {
            if ('form' === 'form' && is_array($filterEnd)) {
                foreach ($filterEnd as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[end]'] = $filterEnd instanceof \DateTime
                    ? $filterEnd->format(DATE_ATOM)
                    : ($filterEnd);
            }
        }



        // query params
        if ($filterStartedAt !== null) {
            if ('form' === 'form' && is_array($filterStartedAt)) {
                foreach ($filterStartedAt as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[started_at]'] = $filterStartedAt instanceof \DateTime
                    ? $filterStartedAt->format(DATE_ATOM)
                    : ($filterStartedAt);
            }
        }



        // query params
        if ($filterEndedAt !== null) {
            if ('form' === 'form' && is_array($filterEndedAt)) {
                foreach ($filterEndedAt as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[ended_at]'] = $filterEndedAt instanceof \DateTime
                    ? $filterEndedAt->format(DATE_ATOM)
                    : ($filterEndedAt);
            }
        }



        // query params
        if ($page !== null) {
            if ('form' === 'form' && is_array($page)) {
                foreach ($page as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page'] = $page instanceof \DateTime
                    ? $page->format(DATE_ATOM)
                    : ($page);
            }
        }



        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
    /**
     * List usage records
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return \Upsun\Model\ListOrgUsageRecords200Response
     *
     * @see
     * curl -X GET "https://api.upsun.com/organizations/{organization_id}/records/usage?filterSubscriptionId=value&filterUsageGroup=value&filterStart=value&filterStartedAt=value&page=value" \
     *      -H "Authorization: Bearer ACCESS_TOKEN" \
     *      -H "Accept: application/json, application/problem+json"
     */
    public function listOrgUsageRecords(
        string $organizationId,
        ?string $filterSubscriptionId = null,
        ?string $filterUsageGroup = null,
        ?\DateTime $filterStart = null,
        ?\DateTime $filterStartedAt = null,
        ?int $page = null
    ): object {
        return $this->listOrgUsageRecordsWithHttpInfo(
            $organizationId,
            $filterSubscriptionId,
            $filterUsageGroup,
            $filterStart,
            $filterStartedAt,
            $page
        );
    }

    /**
     * List usage records
     *
     * @return \Upsun\Model\ListOrgUsageRecords200Response
     *
     * @throws InvalidArgumentException|Exception
     */
    private function listOrgUsageRecordsWithHttpInfo(
        string $organizationId,
        ?string $filterSubscriptionId = null,
        ?string $filterUsageGroup = null,
        ?\DateTime $filterStart = null,
        ?\DateTime $filterStartedAt = null,
        ?int $page = null
    ): object {
        $request = $this->listOrgUsageRecordsRequest(
            $organizationId,
            $filterSubscriptionId,
            $filterUsageGroup,
            $filterStart,
            $filterStartedAt,
            $page
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ListOrgUsageRecords200Response',
                $request,
                $response
            );
        } catch (ApiException $e) {
            $e->enrichWithErrorObject();
            throw $e;
        }
    }

    /**
     * Create request for operation 'listOrgUsageRecords'
     *
     * @throws InvalidArgumentException
     */
    private function listOrgUsageRecordsRequest(
        string $organizationId,
        ?string $filterSubscriptionId = null,
        ?string $filterUsageGroup = null,
        ?\DateTime $filterStart = null,
        ?\DateTime $filterStartedAt = null,
        ?int $page = null
    ): RequestInterface {

        // verify the required parameter 'organizationId' is set
        if (
            $organizationId === null
            || (is_array($organizationId)
            && count($organizationId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $organizationId 
                when calling listOrgUsageRecords'
            );
        }





        $resourcePath = '/organizations/{organization_id}/records/usage';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterSubscriptionId !== null) {
            if ('form' === 'form' && is_array($filterSubscriptionId)) {
                foreach ($filterSubscriptionId as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[subscription_id]'] = $filterSubscriptionId instanceof \DateTime
                    ? $filterSubscriptionId->format(DATE_ATOM)
                    : ($filterSubscriptionId);
            }
        }



        // query params
        if ($filterUsageGroup !== null) {
            if ('form' === 'form' && is_array($filterUsageGroup)) {
                foreach ($filterUsageGroup as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[usage_group]'] = $filterUsageGroup instanceof \DateTime
                    ? $filterUsageGroup->format(DATE_ATOM)
                    : ($filterUsageGroup);
            }
        }



        // query params
        if ($filterStart !== null) {
            if ('form' === 'form' && is_array($filterStart)) {
                foreach ($filterStart as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[start]'] = $filterStart instanceof \DateTime
                    ? $filterStart->format(DATE_ATOM)
                    : ($filterStart);
            }
        }



        // query params
        if ($filterStartedAt !== null) {
            if ('form' === 'form' && is_array($filterStartedAt)) {
                foreach ($filterStartedAt as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[started_at]'] = $filterStartedAt instanceof \DateTime
                    ? $filterStartedAt->format(DATE_ATOM)
                    : ($filterStartedAt);
            }
        }



        // query params
        if ($page !== null) {
            if ('form' === 'form' && is_array($page)) {
                foreach ($page as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page'] = $page instanceof \DateTime
                    ? $page->format(DATE_ATOM)
                    : ($page);
            }
        }



        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
