<?php

namespace Upsun\Api;

use DateTime;
use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Upsun\Core\OAuthProvider;
use Upsun\Model\ListOrgPlanRecords200Response;
use Upsun\Model\ListOrgUsageRecords200Response;

/**
 * Low level RecordsApi (auto-generated)
 *
 * @license   Apache V2
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class RecordsApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private APIConfiguration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?APIConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            AbstractApi::BASE_PATH,
            $streamFactory
        );

        $this->config = $config ?? (new APIConfiguration())->setHost(AbstractApi::BASE_PATH);

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * List plan records
     *
     * Retrieves plan records for the specified organization.
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string|null $filterSubscriptionId
     *         The ID of the subscription (optional)
     * @param  string|null $filterPlan
     *         The plan type of the subscription. (optional)
     * @param  string|null $filterStatus
     *         The status of the plan record. (optional)
     * @param  DateTime|null $filterStart
     *         The start of the observation period for the record. E.g.
     *         filter[start]=2018-01-01 will display all records that were active (i.e. did not
     *         end) on 2018-01-01 (optional)
     * @param  DateTime|null $filterEnd
     *         The end of the observation period for the record. E.g. filter[end]=2018-01-01
     *         will display all records that were active on (i.e. they started before)
     *         2018-01-01 (optional)
     * @param  DateTime|null $filterStartedAt
     *         The record's start timestamp. You can use this filter to list records started
     *         after, or before a certain time. E.g.
     *         filter[started_at][value]=2020-01-01&filter[started_at][operator]=> (optional)
     * @param  DateTime|null $filterEndedAt
     *         The record's end timestamp. You can use this filter to list records ended after,
     *         or before a certain time. E.g.
     *         filter[ended_at][value]=2020-01-01&filter[ended_at][operator]=> (optional)
     * @param  int|null $page
     *         Page to be displayed. Defaults to 1. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Records/operation/list-org-plan-records
     */
    public function listOrgPlanRecords(
        string $organizationId,
        ?string $filterSubscriptionId = null,
        ?string $filterPlan = null,
        ?string $filterStatus = null,
        ?DateTime $filterStart = null,
        ?DateTime $filterEnd = null,
        ?DateTime $filterStartedAt = null,
        ?DateTime $filterEndedAt = null,
        ?int $page = null
    ): ListOrgPlanRecords200Response {
        return $this->listOrgPlanRecordsWithHttpInfo(
            $organizationId,
            $filterSubscriptionId,
            $filterPlan,
            $filterStatus,
            $filterStart,
            $filterEnd,
            $filterStartedAt,
            $filterEndedAt,
            $page
        );
    }

    /**
     * List plan records with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string|null $filterSubscriptionId
     *         The ID of the subscription (optional)
     * @param  string|null $filterPlan
     *         The plan type of the subscription. (optional)
     * @param  string|null $filterStatus
     *         The status of the plan record. (optional)
     * @param  DateTime|null $filterStart
     *         The start of the observation period for the record. E.g.
     *         filter[start]=2018-01-01 will display all records that were active (i.e. did not
     *         end) on 2018-01-01 (optional)
     * @param  DateTime|null $filterEnd
     *         The end of the observation period for the record. E.g. filter[end]=2018-01-01
     *         will display all records that were active on (i.e. they started before)
     *         2018-01-01 (optional)
     * @param  DateTime|null $filterStartedAt
     *         The record's start timestamp. You can use this filter to list records started
     *         after, or before a certain time. E.g.
     *         filter[started_at][value]=2020-01-01&filter[started_at][operator]=> (optional)
     * @param  DateTime|null $filterEndedAt
     *         The record's end timestamp. You can use this filter to list records ended after,
     *         or before a certain time. E.g.
     *         filter[ended_at][value]=2020-01-01&filter[ended_at][operator]=> (optional)
     * @param  int|null $page
     *         Page to be displayed. Defaults to 1. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function listOrgPlanRecordsWithHttpInfo(
        string $organizationId,
        ?string $filterSubscriptionId = null,
        ?string $filterPlan = null,
        ?string $filterStatus = null,
        ?DateTime $filterStart = null,
        ?DateTime $filterEnd = null,
        ?DateTime $filterStartedAt = null,
        ?DateTime $filterEndedAt = null,
        ?int $page = null
    ): ListOrgPlanRecords200Response {
        $request = $this->listOrgPlanRecordsRequest(
            $organizationId,
            $filterSubscriptionId,
            $filterPlan,
            $filterStatus,
            $filterStart,
            $filterEnd,
            $filterStartedAt,
            $filterEndedAt,
            $page
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ListOrgPlanRecords200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/records/plan'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'listOrgPlanRecords'
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string|null $filterSubscriptionId
     *         The ID of the subscription (optional)
     * @param  string|null $filterPlan
     *         The plan type of the subscription. (optional)
     * @param  string|null $filterStatus
     *         The status of the plan record. (optional)
     * @param  DateTime|null $filterStart
     *         The start of the observation period for the record. E.g.
     *         filter[start]=2018-01-01 will display all records that were active (i.e. did not
     *         end) on 2018-01-01 (optional)
     * @param  DateTime|null $filterEnd
     *         The end of the observation period for the record. E.g. filter[end]=2018-01-01
     *         will display all records that were active on (i.e. they started before)
     *         2018-01-01 (optional)
     * @param  DateTime|null $filterStartedAt
     *         The record's start timestamp. You can use this filter to list records started
     *         after, or before a certain time. E.g.
     *         filter[started_at][value]=2020-01-01&filter[started_at][operator]=> (optional)
     * @param  DateTime|null $filterEndedAt
     *         The record's end timestamp. You can use this filter to list records ended after,
     *         or before a certain time. E.g.
     *         filter[ended_at][value]=2020-01-01&filter[ended_at][operator]=> (optional)
     * @param  int|null $page
     *         Page to be displayed. Defaults to 1. (optional)
     *
     * @throws InvalidArgumentException
     */
    private function listOrgPlanRecordsRequest(
        string $organizationId,
        ?string $filterSubscriptionId = null,
        ?string $filterPlan = null,
        ?string $filterStatus = null,
        ?DateTime $filterStart = null,
        ?DateTime $filterEnd = null,
        ?DateTime $filterStartedAt = null,
        ?DateTime $filterEndedAt = null,
        ?int $page = null
    ): RequestInterface {
        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling listOrgPlanRecords'
            );
        }

        $resourcePath = '/organizations/{organization_id}/records/plan';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterSubscriptionId !== null) {
            if ('form' === 'form' && is_array($filterSubscriptionId)) {
                foreach ($filterSubscriptionId as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[subscription_id]'] = $filterSubscriptionId instanceof DateTime
                    ? $filterSubscriptionId->format(DATE_ATOM)
                    : ($filterSubscriptionId);
            }
        }

        // query params
        if ($filterPlan !== null) {
            if ('form' === 'form' && is_array($filterPlan)) {
                foreach ($filterPlan as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[plan]'] = $filterPlan instanceof DateTime
                    ? $filterPlan->format(DATE_ATOM)
                    : ($filterPlan);
            }
        }

        // query params
        if ($filterStatus !== null) {
            if ('form' === 'form' && is_array($filterStatus)) {
                foreach ($filterStatus as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[status]'] = $filterStatus instanceof DateTime
                    ? $filterStatus->format(DATE_ATOM)
                    : ($filterStatus);
            }
        }

        // query params
        if ($filterStart !== null) {
            if ('form' === 'form' && is_array($filterStart)) {
                foreach ($filterStart as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[start]'] = $filterStart instanceof DateTime
                    ? $filterStart->format(DATE_ATOM)
                    : ($filterStart);
            }
        }

        // query params
        if ($filterEnd !== null) {
            if ('form' === 'form' && is_array($filterEnd)) {
                foreach ($filterEnd as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[end]'] = $filterEnd instanceof DateTime
                    ? $filterEnd->format(DATE_ATOM)
                    : ($filterEnd);
            }
        }

        // query params
        if ($filterStartedAt !== null) {
            if ('form' === 'form' && is_array($filterStartedAt)) {
                foreach ($filterStartedAt as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[started_at]'] = $filterStartedAt instanceof DateTime
                    ? $filterStartedAt->format(DATE_ATOM)
                    : ($filterStartedAt);
            }
        }

        // query params
        if ($filterEndedAt !== null) {
            if ('form' === 'form' && is_array($filterEndedAt)) {
                foreach ($filterEndedAt as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[ended_at]'] = $filterEndedAt instanceof DateTime
                    ? $filterEndedAt->format(DATE_ATOM)
                    : ($filterEndedAt);
            }
        }

        // query params
        if ($page !== null) {
            if ('form' === 'form' && is_array($page)) {
                foreach ($page as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page'] = $page instanceof DateTime
                    ? $page->format(DATE_ATOM)
                    : ($page);
            }
        }

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * List usage records
     *
     * Retrieves usage records for the specified organization.
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string|null $filterSubscriptionId
     *         The ID of the subscription (optional)
     * @param  string|null $filterUsageGroup
     *         Filter records by the type of usage. (optional)
     * @param  DateTime|null $filterStart
     *         The start of the observation period for the record. E.g.
     *         filter[start]=2018-01-01 will display all records that were active (i.e. did not
     *         end) on 2018-01-01 (optional)
     * @param  DateTime|null $filterStartedAt
     *         The record's start timestamp. You can use this filter to list records started
     *         after, or before a certain time. E.g.
     *         filter[started_at][value]=2020-01-01&filter[started_at][operator]=> (optional)
     * @param  int|null $page
     *         Page to be displayed. Defaults to 1. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Records/operation/list-org-usage-records
     */
    public function listOrgUsageRecords(
        string $organizationId,
        ?string $filterSubscriptionId = null,
        ?string $filterUsageGroup = null,
        ?DateTime $filterStart = null,
        ?DateTime $filterStartedAt = null,
        ?int $page = null
    ): ListOrgUsageRecords200Response {
        return $this->listOrgUsageRecordsWithHttpInfo(
            $organizationId,
            $filterSubscriptionId,
            $filterUsageGroup,
            $filterStart,
            $filterStartedAt,
            $page
        );
    }

    /**
     * List usage records with HTTP Info
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string|null $filterSubscriptionId
     *         The ID of the subscription (optional)
     * @param  string|null $filterUsageGroup
     *         Filter records by the type of usage. (optional)
     * @param  DateTime|null $filterStart
     *         The start of the observation period for the record. E.g.
     *         filter[start]=2018-01-01 will display all records that were active (i.e. did not
     *         end) on 2018-01-01 (optional)
     * @param  DateTime|null $filterStartedAt
     *         The record's start timestamp. You can use this filter to list records started
     *         after, or before a certain time. E.g.
     *         filter[started_at][value]=2020-01-01&filter[started_at][operator]=> (optional)
     * @param  int|null $page
     *         Page to be displayed. Defaults to 1. (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function listOrgUsageRecordsWithHttpInfo(
        string $organizationId,
        ?string $filterSubscriptionId = null,
        ?string $filterUsageGroup = null,
        ?DateTime $filterStart = null,
        ?DateTime $filterStartedAt = null,
        ?int $page = null
    ): ListOrgUsageRecords200Response {
        $request = $this->listOrgUsageRecordsRequest(
            $organizationId,
            $filterSubscriptionId,
            $filterUsageGroup,
            $filterStart,
            $filterStartedAt,
            $page
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ListOrgUsageRecords200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/organizations/{organization_id}/records/usage'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'listOrgUsageRecords'
     *
     * @param  string $organizationId
     *         The ID of the organization. Prefix with name= to retrieve the organization by
     *         name instead. (required)
     * @param  string|null $filterSubscriptionId
     *         The ID of the subscription (optional)
     * @param  string|null $filterUsageGroup
     *         Filter records by the type of usage. (optional)
     * @param  DateTime|null $filterStart
     *         The start of the observation period for the record. E.g.
     *         filter[start]=2018-01-01 will display all records that were active (i.e. did not
     *         end) on 2018-01-01 (optional)
     * @param  DateTime|null $filterStartedAt
     *         The record's start timestamp. You can use this filter to list records started
     *         after, or before a certain time. E.g.
     *         filter[started_at][value]=2020-01-01&filter[started_at][operator]=> (optional)
     * @param  int|null $page
     *         Page to be displayed. Defaults to 1. (optional)
     *
     * @throws InvalidArgumentException
     */
    private function listOrgUsageRecordsRequest(
        string $organizationId,
        ?string $filterSubscriptionId = null,
        ?string $filterUsageGroup = null,
        ?DateTime $filterStart = null,
        ?DateTime $filterStartedAt = null,
        ?int $page = null
    ): RequestInterface {
        // verify the required parameter 'organizationId' is set
        if (empty($organizationId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $organizationId
                when calling listOrgUsageRecords'
            );
        }

        $resourcePath = '/organizations/{organization_id}/records/usage';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterSubscriptionId !== null) {
            if ('form' === 'form' && is_array($filterSubscriptionId)) {
                foreach ($filterSubscriptionId as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[subscription_id]'] = $filterSubscriptionId instanceof DateTime
                    ? $filterSubscriptionId->format(DATE_ATOM)
                    : ($filterSubscriptionId);
            }
        }

        // query params
        if ($filterUsageGroup !== null) {
            if ('form' === 'form' && is_array($filterUsageGroup)) {
                foreach ($filterUsageGroup as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[usage_group]'] = $filterUsageGroup instanceof DateTime
                    ? $filterUsageGroup->format(DATE_ATOM)
                    : ($filterUsageGroup);
            }
        }

        // query params
        if ($filterStart !== null) {
            if ('form' === 'form' && is_array($filterStart)) {
                foreach ($filterStart as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[start]'] = $filterStart instanceof DateTime
                    ? $filterStart->format(DATE_ATOM)
                    : ($filterStart);
            }
        }

        // query params
        if ($filterStartedAt !== null) {
            if ('form' === 'form' && is_array($filterStartedAt)) {
                foreach ($filterStartedAt as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[started_at]'] = $filterStartedAt instanceof DateTime
                    ? $filterStartedAt->format(DATE_ATOM)
                    : ($filterStartedAt);
            }
        }

        // query params
        if ($page !== null) {
            if ('form' === 'form' && is_array($page)) {
                foreach ($page as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page'] = $page instanceof DateTime
                    ? $page->format(DATE_ATOM)
                    : ($page);
            }
        }

        // path params

        if ($organizationId !== null) {
            $resourcePath = str_replace(
                '{' . 'organization_id' . '}',
                ObjectSerializer::toPathValue($organizationId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
