<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use Http\Client\Common\Plugin\ErrorPlugin;
use Http\Client\Common\Plugin\RedirectPlugin;
use Http\Client\Common\PluginClient;
use Http\Client\Common\PluginClientFactory;
use Http\Client\Exception\HttpException;
use Http\Client\HttpAsyncClient;
use Http\Discovery\HttpAsyncClientDiscovery;
use Http\Discovery\Psr17FactoryDiscovery;
use Http\Discovery\Psr18ClientDiscovery;
use Http\Promise\Promise;
use Upsun\ApiException;
use Upsun\Configuration;
use Upsun\DebugPlugin;
use Upsun\HeaderSelector;
use Upsun\ObjectSerializer;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use Psr\Http\Message\StreamInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Psr\Http\Message\UriFactoryInterface;
use Psr\Http\Message\UriInterface;
use InvalidArgumentException;
use Upsun\Core\OAuthProvider;

use function sprintf;

/**
 * Low level RegionsApi (auto-generated)
 *
 * @author    Upsun SDK Team
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @internal  This file was generated by OpenAPI Generator. Do not edit manually.
 * @generated
 */
final class RegionsApi extends AbstractApi
{
    private readonly PluginClient $httpClient;

    private readonly PluginClient $httpAsyncClient;

    private readonly UriFactoryInterface $uriFactory;

    private readonly Configuration $config;

    private readonly HeaderSelector $headerSelector;

    private readonly int $hostIndex;

    private readonly RequestFactoryInterface $requestFactory;

    private readonly StreamFactoryInterface $streamFactory;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?Configuration $config = null,
        ?HttpAsyncClient $httpAsyncClient = null,
        ?UriFactoryInterface $uriFactory = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?HeaderSelector $selector = null,
        ?array $plugins = null,
        $hostIndex = 0
    ) {
        parent::__construct($oauthProvider, $httpClient, $requestFactory, 'https://api.platform.sh');

        $this->config = $config ?? (new Configuration())->setHost('https://api.platform.sh');
        $this->requestFactory = $requestFactory ?? Psr17FactoryDiscovery::findRequestFactory();
        $this->streamFactory = $streamFactory ?? Psr17FactoryDiscovery::findStreamFactory();

        $plugins = $plugins ?? [
            new RedirectPlugin(['strict' => true]),
            new ErrorPlugin(),
        ];

        if ($this->config->getDebug()) {
            $plugins[] = new DebugPlugin(fopen($this->config->getDebugFile(), 'ab'));
        }

        $this->httpClient = (new PluginClientFactory())->createClient(
            $httpClient ?? Psr18ClientDiscovery::find(),
            $plugins
        );

        $this->httpAsyncClient = (new PluginClientFactory())->createClient(
            $httpAsyncClient ?? HttpAsyncClientDiscovery::find(),
            $plugins
        );

        $this->uriFactory = $uriFactory ?? Psr17FactoryDiscovery::findUriFactory();

        $this->headerSelector = $selector ?? new HeaderSelector();

        $this->hostIndex = $hostIndex;
    }

    /**
     * Get region
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     */
    public function getRegion(
        string $regionId
    ): \Upsun\Model\Region {
        list($response) = $this->getRegionWithHttpInfo(
            $regionId
        );
        return $response;
    }

    /**
     * Get region
     *
     * @throws InvalidArgumentException|Exception
     */
    public function getRegionWithHttpInfo(
        string $regionId
    ): array {
        $request = $this->getRegionRequest(
            $regionId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Region',
                $request,
                $response
            );

        } catch (ApiException $e) {
            throw $e;
        }
    }

    /**
     * Get region
     *
     * @throws InvalidArgumentException|Exception
     */
    public function getRegionAsync(
        string $regionId
    ): Promise {
        return $this->getRegionAsyncWithHttpInfo(
            $regionId
        )
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Get region
     *
     * @throws InvalidArgumentException|Exception
     */
    public function getRegionAsyncWithHttpInfo(
        string $regionId
    ): Promise {
        $returnType = '\Upsun\Model\Region';
        $request = $this->getRegionRequest(
            $regionId
        );

        return $this->httpAsyncClient->sendAsyncRequest($request)
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function (HttpException $exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $exception->getRequest(),
                        $exception->getResponse(),
                        $exception
                    );
                }
            );
    }

    /**
     * Create request for operation 'getRegion'
     *
     * @throws InvalidArgumentException
     */
    public function getRegionRequest(
        string $regionId
    ): RequestInterface {
        // verify the required parameter 'regionId' is set
        if ($regionId === null || (is_array($regionId) && count($regionId) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $regionId when calling getRegion'
            );
        }

        $resourcePath = '/regions/{region_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;



        // path params
        if ($regionId !== null) {
            $resourcePath = str_replace(
                '{' . 'region_id' . '}',
                ObjectSerializer::toPathValue($regionId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * List regions
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     */
    public function listRegions(
        ?\Upsun\Model\StringFilter $filterAvailable = null,
        ?\Upsun\Model\StringFilter $filterPrivate = null,
        ?\Upsun\Model\StringFilter $filterZone = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): array {
        list($response) = $this->listRegionsWithHttpInfo(
            $filterAvailable,
            $filterPrivate,
            $filterZone,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );
        return $response;
    }

    /**
     * List regions
     *
     * @throws InvalidArgumentException|Exception
     */
    public function listRegionsWithHttpInfo(
        \Upsun\Model\StringFilter $filterAvailable = null,
        \Upsun\Model\StringFilter $filterPrivate = null,
        \Upsun\Model\StringFilter $filterZone = null,
        int $pageSize = null,
        string $pageBefore = null,
        string $pageAfter = null,
        string $sort = null
    ): array {
        $request = $this->listRegionsRequest(
            $filterAvailable,
            $filterPrivate,
            $filterZone,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ListRegions200Response',
                $request,
                $response
            );

        } catch (ApiException $e) {
            throw $e;
        }
    }

    /**
     * List regions
     *
     * @throws InvalidArgumentException|Exception
     */
    public function listRegionsAsync(
        \Upsun\Model\StringFilter $filterAvailable = null,
        \Upsun\Model\StringFilter $filterPrivate = null,
        \Upsun\Model\StringFilter $filterZone = null,
        int $pageSize = null,
        string $pageBefore = null,
        string $pageAfter = null,
        string $sort = null
    ): Promise {
        return $this->listRegionsAsyncWithHttpInfo(
            $filterAvailable,
            $filterPrivate,
            $filterZone,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        )
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * List regions
     *
     * @throws InvalidArgumentException|Exception
     */
    public function listRegionsAsyncWithHttpInfo(
        \Upsun\Model\StringFilter $filterAvailable = null,
        \Upsun\Model\StringFilter $filterPrivate = null,
        \Upsun\Model\StringFilter $filterZone = null,
        int $pageSize = null,
        string $pageBefore = null,
        string $pageAfter = null,
        string $sort = null
    ): Promise {
        $returnType = '\Upsun\Model\ListRegions200Response';
        $request = $this->listRegionsRequest(
            $filterAvailable,
            $filterPrivate,
            $filterZone,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );

        return $this->httpAsyncClient->sendAsyncRequest($request)
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function (HttpException $exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $exception->getRequest(),
                        $exception->getResponse(),
                        $exception
                    );
                }
            );
    }

    /**
     * Create request for operation 'listRegions'
     *
     * @throws InvalidArgumentException
     */
    public function listRegionsRequest(
        \Upsun\Model\StringFilter $filterAvailable = null,
        \Upsun\Model\StringFilter $filterPrivate = null,
        \Upsun\Model\StringFilter $filterZone = null,
        int $pageSize = null,
        string $pageBefore = null,
        string $pageAfter = null,
        string $sort = null
    ): RequestInterface {
        if ($pageSize !== null && $pageSize > 100) {
            throw new \InvalidArgumentException(
                'invalid value for "$pageSize" when calling RegionsApi.listRegions, 
                must be smaller than or equal to 100.'
            );
        }
        if ($pageSize !== null && $pageSize < 1) {
            throw new \InvalidArgumentException(
                'invalid value for "$pageSize" when calling RegionsApi.listRegions,
                must be bigger than or equal to 1.'
            );
        }


        $resourcePath = '/regions';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterAvailable !== null) {
            if ('form' === 'deepObject' && is_array($filterAvailable)) {
                foreach ($filterAvailable as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[available]'] = $filterAvailable->getEq();
            }
        }

        // query params
        if ($filterPrivate !== null) {
            if ('form' === 'deepObject' && is_array($filterPrivate)) {
                foreach ($filterPrivate as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[private]'] = $filterPrivate->getEq();
            }
        }

        // query params
        if ($filterZone !== null) {
            if ('form' === 'deepObject' && is_array($filterZone)) {
                foreach ($filterZone as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[zone]'] = $filterZone->getEq();
            }
        }

        // query params
        if ($pageSize !== null) {
            if ('form' === 'form' && is_array($pageSize)) {
                foreach ($pageSize as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[size]'] = $pageSize;
            }
        }

        // query params
        if ($pageBefore !== null) {
            if ('form' === 'form' && is_array($pageBefore)) {
                foreach ($pageBefore as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[before]'] = $pageBefore;
            }
        }

        // query params
        if ($pageAfter !== null) {
            if ('form' === 'form' && is_array($pageAfter)) {
                foreach ($pageAfter as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[after]'] = $pageAfter;
            }
        }

        // query params
        if ($sort !== null) {
            if ('form' === 'form' && is_array($sort)) {
                foreach ($sort as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['sort'] = $sort;
            }
        }





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }


    /**
     * Create request
     */
    protected function createRequest(
        string $method,
        string|UriInterface $uri,
        array $headers = [],
        string|StreamInterface|null $body = null
    ): RequestInterface {
        $request = $this->requestFactory->createRequest($method, $uri);

        foreach ($headers as $key => $value) {
            $request = $request->withHeader($key, $value);
        }

        if (null !== $body) {
            if (is_string($body)) {
                if (!$this->streamFactory) {
                    throw new \RuntimeException(
                        'A stream factory is required to create a request with a string body.'
                    );
                }
                $body = $this->streamFactory->createStream($body);
            }
            $request = $request->withBody($body);
        }

        return $request;
    }

    private function createUri(
        string $operationHost,
        string $resourcePath,
        array $queryParams
    ): UriInterface {
        $parsedUrl = parse_url($operationHost);

        $host = $parsedUrl['host'] ?? null;
        $scheme = $parsedUrl['scheme'] ?? null;
        $basePath = $parsedUrl['path'] ?? null;
        $port = $parsedUrl['port'] ?? null;
        $user = $parsedUrl['user'] ?? null;
        $password = $parsedUrl['pass'] ?? null;

        $uri = $this->uriFactory->createUri($basePath . $resourcePath)
            ->withHost($host)
            ->withScheme($scheme)
            ->withPort($port)
            ->withQuery(ObjectSerializer::buildQuery($queryParams));

        if ($user) {
            $uri = $uri->withUserInfo($user, $password);
        }

        return $uri;
    }

    private function handleResponseWithDataType(
        string $dataType,
        RequestInterface $request,
        ResponseInterface $response
    ): array {
        if ($dataType === '\SplFileObject') {
            $content = $response->getBody(); //stream goes to serializer
        } else {
            $content = (string) $response->getBody();
            if ($dataType !== 'string') {
                try {
                    $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                } catch (\JsonException $exception) {
                    throw new ApiException(
                        sprintf(
                            'Error JSON decoding server response (%s)',
                            $request->getUri()
                        ),
                        $request,
                        $response
                    );
                }
            }
        }

        return [
            ObjectSerializer::deserialize($content, $dataType, []),
            $response->getStatusCode(),
            $response->getHeaders()
        ];
    }

    private function responseWithinRangeCode(
        string $rangeCode,
        int $statusCode
    ): bool {
        $left = (int) ($rangeCode[0] . '00');
        $right = (int) ($rangeCode[0] . '99');

        return $statusCode >= $left && $statusCode <= $right;
    }
}
