<?php

namespace Upsun\Api;

use Upsun\Model\Region;
use Upsun\Model\StringFilter;
use Upsun\Model\ListRegions200Response;
use DateTime;
use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use Upsun\ApiException;
use Upsun\Configuration;
use Upsun\HeaderSelector;
use Upsun\ObjectSerializer;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use InvalidArgumentException;
use Upsun\Core\OAuthProvider;

/**
 * Low level RegionsApi (auto-generated)
 *
 * @author    Upsun SDK Team
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @internal  This file was generated by OpenAPI Generator. Do not edit manually.
 * @generated
 */
final class RegionsApi extends AbstractApi
{
    private readonly HeaderSelector $headerSelector;

    private Configuration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?Configuration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?HeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            'https://api.upsun.com',
            $streamFactory
        );

        $this->config = $config ?? (new Configuration())->setHost('https://api.upsun.com');

        $this->headerSelector = $selector ?? new HeaderSelector();
    }

    public function getConfig(): Configuration
    {
        return $this->config;
    }


    /**
     * Get region
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return Region
     *
     * @see https://docs.upsun.com/api/#tag/Regions/operation/get-region
     */
    public function getRegion(
        string $regionId
    ): Region {
        return $this->getRegionWithHttpInfo(
            $regionId
        );
    }

    /**
     * Get region
     *
     * @return Region
     *
     * @throws InvalidArgumentException|Exception
     */
    private function getRegionWithHttpInfo(
        string $regionId
    ): Region {
        $request = $this->getRegionRequest(
            $regionId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                Region::class,
                $request,
                $response
            );
        } catch (ApiException $apiException) {
            $apiException->enrichWithErrorObject();
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'getRegion'
     *
     * @throws InvalidArgumentException
     */
    private function getRegionRequest(
        string $regionId
    ): RequestInterface {

        // verify the required parameter 'regionId' is set
        if (
            $regionId === null
            || (is_array($regionId)
            && count($regionId) === 0)
        ) {
            throw new InvalidArgumentException(
                'Missing the required parameter $regionId 
                when calling getRegion'
            );
        }

        $resourcePath = '/regions/{region_id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($regionId !== null) {
            $resourcePath = str_replace(
                '{' . 'region_id' . '}',
                ObjectSerializer::toPathValue($regionId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * List regions
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     *
     * @return ListRegions200Response
     *
     * @see https://docs.upsun.com/api/#tag/Regions/operation/list-regions
     */
    public function listRegions(
        ?StringFilter $filterAvailable = null,
        ?StringFilter $filterPrivate = null,
        ?StringFilter $filterZone = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): ListRegions200Response {
        return $this->listRegionsWithHttpInfo(
            $filterAvailable,
            $filterPrivate,
            $filterZone,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );
    }

    /**
     * List regions
     *
     * @return ListRegions200Response
     *
     * @throws InvalidArgumentException|Exception
     */
    private function listRegionsWithHttpInfo(
        ?StringFilter $filterAvailable = null,
        ?StringFilter $filterPrivate = null,
        ?StringFilter $filterZone = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): ListRegions200Response {
        $request = $this->listRegionsRequest(
            $filterAvailable,
            $filterPrivate,
            $filterZone,
            $pageSize,
            $pageBefore,
            $pageAfter,
            $sort
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                ListRegions200Response::class,
                $request,
                $response
            );
        } catch (ApiException $apiException) {
            $apiException->enrichWithErrorObject();
            throw $apiException;
        }
    }

    /**
     * Create request for operation 'listRegions'
     *
     * @throws InvalidArgumentException
     */
    private function listRegionsRequest(
        ?StringFilter $filterAvailable = null,
        ?StringFilter $filterPrivate = null,
        ?StringFilter $filterZone = null,
        ?int $pageSize = null,
        ?string $pageBefore = null,
        ?string $pageAfter = null,
        ?string $sort = null
    ): RequestInterface {






        if ($pageSize !== null && $pageSize > 100) {
            throw new InvalidArgumentException(
                'invalid value for "$pageSize" when calling RegionsApi.listRegions, 
                must be smaller than or equal to 100.'
            );
        }

        if ($pageSize !== null && $pageSize < 1) {
            throw new InvalidArgumentException(
                'invalid value for "$pageSize" when calling RegionsApi.listRegions,
                must be bigger than or equal to 1.'
            );
        }



        $resourcePath = '/regions';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($filterAvailable !== null) {
            if ('form' === 'deepObject' && is_array($filterAvailable)) {
                foreach ($filterAvailable as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[available]'] = $filterAvailable instanceof DateTime
                    ? $filterAvailable->format(DATE_ATOM)
                    : ($filterAvailable->getEq());
            }
        }



        // query params
        if ($filterPrivate !== null) {
            if ('form' === 'deepObject' && is_array($filterPrivate)) {
                foreach ($filterPrivate as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[private]'] = $filterPrivate instanceof DateTime
                    ? $filterPrivate->format(DATE_ATOM)
                    : ($filterPrivate->getEq());
            }
        }



        // query params
        if ($filterZone !== null) {
            if ('form' === 'deepObject' && is_array($filterZone)) {
                foreach ($filterZone as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['filter[zone]'] = $filterZone instanceof DateTime
                    ? $filterZone->format(DATE_ATOM)
                    : ($filterZone->getEq());
            }
        }



        // query params
        if ($pageSize !== null) {
            if ('form' === 'form' && is_array($pageSize)) {
                foreach ($pageSize as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[size]'] = $pageSize instanceof DateTime
                    ? $pageSize->format(DATE_ATOM)
                    : ($pageSize);
            }
        }



        // query params
        if ($pageBefore !== null) {
            if ('form' === 'form' && is_array($pageBefore)) {
                foreach ($pageBefore as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[before]'] = $pageBefore instanceof DateTime
                    ? $pageBefore->format(DATE_ATOM)
                    : ($pageBefore);
            }
        }



        // query params
        if ($pageAfter !== null) {
            if ('form' === 'form' && is_array($pageAfter)) {
                foreach ($pageAfter as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['page[after]'] = $pageAfter instanceof DateTime
                    ? $pageAfter->format(DATE_ATOM)
                    : ($pageAfter);
            }
        }



        // query params
        if ($sort !== null) {
            if ('form' === 'form' && is_array($sort)) {
                foreach ($sort as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['sort'] = $sort instanceof DateTime
                    ? $sort->format(DATE_ATOM)
                    : ($sort);
            }
        }





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', 'application/problem+json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
