<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use Upsun\ApiException;
use Upsun\Configuration;
use Upsun\HeaderSelector;
use Upsun\ObjectSerializer;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use InvalidArgumentException;
use Upsun\Core\OAuthProvider;

/**
 * Low level RepositoryApi (auto-generated)
 *
 * @author    Upsun SDK Team
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @generated by OpenAPI Generator
 * Do NOT edit this class manually.
 */
final class RepositoryApi extends AbstractApi
{
    private readonly HeaderSelector $headerSelector;
    private Configuration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?Configuration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?HeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            'https://api.upsun.com',
            $streamFactory
        );

        $this->config = $config ?? (new Configuration())->setHost('https://api.upsun.com');

        $this->headerSelector = $selector ?? new HeaderSelector();
    }

    /**
     * Get a blob object
     *
     * Retrieve, by hash, an object representing a blob in the repository backing a project. This endpoint allows direct
     * read-only access to the contents of files in a repo. It returns the file in the `content` field of the response
     * object, encoded according to the format in the `encoding` field, e.g. `base64`.
     *
     * @throws ApiException on non-2xx response
     *
     * @return \Upsun\Model\Blob
     *
     * @see https://docs.upsun.com/api/#tag/Repository/operation/get-projects-git-blobs
     */
    public function getProjectsGitBlobs(
        string $projectId,
        string $repositoryBlobId
    ): \Upsun\Model\Blob {
        return $this->getProjectsGitBlobsWithHttpInfo(
            $projectId,
            $repositoryBlobId
        );
    }

    /**
     * Get a blob object with HTTP Info
     *
     * @return \Upsun\Model\Blob
     *
     * @throws ApiException
     */
    private function getProjectsGitBlobsWithHttpInfo(
        string $projectId,
        string $repositoryBlobId
    ): \Upsun\Model\Blob {
        $request = $this->getProjectsGitBlobsRequest(
            $projectId,
            $repositoryBlobId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Blob',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/projects/{projectId}/git/blobs/{repositoryBlobId}'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'getProjectsGitBlobs'
     *
     * @throws InvalidArgumentException
     */
    private function getProjectsGitBlobsRequest(
        string $projectId,
        string $repositoryBlobId
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling getProjectsGitBlobs'
            );
        }

        // verify the required parameter 'repositoryBlobId' is set
        if (
            $repositoryBlobId === null
            || (is_array($repositoryBlobId)
            && count($repositoryBlobId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $repositoryBlobId 
                when calling getProjectsGitBlobs'
            );
        }
        $resourcePath = '/projects/{projectId}/git/blobs/{repositoryBlobId}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params
        if ($repositoryBlobId !== null) {
            $resourcePath = str_replace(
                '{' . 'repositoryBlobId' . '}',
                ObjectSerializer::toPathValue($repositoryBlobId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
    /**
     * Get a commit object
     *
     * Retrieve, by hash, an object representing a commit in the repository backing a project. This endpoint functions
     * similarly to `git cat-file -p <commit-id>`. The returned object contains the hash of the Git tree that it belongs
     * to, as well as the ID of parent commits. The commit represented by a parent ID can be retrieved using this
     * endpoint, while the tree state represented by this commit can be retrieved using the Get a tree object
     * (https://docs.upsun.com/api/#tag/Git-Repo/paths//projects/{projectId}/git/trees/{repositoryTreeId}/get) endpoint.
     *
     * @throws ApiException on non-2xx response
     *
     * @return \Upsun\Model\Commit
     *
     * @see https://docs.upsun.com/api/#tag/Repository/operation/get-projects-git-commits
     */
    public function getProjectsGitCommits(
        string $projectId,
        string $repositoryCommitId
    ): \Upsun\Model\Commit {
        return $this->getProjectsGitCommitsWithHttpInfo(
            $projectId,
            $repositoryCommitId
        );
    }

    /**
     * Get a commit object with HTTP Info
     *
     * @return \Upsun\Model\Commit
     *
     * @throws ApiException
     */
    private function getProjectsGitCommitsWithHttpInfo(
        string $projectId,
        string $repositoryCommitId
    ): \Upsun\Model\Commit {
        $request = $this->getProjectsGitCommitsRequest(
            $projectId,
            $repositoryCommitId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Commit',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/projects/{projectId}/git/commits/{repositoryCommitId}'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'getProjectsGitCommits'
     *
     * @throws InvalidArgumentException
     */
    private function getProjectsGitCommitsRequest(
        string $projectId,
        string $repositoryCommitId
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling getProjectsGitCommits'
            );
        }

        // verify the required parameter 'repositoryCommitId' is set
        if (
            $repositoryCommitId === null
            || (is_array($repositoryCommitId)
            && count($repositoryCommitId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $repositoryCommitId 
                when calling getProjectsGitCommits'
            );
        }
        $resourcePath = '/projects/{projectId}/git/commits/{repositoryCommitId}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params
        if ($repositoryCommitId !== null) {
            $resourcePath = str_replace(
                '{' . 'repositoryCommitId' . '}',
                ObjectSerializer::toPathValue($repositoryCommitId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
    /**
     * Get a ref object
     *
     * Retrieve the details of a single `refs` object in the repository backing a project. This endpoint functions
     * similarly to `git show-ref <pattern>`, although the pattern must be a full ref `id`, rather than a matching
     * pattern. *NOTE: The `{repositoryRefId}` must be properly escaped.* That is, the ref `refs/heads/master` is
     * accessible via `/projects/{projectId}/git/refs/heads/master`.
     *
     * @throws ApiException on non-2xx response
     *
     * @return \Upsun\Model\Ref
     *
     * @see https://docs.upsun.com/api/#tag/Repository/operation/get-projects-git-refs
     */
    public function getProjectsGitRefs(
        string $projectId,
        string $repositoryRefId
    ): \Upsun\Model\Ref {
        return $this->getProjectsGitRefsWithHttpInfo(
            $projectId,
            $repositoryRefId
        );
    }

    /**
     * Get a ref object with HTTP Info
     *
     * @return \Upsun\Model\Ref
     *
     * @throws ApiException
     */
    private function getProjectsGitRefsWithHttpInfo(
        string $projectId,
        string $repositoryRefId
    ): \Upsun\Model\Ref {
        $request = $this->getProjectsGitRefsRequest(
            $projectId,
            $repositoryRefId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Ref',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/projects/{projectId}/git/refs/{repositoryRefId}'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'getProjectsGitRefs'
     *
     * @throws InvalidArgumentException
     */
    private function getProjectsGitRefsRequest(
        string $projectId,
        string $repositoryRefId
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling getProjectsGitRefs'
            );
        }

        // verify the required parameter 'repositoryRefId' is set
        if (
            $repositoryRefId === null
            || (is_array($repositoryRefId)
            && count($repositoryRefId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $repositoryRefId 
                when calling getProjectsGitRefs'
            );
        }
        $resourcePath = '/projects/{projectId}/git/refs/{repositoryRefId}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params
        if ($repositoryRefId !== null) {
            $resourcePath = str_replace(
                '{' . 'repositoryRefId' . '}',
                ObjectSerializer::toPathValue($repositoryRefId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
    /**
     * Get a tree object
     *
     * Retrieve, by hash, the tree state represented by a commit. The returned object's `tree` field contains a list of
     * files and directories present in the tree. Directories in the tree can be recursively retrieved by this endpoint
     * through their hashes. Files in the tree can be retrieved by the Get a blob object
     * (https://docs.upsun.com/api/#tag/Git-Repo/paths//projects/{projectId}/git/blobs/{repositoryBlobId}/get) endpoint.
     *
     * @throws ApiException on non-2xx response
     *
     * @return \Upsun\Model\Tree
     *
     * @see https://docs.upsun.com/api/#tag/Repository/operation/get-projects-git-trees
     */
    public function getProjectsGitTrees(
        string $projectId,
        string $repositoryTreeId
    ): \Upsun\Model\Tree {
        return $this->getProjectsGitTreesWithHttpInfo(
            $projectId,
            $repositoryTreeId
        );
    }

    /**
     * Get a tree object with HTTP Info
     *
     * @return \Upsun\Model\Tree
     *
     * @throws ApiException
     */
    private function getProjectsGitTreesWithHttpInfo(
        string $projectId,
        string $repositoryTreeId
    ): \Upsun\Model\Tree {
        $request = $this->getProjectsGitTreesRequest(
            $projectId,
            $repositoryTreeId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Tree',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/projects/{projectId}/git/trees/{repositoryTreeId}'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'getProjectsGitTrees'
     *
     * @throws InvalidArgumentException
     */
    private function getProjectsGitTreesRequest(
        string $projectId,
        string $repositoryTreeId
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling getProjectsGitTrees'
            );
        }

        // verify the required parameter 'repositoryTreeId' is set
        if (
            $repositoryTreeId === null
            || (is_array($repositoryTreeId)
            && count($repositoryTreeId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $repositoryTreeId 
                when calling getProjectsGitTrees'
            );
        }
        $resourcePath = '/projects/{projectId}/git/trees/{repositoryTreeId}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params
        if ($repositoryTreeId !== null) {
            $resourcePath = str_replace(
                '{' . 'repositoryTreeId' . '}',
                ObjectSerializer::toPathValue($repositoryTreeId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
    /**
     * Get list of repository refs
     *
     * Retrieve a list of `refs/*` in the repository backing a project. This endpoint functions similarly to `git
     * show-ref`, with each returned object containing a `ref` field with the ref's name, and an object containing the
     * associated commit ID. The returned commit ID can be used with the Get a commit object
     * (https://docs.upsun.com/api/#tag/Git-Repo/paths//projects/{projectId}/git/commits/{repositoryCommitId}/get)
     * endpoint to retrieve information about that specific commit.
     *
     * @throws ApiException on non-2xx response
     *
     * @return \Upsun\Model\Ref[]
     *
     * @see https://docs.upsun.com/api/#tag/Repository/operation/list-projects-git-refs
     */
    public function listProjectsGitRefs(
        string $projectId
    ): array {
        return $this->listProjectsGitRefsWithHttpInfo(
            $projectId
        );
    }

    /**
     * Get list of repository refs with HTTP Info
     *
     * @return \Upsun\Model\Ref[]
     *
     * @throws ApiException
     */
    private function listProjectsGitRefsWithHttpInfo(
        string $projectId
    ): array {
        $request = $this->listProjectsGitRefsRequest(
            $projectId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Ref[]',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/projects/{projectId}/git/refs'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'listProjectsGitRefs'
     *
     * @throws InvalidArgumentException
     */
    private function listProjectsGitRefsRequest(
        string $projectId
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling listProjectsGitRefs'
            );
        }
        $resourcePath = '/projects/{projectId}/git/refs';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
