<?php

namespace Upsun\Api;

use DateTime;
use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;

/**
 * Low level ResourcesApi (auto-generated)
 *
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class ResourcesApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private ApiConfiguration $config;

    public function __construct(
        \Closure $tokenProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?ApiConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $tokenProvider,
            $httpClient,
            $requestFactory,
            AbstractApi::BASE_PATH,
            $streamFactory
        );

        $this->config = $config ?? (new ApiConfiguration())->setHost(AbstractApi::BASE_PATH);

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Get resource metrics by service
     *
     * Returns time-series resource data for one service. Each timestamp contains per-instance metrics. Filter results
     * using aggs[] (min, max, avg, stddev, p50, p95-p99) and types[] (cpu, memory, swap, disk, inodes, pressure
     * metrics). Response grouped by timestamp then instance ID (e.g., "app.0"). All aggregations nullable when
     * insufficient data exists.
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $service (required)
     * @param  int $from (required)
     * @param  int $to (required)
     * @param  string[]|null $aggs (optional)
     * @param  string[]|null $types (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Resources/operation/resources_by_service
     */
    public function resourcesByService(
        string $projectId,
        string $environmentId,
        string $service,
        int $from,
        int $to,
        ?array $aggs = null,
        ?array $types = null
    ): mixed {
        return $this->resourcesByServiceWithHttpInfo(
            $projectId,
            $environmentId,
            $service,
            $from,
            $to,
            $aggs,
            $types
        );
    }

    /**
     * Get resource metrics by service with HTTP Info
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $service (required)
     * @param  int $from (required)
     * @param  int $to (required)
     * @param  string[]|null $aggs (optional)
     * @param  string[]|null $types (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function resourcesByServiceWithHttpInfo(
        string $projectId,
        string $environmentId,
        string $service,
        int $from,
        int $to,
        ?array $aggs = null,
        ?array $types = null
    ): mixed {
        $request = $this->resourcesByServiceRequest(
            $projectId,
            $environmentId,
            $service,
            $from,
            $to,
            $aggs,
            $types
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ResourcesByService200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/observability/resources/service/{service}'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'resourcesByService'
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  string $service (required)
     * @param  int $from (required)
     * @param  int $to (required)
     * @param  string[]|null $aggs (optional)
     * @param  string[]|null $types (optional)
     *
     * @throws InvalidArgumentException
     */
    private function resourcesByServiceRequest(
        string $projectId,
        string $environmentId,
        string $service,
        int $from,
        int $to,
        ?array $aggs = null,
        ?array $types = null
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling resourcesByService'
            );
        }

        if (!preg_match("/[a-z0-9]+/", $projectId)) {
            throw new InvalidArgumentException(
                "invalid value for \"projectId\" when calling ResourcesApi.resourcesByService,
                must conform to the pattern /[a-z0-9]+/."
            );
        }

        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling resourcesByService'
            );
        }

        if (!preg_match("/.+/", $environmentId)) {
            throw new InvalidArgumentException(
                "invalid value for \"environmentId\" when calling ResourcesApi.resourcesByService,
                must conform to the pattern /.+/."
            );
        }

        // verify the required parameter 'service' is set
        if (empty($service)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $service
                when calling resourcesByService'
            );
        }
        // verify the required parameter 'from' is set
        if (empty($from)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $from
                when calling resourcesByService'
            );
        }
        // verify the required parameter 'to' is set
        if (empty($to)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $to
                when calling resourcesByService'
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/observability/resources/service/{service}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($from !== null) {
            if ('form' === 'form' && is_array($from)) {
                foreach ($from as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['from'] = $from instanceof DateTime
                    ? $from->format(DATE_ATOM)
                    : ($from);
            }
        }

        // query params
        if ($to !== null) {
            if ('form' === 'form' && is_array($to)) {
                foreach ($to as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['to'] = $to instanceof DateTime
                    ? $to->format(DATE_ATOM)
                    : ($to);
            }
        }

        // query params
        if ($aggs !== null) {
            if ('form' === 'form' && is_array($aggs)) {
                foreach ($aggs as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['aggs[]'] = $aggs instanceof DateTime
                    ? $aggs->format(DATE_ATOM)
                    : ($aggs);
            }
        }

        // query params
        if ($types !== null) {
            if ('form' === 'form' && is_array($types)) {
                foreach ($types as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['types[]'] = $types instanceof DateTime
                    ? $types->format(DATE_ATOM)
                    : ($types);
            }
        }

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }
        // path params

        if ($service !== null) {
            $resourcePath = str_replace(
                '{' . 'service' . '}',
                ObjectSerializer::toPathValue($service),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Get resource metrics overview
     *
     * Returns time-series resource utilization data for all services. Each timestamp includes per-service metrics: CPU
     * (cores), memory (bytes), swap (bytes), pressure indicators (0.0-1.0), and per-mountpoint disk/inode usage. All
     * metrics include statistical aggregations: min, max, avg, stddev, and percentiles (p50, p95-p99). Service names
     * and mountpoint paths are dynamic. Aggregation values are nullable when insufficient data exists.
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  int $from (required)
     * @param  int $to (required)
     * @param  string|null $service (optional)
     * @param  string[]|null $services (optional)
     * @param  string|null $servicesMode (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Resources/operation/resources_overview
     */
    public function resourcesOverview(
        string $projectId,
        string $environmentId,
        int $from,
        int $to,
        ?string $service = null,
        ?array $services = null,
        ?string $servicesMode = null
    ): mixed {
        return $this->resourcesOverviewWithHttpInfo(
            $projectId,
            $environmentId,
            $from,
            $to,
            $service,
            $services,
            $servicesMode
        );
    }

    /**
     * Get resource metrics overview with HTTP Info
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  int $from (required)
     * @param  int $to (required)
     * @param  string|null $service (optional)
     * @param  string[]|null $services (optional)
     * @param  string|null $servicesMode (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function resourcesOverviewWithHttpInfo(
        string $projectId,
        string $environmentId,
        int $from,
        int $to,
        ?string $service = null,
        ?array $services = null,
        ?string $servicesMode = null
    ): mixed {
        $request = $this->resourcesOverviewRequest(
            $projectId,
            $environmentId,
            $from,
            $to,
            $service,
            $services,
            $servicesMode
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ResourcesOverview200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/observability/resources/overview'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'resourcesOverview'
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  int $from (required)
     * @param  int $to (required)
     * @param  string|null $service (optional)
     * @param  string[]|null $services (optional)
     * @param  string|null $servicesMode (optional)
     *
     * @throws InvalidArgumentException
     */
    private function resourcesOverviewRequest(
        string $projectId,
        string $environmentId,
        int $from,
        int $to,
        ?string $service = null,
        ?array $services = null,
        ?string $servicesMode = null
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling resourcesOverview'
            );
        }

        if (!preg_match("/[a-z0-9]+/", $projectId)) {
            throw new InvalidArgumentException(
                "invalid value for \"projectId\" when calling ResourcesApi.resourcesOverview,
                must conform to the pattern /[a-z0-9]+/."
            );
        }

        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling resourcesOverview'
            );
        }

        if (!preg_match("/.+/", $environmentId)) {
            throw new InvalidArgumentException(
                "invalid value for \"environmentId\" when calling ResourcesApi.resourcesOverview,
                must conform to the pattern /.+/."
            );
        }

        // verify the required parameter 'from' is set
        if (empty($from)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $from
                when calling resourcesOverview'
            );
        }
        // verify the required parameter 'to' is set
        if (empty($to)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $to
                when calling resourcesOverview'
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/observability/resources/overview';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($from !== null) {
            if ('form' === 'form' && is_array($from)) {
                foreach ($from as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['from'] = $from instanceof DateTime
                    ? $from->format(DATE_ATOM)
                    : ($from);
            }
        }

        // query params
        if ($to !== null) {
            if ('form' === 'form' && is_array($to)) {
                foreach ($to as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['to'] = $to instanceof DateTime
                    ? $to->format(DATE_ATOM)
                    : ($to);
            }
        }

        // query params
        if ($service !== null) {
            if ('form' === 'form' && is_array($service)) {
                foreach ($service as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['service'] = $service instanceof DateTime
                    ? $service->format(DATE_ATOM)
                    : ($service);
            }
        }

        // query params
        if ($services !== null) {
            if ('form' === 'form' && is_array($services)) {
                foreach ($services as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['services[]'] = $services instanceof DateTime
                    ? $services->format(DATE_ATOM)
                    : ($services);
            }
        }

        // query params
        if ($servicesMode !== null) {
            if ('form' === 'form' && is_array($servicesMode)) {
                foreach ($servicesMode as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['services_mode'] = $servicesMode instanceof DateTime
                    ? $servicesMode->format(DATE_ATOM)
                    : ($servicesMode);
            }
        }

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }

    /**
     * Get resource metrics summary
     *
     * Returns per-instance resource statistics aggregated over the time range. Filter results using aggs[] (min, max,
     * avg, stddev, p50, p95-p99) and types[] (cpu, memory, swap, disk, inodes, pressure metrics). Response grouped by
     * service name then instance ID (e.g., "app.0", "database.1"). All aggregations nullable when insufficient data
     * exists.
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  int $from (required)
     * @param  int $to (required)
     * @param  string[]|null $aggs (optional)
     * @param  string[]|null $types (optional)
     * @param  string[]|null $services (optional)
     * @param  string|null $servicesMode (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Resources/operation/resources_summary
     */
    public function resourcesSummary(
        string $projectId,
        string $environmentId,
        int $from,
        int $to,
        ?array $aggs = null,
        ?array $types = null,
        ?array $services = null,
        ?string $servicesMode = null
    ): mixed {
        return $this->resourcesSummaryWithHttpInfo(
            $projectId,
            $environmentId,
            $from,
            $to,
            $aggs,
            $types,
            $services,
            $servicesMode
        );
    }

    /**
     * Get resource metrics summary with HTTP Info
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  int $from (required)
     * @param  int $to (required)
     * @param  string[]|null $aggs (optional)
     * @param  string[]|null $types (optional)
     * @param  string[]|null $services (optional)
     * @param  string|null $servicesMode (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function resourcesSummaryWithHttpInfo(
        string $projectId,
        string $environmentId,
        int $from,
        int $to,
        ?array $aggs = null,
        ?array $types = null,
        ?array $services = null,
        ?string $servicesMode = null
    ): mixed {
        $request = $this->resourcesSummaryRequest(
            $projectId,
            $environmentId,
            $from,
            $to,
            $aggs,
            $types,
            $services,
            $servicesMode
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\ResourcesSummary200Response',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/observability/resources/summary'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'resourcesSummary'
     *
     * @param  string $projectId (required)
     * @param  string $environmentId (required)
     * @param  int $from (required)
     * @param  int $to (required)
     * @param  string[]|null $aggs (optional)
     * @param  string[]|null $types (optional)
     * @param  string[]|null $services (optional)
     * @param  string|null $servicesMode (optional)
     *
     * @throws InvalidArgumentException
     */
    private function resourcesSummaryRequest(
        string $projectId,
        string $environmentId,
        int $from,
        int $to,
        ?array $aggs = null,
        ?array $types = null,
        ?array $services = null,
        ?string $servicesMode = null
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling resourcesSummary'
            );
        }

        if (!preg_match("/[a-z0-9]+/", $projectId)) {
            throw new InvalidArgumentException(
                "invalid value for \"projectId\" when calling ResourcesApi.resourcesSummary,
                must conform to the pattern /[a-z0-9]+/."
            );
        }

        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling resourcesSummary'
            );
        }

        if (!preg_match("/.+/", $environmentId)) {
            throw new InvalidArgumentException(
                "invalid value for \"environmentId\" when calling ResourcesApi.resourcesSummary,
                must conform to the pattern /.+/."
            );
        }

        // verify the required parameter 'from' is set
        if (empty($from)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $from
                when calling resourcesSummary'
            );
        }
        // verify the required parameter 'to' is set
        if (empty($to)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $to
                when calling resourcesSummary'
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/observability/resources/summary';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // query params
        if ($from !== null) {
            if ('form' === 'form' && is_array($from)) {
                foreach ($from as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['from'] = $from instanceof DateTime
                    ? $from->format(DATE_ATOM)
                    : ($from);
            }
        }

        // query params
        if ($to !== null) {
            if ('form' === 'form' && is_array($to)) {
                foreach ($to as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['to'] = $to instanceof DateTime
                    ? $to->format(DATE_ATOM)
                    : ($to);
            }
        }

        // query params
        if ($aggs !== null) {
            if ('form' === 'form' && is_array($aggs)) {
                foreach ($aggs as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['aggs[]'] = $aggs instanceof DateTime
                    ? $aggs->format(DATE_ATOM)
                    : ($aggs);
            }
        }

        // query params
        if ($types !== null) {
            if ('form' === 'form' && is_array($types)) {
                foreach ($types as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['types[]'] = $types instanceof DateTime
                    ? $types->format(DATE_ATOM)
                    : ($types);
            }
        }

        // query params
        if ($services !== null) {
            if ('form' === 'form' && is_array($services)) {
                foreach ($services as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['services[]'] = $services instanceof DateTime
                    ? $services->format(DATE_ATOM)
                    : ($services);
            }
        }

        // query params
        if ($servicesMode !== null) {
            if ('form' === 'form' && is_array($servicesMode)) {
                foreach ($servicesMode as $key => $value) {
                    $queryParams[$key] = $value;
                }
            } else {
                $queryParams['services_mode'] = $servicesMode instanceof DateTime
                    ? $servicesMode->format(DATE_ATOM)
                    : ($servicesMode);
            }
        }

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
