<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use Psr\Http\Client\ClientExceptionInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use InvalidArgumentException;
use Upsun\Core\OAuthProvider;

/**
 * Low level RoutingApi (auto-generated)
 *
 * @author    Upsun Advocacy Team
 * @license   MIT
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class RoutingApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;
    private APIConfiguration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?APIConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $oauthProvider,
            $httpClient,
            $requestFactory,
            'https://api.upsun.com',
            $streamFactory
        );

        $this->config = $config ?? (new APIConfiguration())->setHost('https://api.upsun.com');

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Get a route's info
     *
     * Get details of a route from an environment using the `id` of the entry retrieved by the Get environment routes
     * list
     * (https://docs.upsun.com/api/#tag/Environment-Routes/paths//projects/{projectId}/environments/{environmentId}/routes/get)
     * endpoint.
     *
     * @return \Upsun\Model\Route
     *
     * @throws ClientExceptionInterface
     * @throws ApiException on non-2xx response
     *
     * @see https://docs.upsun.com/api/#tag/Routing/operation/get-projects-environments-routes
     */
    public function getProjectsEnvironmentsRoutes(
        string $projectId,
        string $environmentId,
        string $routeId
    ): \Upsun\Model\Route {
        return $this->getProjectsEnvironmentsRoutesWithHttpInfo(
            $projectId,
            $environmentId,
            $routeId
        );
    }

    /**
     * Get a route's info with HTTP Info
     *
     * @return \Upsun\Model\Route
     *
     * @throws ApiException|ClientExceptionInterface
     */
    private function getProjectsEnvironmentsRoutesWithHttpInfo(
        string $projectId,
        string $environmentId,
        string $routeId
    ): \Upsun\Model\Route {
        $request = $this->getProjectsEnvironmentsRoutesRequest(
            $projectId,
            $environmentId,
            $routeId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Route',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/routes/{routeId}'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'getProjectsEnvironmentsRoutes'
     *
     * @throws InvalidArgumentException
     */
    private function getProjectsEnvironmentsRoutesRequest(
        string $projectId,
        string $environmentId,
        string $routeId
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling getProjectsEnvironmentsRoutes'
            );
        }

        // verify the required parameter 'environmentId' is set
        if (
            $environmentId === null
            || (is_array($environmentId)
            && count($environmentId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $environmentId 
                when calling getProjectsEnvironmentsRoutes'
            );
        }

        // verify the required parameter 'routeId' is set
        if (
            $routeId === null
            || (is_array($routeId)
            && count($routeId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $routeId 
                when calling getProjectsEnvironmentsRoutes'
            );
        }
        $resourcePath = '/projects/{projectId}/environments/{environmentId}/routes/{routeId}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params
        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }
        // path params
        if ($routeId !== null) {
            $resourcePath = str_replace(
                '{' . 'routeId' . '}',
                ObjectSerializer::toPathValue($routeId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
    /**
     * Get list of routes
     *
     * Retrieve a list of objects containing route definitions for a specific environment. The definitions returned by
     * this endpoint are those present in an environment's `.upsun/config.yaml` file.
     *
     * @return \Upsun\Model\Route[]
     *
     * @throws ClientExceptionInterface
     * @throws ApiException on non-2xx response
     *
     * @see https://docs.upsun.com/api/#tag/Routing/operation/list-projects-environments-routes
     */
    public function listProjectsEnvironmentsRoutes(
        string $projectId,
        string $environmentId
    ): array {
        return $this->listProjectsEnvironmentsRoutesWithHttpInfo(
            $projectId,
            $environmentId
        );
    }

    /**
     * Get list of routes with HTTP Info
     *
     * @return \Upsun\Model\Route[]
     *
     * @throws ApiException|ClientExceptionInterface
     */
    private function listProjectsEnvironmentsRoutesWithHttpInfo(
        string $projectId,
        string $environmentId
    ): array {
        $request = $this->listProjectsEnvironmentsRoutesRequest(
            $projectId,
            $environmentId
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\Route[]',
                $request,
                $response
            );
        } catch (Exception $e) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $e->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/routes'
                ),
                $request,
                $response ?? null,
                $e
            );
        }
    }

    /**
     * Create request for operation 'listProjectsEnvironmentsRoutes'
     *
     * @throws InvalidArgumentException
     */
    private function listProjectsEnvironmentsRoutesRequest(
        string $projectId,
        string $environmentId
    ): RequestInterface {

        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $projectId 
                when calling listProjectsEnvironmentsRoutes'
            );
        }

        // verify the required parameter 'environmentId' is set
        if (
            $environmentId === null
            || (is_array($environmentId)
            && count($environmentId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $environmentId 
                when calling listProjectsEnvironmentsRoutes'
            );
        }
        $resourcePath = '/projects/{projectId}/environments/{environmentId}/routes';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params
        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            '',
            $multipart
        );

        // for model (json/xml)
        if ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('GET', $uri, $headers, $httpBody);
    }
}
