<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use InvalidArgumentException;
use Psr\Http\Client\ClientExceptionInterface;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use Upsun\Api\Serializer\ObjectSerializer;
use Upsun\Core\TokenProvider;
use Upsun\Model\AcceptedResponse;
use Upsun\Model\EnvironmentOperationInput;

/**
 * Low level RuntimeOperationsApi (auto-generated)
 *
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @generated This file was generated by OpenAPI Generator. Do not edit manually.
 */
final class RuntimeOperationsApi extends AbstractApi
{
    private readonly ApiHeaderSelector $headerSelector;

    private ApiConfiguration $config;

    public function __construct(
        TokenProvider $tokenProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?ApiConfiguration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?ApiHeaderSelector $selector = null,
    ) {
        parent::__construct(
            $tokenProvider,
            $httpClient,
            $requestFactory,
            AbstractApi::BASE_PATH,
            $streamFactory
        );

        $this->config = $config ?? (new ApiConfiguration())->setHost(AbstractApi::BASE_PATH);

        $this->headerSelector = $selector ?? new ApiHeaderSelector();
    }

    /**
     * Execute a runtime operation
     *
     * Execute a runtime operation on a currently deployed environment. This allows you to run one-off commands, such as
     * rebuilding static assets on demand, by defining an `operations` key in a project's `.upsun/config.yaml`
     * configuration. More information on runtime operations is [available in our user
     * documentation](https://docs.upsun.com/anchors/app/runtime-operations/).
     *
     * @param  \Upsun\Model\EnvironmentOperationInput $environmentOperationInput (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
     * @see https://docs.upsun.com/api/#tag/Runtime-Operations/operation/run-operation
     */
    public function runOperation(
        string $projectId,
        string $environmentId,
        string $deploymentId,
        EnvironmentOperationInput $environmentOperationInput
    ): AcceptedResponse {
        return $this->runOperationWithHttpInfo(
            $projectId,
            $environmentId,
            $deploymentId,
            $environmentOperationInput
        );
    }

    /**
     * Execute a runtime operation with HTTP Info
     *
     * @param  \Upsun\Model\EnvironmentOperationInput $environmentOperationInput (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws ClientExceptionInterface
    */
    private function runOperationWithHttpInfo(
        string $projectId,
        string $environmentId,
        string $deploymentId,
        EnvironmentOperationInput $environmentOperationInput
    ): AcceptedResponse {
        $request = $this->runOperationRequest(
            $projectId,
            $environmentId,
            $deploymentId,
            $environmentOperationInput
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders(),
                $request->getBody()
            );

            return $this->handleResponseWithDataType(
                '\Upsun\Model\AcceptedResponse',
                $request,
                $response
            );
        } catch (Exception $exception) {
            throw new ApiException(
                sprintf(
                    '[%d] Error connecting to the API (%s)',
                    $exception->getCode(),
                    '/projects/{projectId}/environments/{environmentId}/deployments/{deploymentId}/operations'
                ),
                $request,
                $response ?? null,
                $exception
            );
        }
    }

    /**
     * Create request for operation 'runOperation'
     *
     * @param  \Upsun\Model\EnvironmentOperationInput $environmentOperationInput (required)
     *
     * @throws InvalidArgumentException
     */
    private function runOperationRequest(
        string $projectId,
        string $environmentId,
        string $deploymentId,
        EnvironmentOperationInput $environmentOperationInput
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (empty($projectId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $projectId
                when calling runOperation'
            );
        }
        // verify the required parameter 'environmentId' is set
        if (empty($environmentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentId
                when calling runOperation'
            );
        }
        // verify the required parameter 'deploymentId' is set
        if (empty($deploymentId)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $deploymentId
                when calling runOperation'
            );
        }
        // verify the required parameter 'environmentOperationInput' is set
        if (empty($environmentOperationInput)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $environmentOperationInput
                when calling runOperation'
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/deployments/{deploymentId}/operations';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;

        // path params

        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params

        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }
        // path params

        if ($deploymentId !== null) {
            $resourcePath = str_replace(
                '{' . 'deploymentId' . '}',
                ObjectSerializer::toPathValue($deploymentId),
                $resourcePath
            );
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($environmentOperationInput)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(
                    ObjectSerializer::sanitizeForSerialization($environmentOperationInput)
                );
            } else {
                $httpBody = $environmentOperationInput;
            }
        } elseif ($formParams !== []) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }

                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }
        if ($this->config->getUpsunClientHeader()) {
            $defaultHeaders['X-Upsun-Client'] = $this->config->getUpsunClientHeader();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }
}
