<?php

namespace Upsun\Api;

use Exception;
use GuzzleHttp\Psr7\MultipartStream;
use Upsun\ApiException;
use Upsun\Configuration;
use Upsun\HeaderSelector;
use Upsun\ObjectSerializer;
use Psr\Http\Client\ClientInterface;
use Psr\Http\Message\RequestFactoryInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\StreamFactoryInterface;
use InvalidArgumentException;
use Upsun\Core\OAuthProvider;

/**
 * Low level RuntimeOperationsApi (auto-generated)
 *
 * @author    Upsun SDK Team
 * @license   Apache-2.0
 * @see       https://docs.upsun.com
 * @internal  This file was generated by OpenAPI Generator. Do not edit manually.
 * @generated
 */
final class RuntimeOperationsApi extends AbstractApi
{
    private readonly HeaderSelector $headerSelector;
    private Configuration $config;

    public function __construct(
        OAuthProvider $oauthProvider,
        ?ClientInterface $httpClient = null,
        ?RequestFactoryInterface $requestFactory = null,
        ?Configuration $config = null,
        ?StreamFactoryInterface $streamFactory = null,
        ?HeaderSelector $selector = null,
    ) {
        parent::__construct($oauthProvider, $httpClient, $requestFactory, 'https://api.platform.sh', $streamFactory);

        $this->config = $config ?? (new Configuration())->setHost('https://api.platform.sh');

        $this->headerSelector = $selector ?? new HeaderSelector();
    }

    public function getConfig(): Configuration
    {
        return $this->config;
    }

    /**
     * Execute a runtime operation
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException|Exception
     */
    public function runOperation(
        string $projectId,
        string $environmentId,
        string $deploymentId,
        \Upsun\Model\EnvironmentOperationInput $environmentOperationInput
    ): \Upsun\Model\AcceptedResponse {
        return $this->runOperationWithHttpInfo(
            $projectId,
            $environmentId,
            $deploymentId,
            $environmentOperationInput
        );
    }

    /**
     * Execute a runtime operation
     *
     * @throws InvalidArgumentException|Exception
     */
    public function runOperationWithHttpInfo(
        string $projectId,
        string $environmentId,
        string $deploymentId,
        \Upsun\Model\EnvironmentOperationInput $environmentOperationInput
    ): \Upsun\Model\AcceptedResponse {
        $request = $this->runOperationRequest(
            $projectId,
            $environmentId,
            $deploymentId,
            $environmentOperationInput
        );

        try {
            $response = $this->sendAuthenticatedRequest(
                $request->getMethod(),
                (string) $request->getUri(),
                $request->getHeaders()
            );
            return $this->handleResponseWithDataType(
                '\Upsun\Model\AcceptedResponse',
                $request,
                $response
            );
        } catch (ApiException $e) {
            throw $e;
        }
    }

    /**
     * Create request for operation 'runOperation'
     *
     * @throws InvalidArgumentException
     */
    public function runOperationRequest(
        string $projectId,
        string $environmentId,
        string $deploymentId,
        \Upsun\Model\EnvironmentOperationInput $environmentOperationInput
    ): RequestInterface {
        // verify the required parameter 'projectId' is set
        if (
            $projectId === null
            || (is_array($projectId)
            && count($projectId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $projectId when calling runOperation'
            );
        }
        // verify the required parameter 'environmentId' is set
        if (
            $environmentId === null
            || (is_array($environmentId)
            && count($environmentId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $environmentId when calling runOperation'
            );
        }
        // verify the required parameter 'deploymentId' is set
        if (
            $deploymentId === null
            || (is_array($deploymentId)
            && count($deploymentId) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $deploymentId when calling runOperation'
            );
        }
        // verify the required parameter 'environmentOperationInput' is set
        if (
            $environmentOperationInput === null
            || (is_array($environmentOperationInput)
            && count($environmentOperationInput) === 0)
        ) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $environmentOperationInput when calling runOperation'
            );
        }

        $resourcePath = '/projects/{projectId}/environments/{environmentId}/deployments/{deploymentId}/operations';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = null;
        $multipart = false;



        // path params
        if ($projectId !== null) {
            $resourcePath = str_replace(
                '{' . 'projectId' . '}',
                ObjectSerializer::toPathValue($projectId),
                $resourcePath
            );
        }
        // path params
        if ($environmentId !== null) {
            $resourcePath = str_replace(
                '{' . 'environmentId' . '}',
                ObjectSerializer::toPathValue($environmentId),
                $resourcePath
            );
        }
        // path params
        if ($deploymentId !== null) {
            $resourcePath = str_replace(
                '{' . 'deploymentId' . '}',
                ObjectSerializer::toPathValue($deploymentId),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            'application/json',
            $multipart
        );

        // for model (json/xml)
        if (isset($environmentOperationInput)) {
            if ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode(ObjectSerializer::sanitizeForSerialization($environmentOperationInput));
            } else {
                $httpBody = $environmentOperationInput;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($this->headerSelector->isJsonMime($headers['Content-Type'])) {
                $httpBody = json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();

        $uri = $this->createUri($operationHost, $resourcePath, $queryParams);

        return $this->createRequest('POST', $uri, $headers, $httpBody);
    }
}
